@import "../font/flaticon.css";
.sld_section {    position: relative;  background-repeat: no-repeat;   background-size: cover;
/*    box-shadow: 0px 1px 5px -2px #888 inset;
    padding-bottom: 15px;*/ overflow: hidden;display: inline-block;width: 100%;float: left; }
/*.demo-centering{overflow: hidden;
display: inline-block;}*/
.bnr_ovr_txt {   position: absolute;   bottom: 3px;   background:#fff ;   float: left;   width: 1207px;   height: 117px;}
.bnr_over_info{padding: 26px 42px !important;box-sizing: border-box;color:#f15a21;}
.bnr_over_info .bold_font{font-size: 30px;margin-bottom: 5px;}
.bnr_over_info .test_dateicon {font-size: 18px;color: #F15A21;}
.bnr_over_info .test_dateicon p{font-size: 18px;color: #F15A21;}
/*.demo-centering{display:inline-block;}*/
.slide img { width: 100%;height: auto;}
.slide > * {  max-width: 100%;}
.slider .slide-prev , .slider .slide-next{ cursor: pointer; height: 48px; width: 48px; position: absolute; top: 44%; margin-top: -24px; background-color: rgba(255,255,255,0.8); padding: 0px; opacity: 0.8;}
.slider .slide-prev  { left: 0;}
.slider .slide-next  { right: 0;}
.slider .slide-prev:before, .slider .slide-next:before { display: block; width: 48px; height: 48px; font-size: 40px; line-height: 50px; text-align: center; font-family: 'Flaticon'; position: absolute;}
.slider .slide-prev:before { content:"\e009"; left:-8px;}
.slider .slide-next:before { left: -3px; content:"\e008"; }
.slider .slide-next:hover, .slider .slide-prev:hover { background-color: rgba(255,255,255,0.9);}
ul.es-pager {   position: absolute;    padding: 0px;    line-height: 0px;    right: 15px;    top: 8px;}
ul.es-pager li {    display: inline-block;    margin: 2px;    padding: 0px;   height: 3px;   width: 3px;   cursor: pointer;   border: 2px solid #888;   border-radius: 7px;}
ul.es-pager li.act {   cursor: default;}
ul.es-pager {   line-height: 0px;}
.main_wrappr {   width: 1207px;   margin: 0px auto;   overflow: hidden;}
/*.main_wrappr.slidecont{position: relative;}*/
.main_wrappr1 {  width: 1207px;  margin: 0px auto;  overflow: hidden;}
.cont{position: relative;    width: 100%;   margin: 0px auto;float: left;display: inline-block;    overflow: hidden;}
.cont .shadow {   position: absolute;   background-size: 100% 100%;   top: 0px;   left: 0px; height: 14px;   width: 100%;   background: transparent url("../images/shdow.png") no-repeat scroll center top;   background-size: 100% 100%;}
.cont .shadow1 {   position: absolute;   background-size: 100% 100%;   bottom: 0px;   left: 0px;   height: 14px;   width: 100%; background: transparent url("../images/shdow.png") no-repeat scroll center top;    background-size: 100% 100%;}
.main_wrappr.info{position:relative;padding: 59px 0px 54px 0px;}
.main_wrappr .course_panel{margin: 0px 0px 54px -10px;overflow: hidden;}
.main_wrappr .course_panel .course_div{float: left;width: 16.64%;padding: 54px 0px 0px 10px;box-sizing: border-box;}
.main_wrappr .course_panel .course_div .course_detail{border: 1px solid #cccccc;height: 362px;cursor: pointer;position: relative;}
.main_wrappr .course_detail  .course_img{height:124px;}
.main_wrappr .course_detail .course_img img{width:100%;height: 100%;}
.main_wrappr .course_detail .course_des{height:176px;border-bottom: 1px solid #ccc;padding: 11px;box-sizing: border-box;}
.main_wrappr .course_detail .course_des .course_desp{font-size: 13px;}
.main_wrappr .course_detail .course_des h3{color:#f05924;font-size:17px;font-weight: 600;margin-bottom: 6px;}
.main_wrappr .course_detail:hover .course_des ,.main_wrappr .course_detail:hover .course_des p,.main_wrappr .course_detail:hover .course_viewmore span{background-color: #14944a; color:#fff;}
.main_wrappr .course_detail.uk:hover .course_des h3,.main_wrappr .course_detail.uk:hover .course_des,.main_wrappr .course_detail.uk:hover .course_des p,.main_wrappr .course_detail.uk:hover .course_viewmore span{background-color: #fff; color: #F05924;}
.main_wrappr .course_detail:hover .course_viewmore span{border:1px solid #14944a;}
.main_wrappr .course_detail:hover .course_des h3,.main_wrappr .course_detail:hover .course_des p,.main_wrappr .course_detail:hover .course_viewmore span{color:#fff;}
.main_wrappr .course_detail .course_viewmore{height: 70px;padding-top:23px;box-sizing: border-box;text-align: center;}
.main_wrappr .course_detail .course_viewmore a{text-decoration: none;}
.main_wrappr .course_detail .course_viewmore span{border: 1px solid #f05924;padding: 6px 11px;color:#f05924;}
/*uk course start*/
.main_wrappr .course_detail .course_des.ukdetail {border-bottom:0;}
.course_des ul {   display: inline-block;   width: 100%;}
.course_des ul li:hover .vmbot1,.course_des.ukdetail ul li:hover .more_btn{color:#fff;background-color: #14944A;}
.course_des.ukdetail ul li:hover .more_btn{border: 1px solid #14944A;}
.course_des ul li{    border-bottom: 1px solid #14944A;padding: 10px 0px;}
.course_des ul li:last-child{    border-bottom: none;}
.course_des ul li .course_name { position: relative;line-height: 26px;vertical-align: top;color: #F05924;    display: inline-block;text-decoration: none;    font-size: 13px;    font-weight: 700;}
.course_des ul li .vmbot1{display: inline-block;float: right;}
.course_des ul li .course_name i {width: 18px;height: 19px;float:left;font-family: "Flaticon";font-style: normal;color: #F05924;transition: all 0.2s ease-in 0s;}
.course_des ul li a i::before {content: "\e008"; padding: 6px 0px;}
.course_des.ukdetail ul li .more_btn {  /* background: transparent url("../images/home-veiw.png") no-repeat scroll 0% 0% / 78px auto;*/ border: 1px solid #F05924;text-decoration: none;  padding: 2px 5px;color: #F05924;display: inline-block;   line-height: 20px;   float: right;   width: 63px;   font-size: 10px;   font-weight: 400;}
.main_wrappr .leftsection {   float: left;height: 820px;position: relative;   width: 25.5%;border: 1px solid #ccc;   overflow: hidden;box-shadow: 0px 3px 2px 0px #979797;margin-bottom: 15px;}
.course_des ul li .last_course{line-height: 16px;margin-bottom: 6px}
.course_des ul .dentistry_course{padding: 10px 0px 37px 0px;}
/*.leftsection  .catgrylist {    width: 100%;    box-sizing: border-box;}
.leftsection ul {   height: 547px;   overflow-y: auto;}*/
.leftsection ul a{    text-decoration: none;cursor: pointer;}
.catgrylist { width: 100%; box-sizing: border-box;}
.catgrylist li { display: block; position: relative; padding: 0 15px; -webkit-transform: translateZ(0); -ms-transform: translateZ(0); -moz-transform: translateZ(0); -o-transform: translateZ(0); transform: translateZ(0); box-shadow: 0 0 1px rgba(0, 0, 0, 0); -webkit-backface-visibility: hidden; -moz-backface-visibility: hidden; -ms-backface-visibility: hidden; -o-backface-visibility: hidden; backface-visibility: hidden; -moz-osx-font-smoothing: grayscale; position: relative; -webkit-transition-property: color; -moz-transition-property: color; -ms-transition-property: color; -o-transition-property: color; transition-property: color; -webkit-transition-duration: 0.3s; -moz-transition-duration: 0.3s; -ms-transition-duration: 0.3s; -o-transition-duration: 0.3s; transition-duration: 0.3s; }
.catgrylist li:after { background: #20ac41; content: ""; position: absolute; z-index: -1; top: -1px; left: 0; right: 0; bottom: 0; -webkit-transform: scaleX(0); transform: scaleX(0); -webkit-transform-origin: 0 50%; transform-origin: 0 50%; -webkit-transition-property: transform; transition-property: transform; -webkit-transition-duration: 0.3s; -moz-transition-duration: 0.3s; -ms-transition-duration: 0.3s; -o-transition-duration: 0.3s; transition-duration: 0.3s; -webkit-transition-timing-function: ease-out; transition-timing-function: ease-out; }
.catgrylist li:hover:after { background: #20ac41; -webkit-transform: scaleX(1); transform: scaleX(1); border-bottom: 1px solid #20ac41;}
.catgrylist li a { font-size: 16px; display: block; padding: 12px 0; border-bottom: 1px solid #20ac41; color: #444; text-transform: none; -webkit-transition-property: color; -moz-transition-property: color; -ms-transition-property: color; -o-transition-property: color; transition-property: color; -webkit-transition-duration: 0.3s; -moz-transition-duration: 0.3s; -ms-transition-duration: 0.3s; -o-transition-duration: 0.3s; transition-duration: 0.3s; }
.catgrylist li:nth-child(1) a { padding-top: 15px; }
.catgrylist li:last-child a { border-bottom: 0; }
.catgrylist li a.last { border-bottom: none; margin-bottom: 0; padding-bottom: 15px; }
.catgrylist li a:hover { color: #fff; border-color: #20ac41;/*margin-top: -1px; */}
.main_wrappr.info h3{height: 50px;line-height: 50px;color: #fff;padding-left: 56px;font-size:20px;font-weight: 600;
background: rgba(113,184,26,1);
background: -moz-linear-gradient(top, rgba(113,184,26,1) 0%, rgba(1,167,79,1) 100%);
background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(113,184,26,1)), color-stop(100%, rgba(1,167,79,1)));
background: -webkit-linear-gradient(top, rgba(113,184,26,1) 0%, rgba(1,167,79,1) 100%);
background: -o-linear-gradient(top, rgba(113,184,26,1) 0%, rgba(1,167,79,1) 100%);
background: -ms-linear-gradient(top, rgba(113,184,26,1) 0%, rgba(1,167,79,1) 100%);
background: linear-gradient(to bottom, rgba(113,184,26,1) 0%, rgba(1,167,79,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#71b81a', endColorstr='#01a74f', GradientType=0 );}
.main_wrappr .rgtsection {   float: right;   width: 74.2%;   box-sizing: border-box;}
.main_wrappr .rgtsection .sec_cont{margin-left: -10px;overflow: hidden;}
.rgtsection .news_sec{float: left;width: 55%;box-sizing: border-box;padding-left: 20px;}
.rgtsection .sec_cont .news_sec .news_detail{border: 1px solid #CCC;height: 460px;box-shadow: 0px 3px 2px 0px #979797;margin-bottom: 15px;cursor: pointer;position: relative;}
.rgtsection .sec_cont .news_sec .news_detail.topper{height: 385px;overflow: hidden;}
.rgtsection .sec_cont .enquery_form{float: left;width: 45%;box-sizing: border-box;padding-left: 10px;}
.rgtsection .sec_cont .enquery_form .form_detail{border: 1px solid #CCC;height: 460px;box-shadow: 0px 3px 2px 0px #979797;margin-bottom: 15px;cursor: pointer;position: relative;}
.rgtsection .sec_cont .enquery_form .form_detail.gallary{height: 385px;    overflow: hidden;}
.main_wrappr.info .inr_title i {   position: absolute;   left: 14px;   top: 5px;   width: 36px;   height: 35px;}
.news_detail .news_cont{width:100%;padding: 13px 22px 0px 22px;box-sizing: border-box;overflow: hidden;}
.news_detail .news_cont1{border-bottom: 1px solid #14944a;overflow: hidden;padding-bottom: 13px;}
.news_detail  .news_cont1 .news_date_div{width: 72px;float:left;text-align: center;}
.news_detail .news_date_div .news_month{padding: 0px 22px 0px 0px;box-sizing: border-box;}
.news_detail .news_date_div .news_date{padding: 0px 22px 0px 0px;box-sizing: border-box;}
.news_detail  .news_month .month{padding: 4px 3px;display: block;border: 1px solid #F05924;color: #F05924;}
.news_detail .news_date .date{padding: 5px 3px;display: block;background-color: #14944a;font-size: 17px;color:#fff;}
.news_detail .news_info{width:83%;float:right;color: rgb(68, 68, 68);font-size: 14px;position:relative;}
.news_detail .rade_more1 .read_more{position: absolute;border: 1px solid #F05924;color: #F05924;bottom: -18px;left: 0px;padding: 2px 3px;font-size: 10px;}
.news_detail .rade_more1 .read_more a{text-decoration: none;color:#F05924;}
.news_detail .rade_more1 .read_more:hover {background-color: #F05924;color:#fff;}
.news_detail .rade_more1 .read_more:hover a{color:#fff;}
.news_detail .news_info .news_cont_detail{height: 40px;overflow: hidden;margin-top: -2px;}
.news_detail .news_info .news_cont_detail span.desc_cont{font-size: 12px;color: #626262;}
.main_wrappr.info .spritehome_new {   background-image: url("../images/Sprithomenew.png");   background-repeat: no-repeat;}
 .main_wrappr.info .inr_title i.usefulllink {background-position: -3px -4px;}
 .main_wrappr.info .inr_title i.news{background-position: -73px -6px;}
 .main_wrappr.info .inr_title i.form {background-position: -142px -8px;}
  .main_wrappr.info .inr_title i.topper{background-position: -106px -5px;}
  .main_wrappr.info .inr_title i.photo{background-position: -37px -7px;}
  /*css for enquery form start*/
  .enquiry_content_main {  width: 99.6%;  float: left;  position: relative;}
.enquiry_content {    width: 100%;    float: left;}
.enquiry_content_more {   width: 90%;   float: left;   padding: 17px 0px 0px 5%;}
.career_box {   width: 100%;   float: left;   padding: 0px 0px 8px;}
.career_box1 {    width: 100%;    float: left;}
.right_ip_1 {    width: 100%;    float: right;}
.submit_enquiry {    width: auto;    float: left;    margin: 15px 0px 15px;    line-height: 22px;    color: #FFF;width: 109px;height: 42px;}
.submit_enquiry a {   font-family: "pt_sansbold";   font-size: 18px;   color: #FFF;  padding: 10px 27px 9px;   text-decoration: none;   float: left; background-color:#14944a;   cursor: pointer;    position: relative;   transition: all 0.2s ease 0s;}
.error_msg_box {    display: none;    color: #F00;    padding: 12px 0px;    float: right;    font-size: 14px;    margin: 0px 4px 0px 0px;    text-align: center;    border-radius: 4px; animation-name: shake; animation-duration: 1s; animation-fill-mode: both;}
.career_select_input_1 {    width: 99.4%;    float: left;    padding: 6px 10px 5px;    margin: 0px 0px 3px;    border: 1px solid #d5dce2;    font-family: "pt_sansregular";    font-size: 15px;    color: #a1a1a1;    border-radius: 3px;    background: transparent linear-gradient(to bottom, #FFF 0%, #F7F7F7 100%) repeat scroll 0% 0%;}
.career_inp_1 {  width: 95%;   float: left;   color: #A1A1A1; border: 1px solid #d5dce2;    font-family: "pt_sansregular";    font-size: 15px;    margin: 0px 0px 3px;    padding: 7px 2% 6px;    border-radius: 3px;    background: transparent linear-gradient(to bottom, #FFF 0%, #F7F7F7 100%) repeat scroll 0% 0%;}
 /*css for enquery form end*/
 /*css for topper talk start*/
.news_detail .iframe_div{height: 220px;padding: 5px;box-sizing: border-box;}
.iframe_div.iframe_control{width: 100% !important;} 
#spidochetube_player {    float: left;    height: 230px;    width: 100%;}
#player{height: 220px !important;width: 100% !important;}
.video_cont .rgt_prt1{padding: 5px 5px 10px 5px;overflow: hidden;}
.rgt_prt1  .stu_name_video  p{font-size: 15px;font-weight: 600;color: #414141;line-height: 22px;}
.video_cont .stu_info_video{font-size: 14px;color: #414141;}
   /*css for topper talk end*/
  /*css for photo gallery end*/
.form_detail .inr_cnttr {    padding: 15px px;    overflow: hidden;}
.form_detail .arwsldcntr {    width: 100%;    overflow: hidden;}
.owl-carousel .owl-wrapper-outer {   overflow: hidden;   width: 100%;padding: 5px 31px 0px 31px;box-sizing: border-box;}
.item {   width: 84%;   background-color: #FFF;   box-sizing: border-box;   margin: 0px 0px;padding: 0%;}
.video_cont .item{width: 87%;}
.owl-buttons {    position: absolute;    width: 100%;    top: 7px;}
.owl-prev {   position: absolute;   float: left;;/*    left: -21px;*/background-position: 309px -9px;width: 33px;height: 60px;margin-left: -2px;}
.owl-next {    position: absolute;    float: right;    right: 0px;    background-position: 360px -9px;    margin-right: 0px;    width: 34px;    height: 60px;}
.owl-next, .owl-prev {    top: 72px;    background-image: url("../images/Sprithomenew.png");}
.owl-controls .owl-buttons div, .owl-controls .owl-page {   cursor: pointer;}
.item .rgt_prt{padding: 10px 0px;}
.item .rgt_prt p{font-size: 15px;font-weight: 600;color:#414141;line-height: 22px;}
.item .rgt_prt .stu_name p.first_para{font-size: 15px;}
.item .rgt_prt .stu_name p.second_para{font-size: 14px;}
 .item .rgt_prt .stu_info{font-size:13px;color:#414141;}
.item img {   width: 100%;height: 210px}
 /*css for photo gallery end*/
/*  css for footer start*/
.footernew {    width: 100%;margin-top: 48px;    background: #484848;    font-family: "calibrilight";    font-size: 13px;    font-weight: 400;    float: left; color: #606060;   border-top: 1px solid #F1F1F1;padding: 0px;background-image: url(../images/Footer_Background.jpg);}
.footernew .main_wrappr.foot1{padding: 32px 0px 32px 0px;}
.footer-bottom { width: 100%;  float: left;height: 31px;line-height: 31px;  padding:0px;  background-color: #312f30;}
.footer-bottom a{color: #fefefe; text-decoration: none;}
 .main_wrappr .footer-left {  width: 76%;  float: left;}
.footer-bottom .bottom_left{display:inline-block;float:left;width: 50%;}
.footer-bottom .bottom_right{display:inline-block;float:right;color: #fefefe;}
.main_wrappr .footer-right {   width: 23%;  float: right;}
.footer-left  .info_prt{width:24%;display:inline-block;margin: 0px auto;color: #fefefe;vertical-align: top;}
.footer-right .followuson {  float: left;margin-top: 10px; width: 100%;  text-align: left;}
.ft_ttl {  font-size: 20px;font-weight: 600;  margin-bottom: 10px;  text-align: left;  color: #FFF;}
.info_prt ul li{font-size:16px;}
.info_prt ul li a{cursor: pointer;text-decoration: none;color:#fff;}
.info_prt ul li a:hover{color:#d7562c;}
.followuson ul li{display: inline-block;float: left;}
.followuson a {text-decoration: none;    display: inline-block;    margin: 0px 7px;    font-family: "Flaticon";    border-radius: 50%;    font-style: normal;  width: 25px;   height: 25px;   line-height: 25px;   overflow: hidden;   font-size: 20px;   padding: 3px;   color: #F0FFFF;   border: 2px solid #F0FFFF;   transition: all 0.2s ease-in 0s;}
.followuson a:hover{background: #fff none repeat scroll 0% 0%;color:#484848;}
.followuson a.fb:before {   content: "\e074";   padding: 6px 0px;}
.followuson a.twt:before{ content: "\e14d";}
.followuson a.gpls:before{ content: "\e097";}
.followuson a.yt:before{ content: "\e0ea";}
.followuson a.linkedin:before{content: "";}
.google_plus a { background-position: -11px -81px; }
.apple_store a {  background-position: -11px -140px;  }
.e-book_store a {  background-position: 135px -310px;}
.CLOUD_Android a { background-position: -2px -643px;}
.CLOUD_IOS a {background-position: 687px -139px;}
.e-book_ios a {background-position: 687px -183px;}
.follow a{ background-image: url("../images/Sprithomenew.png");display: block; height: 46px; color: transparent;  text-indent: -9999px;}
.google_plus {   width: 130px;   float: left;}
.apple_store {  width: 122px;  float: left;  margin: 0px 0px 0px 10px;}
.e-book_store {    width: 122px;    float: left;    margin: 0px 0px 0px 0px;}
.CLOUD_Android {   width: 130px;   float: left;margin: 0px 0px 0px 10px;}
.e-book_ios {   width: 130px;   float: left;margin: 0px 0px 0px 10px;}
.CLOUD_IOS {   width: 130px;   float: left; margin: 0px 0px 0px 0px;}
.main_wrappr.info .inr_title i.topper{background-position: -106px -5px;}
.social-icon {  width: 48px;    float: left;    position: fixed;    left: 0px;    top: 367px;    z-index: 9;}
.fixsocialapp {   position: fixed; top: 367px; right: 0px; width: 65px;}
.close{display:none;}
 /*css for footer end*/
/*accordian css start12*/
#cssmenu,
#cssmenu ul,
#cssmenu ul li,
#cssmenu ul li a { margin: 0; padding: 0; border: 0; list-style: none; line-height: 1; display: block; position: relative;
 -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
/*#cssmenu ul li{padding: 0px 10px;}*/
#cssmenu ul li.active ul li.has-sub{padding:0px;}
#cssmenu { font-family: Helvetica, Arial, sans-serif;  color: #ffffff;}
#cssmenu ul ul {  display: none;}
.align-right { float: right;}
#cssmenu > ul > li > a{border-bottom: 1px solid #20AC41;}
#cssmenu > ul > li > a { padding: 15px 20px; cursor: pointer; z-index: 2; font-size: 15px;/*  font-weight: bold;*/  text-decoration: none;  color: #444;  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.15);}
#cssmenu > ul > li > a:hover,
#cssmenu > ul > li.active > a,
#cssmenu > ul > li.open > a {  color: #444;}
#cssmenu > ul > li.open > a {/*  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.15), 0 1px 1px rgba(0, 0, 0, 0.15);*/}
#cssmenu > ul > li:last-child > a,
#cssmenu > ul > li.last > a { border-bottom: 0;}
.holder { width: 0;  height: 0;  position: absolute;  top: 0;  right: 0;}
.holder::after,
.holder::before { display: block; position: absolute; content: ""; width: 6px; height: 6px;right: 20px; z-index: 10;
  -webkit-transform: rotate(-135deg);
  -moz-transform: rotate(-135deg);
  -ms-transform: rotate(-135deg);
  -o-transform: rotate(-135deg);
  transform: rotate(-135deg);
}
/*.holder::after {
  top: 17px;
  border-top: 2px solid #ffffff;
  border-left: 2px solid #ffffff;
}*/
#cssmenu > ul > li > a:hover > span::after,
#cssmenu > ul > li.active > a > span::after,
#cssmenu > ul > li.open > a > span::after {  border-color: #eeeeee;}
.holder::before {  top: 18px;  border-top: 2px solid;  border-left: 2px solid;  border-top-color: inherit;  border-left-color: inherit;}
#cssmenu ul ul li a {  cursor: pointer;border-bottom: 1px solid #FFF;  padding: 10px 20px;  z-index: 1;  text-decoration: none;  font-size: 13px;  color: #444;background: #F2F2F2 none repeat scroll 0% 0%;  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1);}
#cssmenu ul ul li:hover > a,
#cssmenu ul ul li.open > a,
#cssmenu ul ul li.active > a {  color: #fff;}
#cssmenu ul ul li:first-child > a {  box-shadow: none;}
#cssmenu ul ul ul li:first-child > a {  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1);}
#cssmenu ul ul ul li a { padding-left: 30px;}
#cssmenu > ul > li > ul > li:last-child > a,
#cssmenu > ul > li > ul > li.last > a { border-bottom: 0;}
#cssmenu > ul > li > ul > li.open:last-child > a,
#cssmenu > ul > li > ul > li.last.open > a {  border-bottom: 1px solid #32373e;}
#cssmenu > ul > li > ul > li.open:last-child > ul > li:last-child > a {  border-bottom: 0;}
/*#cssmenu ul ul li.has-sub > a::after {  display: none;  position: absolute;  content: "";  width: 5px;  height: 5px;  right: 20px;  z-index: 10; top: 11.5px;
  border-top: 2px solid #eeeeee;
  border-left: 2px solid #eeeeee;
  -webkit-transform: rotate(-135deg);
  -moz-transform: rotate(-135deg);
  -ms-transform: rotate(-135deg);
  -o-transform: rotate(-135deg);
  transform: rotate(-135deg);
}*/
#cssmenu ul ul li.active > a::after,
#cssmenu ul ul li.open > a::after,
#cssmenu ul ul li > a:hover::after { border-color: #ffffff;}
#cssmenu .accordion-header { display: block; position: relative; padding: 0 15px; -webkit-transform: translateZ(0); -ms-transform: translateZ(0); -moz-transform: translateZ(0); -o-transform: translateZ(0); transform: translateZ(0); box-shadow: 0 0 1px rgba(0, 0, 0, 0); -webkit-backface-visibility: hidden; -moz-backface-visibility: hidden; -ms-backface-visibility: hidden; -o-backface-visibility: hidden; backface-visibility: hidden; -moz-osx-font-smoothing: grayscale; position: relative; -webkit-transition-property: color; -moz-transition-property: color; -ms-transition-property: color; -o-transition-property: color; transition-property: color; -webkit-transition-duration: 0.3s; -moz-transition-duration: 0.3s; -ms-transition-duration: 0.3s; -o-transition-duration: 0.3s; transition-duration: 0.3s; }
#cssmenu a:after { background: #20ac41; content: ""; position: absolute; z-index: -1; top: -1px; left: 0; right: 0; bottom: 0; -webkit-transform: scaleX(0); transform: scaleX(0); -webkit-transform-origin: 0 50%; transform-origin: 0 50%; -webkit-transition-property: transform; transition-property: transform; -webkit-transition-duration: 0.3s; -moz-transition-duration: 0.3s; -ms-transition-duration: 0.3s; -o-transition-duration: 0.3s; transition-duration: 0.3s; -webkit-transition-timing-function: ease-out; transition-timing-function: ease-out; }
#cssmenu a:hover:after { background: #20ac41; -webkit-transform: scaleX(1); transform: scaleX(1); border-bottom: 1px solid #20ac41;}
#cssmenu .accordion-header { font-size: 16px; display: block;padding: 12px 15px; border-bottom: 1px solid #20ac41; color: #444; text-transform: none; -webkit-transition-property: color; -moz-transition-property: color; -ms-transition-property: color; -o-transition-property: color; transition-property: color; -webkit-transition-duration: 0.3s; -moz-transition-duration: 0.3s; -ms-transition-duration: 0.3s; -o-transition-duration: 0.3s; transition-duration: 0.3s; }
#cssmenu > ul > li > a:hover { color: #fff; border-color: #20ac41;/*margin-top: -1px; */}
#cssmenu ul ul li.has-sub:after{background: #20AC41 none repeat scroll 0% 0%;content: "";position: absolute;z-index: -1;top: -1px;left: 0px;right: 0px;bottom: 0px;transform: scaleX(0);transform-origin: 0px 50% 0px;transition-property: transform;transition-duration: 0.3s;transition-timing-function: ease-out;}
#cssmenu ul ul li.has-sub:hover:after { background: #20AC41 none repeat scroll 0% 0%; transform: scaleX(1); border-bottom: 1px solid #20AC41;}
/*accordian css start12*/
.news_sec .news_detail .view_more{position: absolute;bottom: 3px;right: 19px;background-color: rgb(20, 148, 74);height: 18px;padding: 5px;}
.news_detail .view_more .view_more_a{color: rgb(255, 255, 255);box-sizing: border-box;padding: 5px 10px;font-size: 14px;text-decoration: none;}
.news_detail .view_more .view_more_a span { width: 15px;  float: right; background: transparent url("../images/sprite.png") no-repeat scroll -33px -28px;  height: 15px; margin: 1px 0px 0px 5px;}
.social-icon {  width: 48px;    float: left;    position: fixed;    left: 0px;    top: 367px;    z-index: 9;}
.fixsocialapp {   position: fixed; top: 367px; right: 0px; width: 65px;}
.close{display:none;}
.enquiry-right-btn {top: 368px;}