body{ margin:0; padding:0; font-size:14px; font-family: 'ralewayregular'; overflow-y:scroll;}
h1, h2, h3, h4, p, ul{ margin:0;}
ul{ padding:0;}
a{ text-decoration:none;}
img, a, button, submit, select, input{ outline:none;}
img{ border:0;}
.sprite{ background-image:url(../images/sprite.png); background-repeat:no-repeat;}
.wrapper_main{ width:1000px; margin:0 auto; overflow:hidden;}
.header{ background:#fff; height:77px; /*border-bottom:12px solid #009E39;*/ overflow:hidden;}
.hdr_sprt{ }
.logo{ float:left; margin-top:4px;}
.login_rgt{ float:right; line-height:77px; background:#EB6126; color:#fff; font-family: 'ralewayblack'; font-weight:normal; text-transform:uppercase; padding: 0 15px;}
.login_rgt:hover{ background:#009E39;}
/*Manin menu start*/
.nav_cntr { float:right; margin-top: 30px; margin-right: 10px; }
.toggleMenu { display: inline-block; color: #0089d0; font-size: 36px; margin-right: 10px; margin-top: 10px;}
.menu_icon { float: right; height: 21px; position: relative; width: 25px;}
.menu_icon i { background: #0089d0; display: block; height: 5px; margin-bottom: 4px; width: 100%;}
.nav { list-style: none; *zoom: 1; padding: 0; margin: 0; }
.nav:before, .nav:after { content: " "; display: table; }
.nav:after { clear: both; }
.nav ul { list-style: none; width: 9em; }
.nav a { padding: 0px 17px; margin: 0; color: #555555; border-right:1px solid #555; font-size: 14px; text-transform: uppercase; font-family: 'ralewaymedium'; }
.nav a.last { border:none;}
.nav li { position: relative; }
.nav > li { float: left; }
.nav > li > .parent { background-image: url("images/downArrow.png"); background-repeat: no-repeat; background-position: right; }
.nav > li > a { display: block; transition: none; }
.nav > li > a:hover { color: #fe5c00; }
.nav li ul { position: absolute; left: -9999px; }
.nav > li.hover > ul { left: 0; }
.nav li li.hover ul { left: 100%; top: 0; }
.nav li li a { display: block; background: #1d7a62; position: relative; z-index: 100; border-top: 1px solid #175e4c; }
.nav li li li a { background: #249578; z-index: 200; border-top: 1px solid #1d7a62; }
/*Main menu end*/

.bnr_section{ width:100%; background-image:url(../images/h_banner.jpg); background-repeat:no-repeat; background-size:cover; position:relative;}
.impornt_dts{ width:310px; background:rgba(0,158,57,0.9); margin:35px 0; border-radius:0 0 10px 10px;}
.impornt_dts .title{ float:left; padding:0 15px; height:40px; line-height:40px; font-size:18px; background:#fe5c00; color:#ffffff; font-family: 'ralewayextrabold'; font-weight:normal; text-transform:uppercase;}
.impornt_dts .orng_crv{ display:inline-block; width:25px; height:40px; background-position:-3px -2px;}
.impornt_dts ul{ margin: 25px; display: inline-block;}
.impornt_dts ul li{ display:block; margin-bottom:25px; position: relative; padding-left: 40px; color:#fff; text-transform:uppercase; font-size:18px; font-family: 'ralewaymedium'; }
.impornt_dts ul li i{ display: inline-block; width: 30px; height: 30px; background-position: -35px 0px; position: absolute; left: 0; top: 0;}
.impornt_dts ul li span{ display:inline-block; font-size:14px; clear:both;}

.features_cntr{ display:block; margin-left:-35px; margin-top:45px; overflow:hidden;}
.features_cntr .widget{ float:left; width:26%; height: 415px; padding-left:35px; padding-right: 35px; padding-top:25px; margin-top:6px;}
.features_cntr .widget.first{ border-right:1px dotted #bdbdbd;}
.features_cntr .widget.selected{ background:url(../images/tour_img.png) no-repeat right bottom #009E39; box-shadow: 0px 0px 8px 0px #777;}
.features_cntr .widget.selected .title, .features_cntr .widget.selected ul li{ color:#ffffff;}
.features_cntr .widget.selected ul li:hover{ color:#ccc !important;}
.features_cntr .widget .title{ font-size:24px; font-family: 'ralewayextrabold'; color:#555555; vertical-align:middle;}
.features_cntr .widget .title i{ display:inline-block; width: 40px; height: 40px; vertical-align: middle; margin-right:10px;}
.features_cntr .widget .title i.ancmnt{ background-position: 0px -50px;}
.features_cntr .widget .title i.cert{ background-position: -53px -50px;}
.features_cntr .widget .title i.quick{ background-position: -110px -103px;}
.features_cntr .widget ul{ display:inline-block; width:100%;}
.features_cntr .widget ul li{ display:block; margin: 12px 0; padding-bottom:12px; border-bottom:1px dotted #bdbdbd; font-family: 'ralewaymedium'; font-size:13px; cursor:pointer;}
.features li{ position:relative; padding-left:25px; cursor:default !important;}
.features li i{ position:absolute; left:0; width:25px !important; height:20px !important; background-position:-130px 0px !important; }
.features_cntr .widget ul li.last{ border-bottom:none;}
.features_cntr .widget ul li:hover{ color:#fe5c00;}
.features_cntr .widget ul li i{ display:inline-block; width:20px; height:15px; background-position:-75px 0px; vertical-align:middle;}

.online_cntr_wpr{ background:#009E39; padding:18px 0;}
.onln_cntr_ttl{ text-transform:uppercase; color:#fff; font-size:30px; text-align:center; font-family: 'ralewaybold';}
.online_centers{ text-align:center; margin-top: 20px; list-style:none;}
.online_centers li{ float:left; width: 195px; margin-bottom: 12px; text-align: left;}
.online_centers li a{ font-size: 13px; color: #fff;}
.online_centers li a:hover{ color:#ccc;}
.footer{ padding:15px 0;}
.copyrgt{ font-family: 'ralewaybold'; font-weight:normal; font-size:13px; color:#000;}
.trma_conditon{ display:inline-block; width:100%; font-family: 'ralewaymedium'; font-weight:normal; font-size:12px; color:#000; margin-top:7px;}


/*Popup code start*/
.res_pop_bg { background: rgba(255,255,255,0.9); position: fixed; top: 0; left: 0; width: 100%; height: 100%; z-index: 9; }
.res_main_pop { position: absolute; background: #fff; width: 400px; padding-bottom:20px; opacity: 1; top: 50%; left: 50%; margin-left:-200px; margin-top:-200px; z-index: 99; border: 1px solid #d8d8d8; box-shadow: 0px 0px 35px 0px rgba(62,62,62,0.2); border-radius:4px;

animation-name:pop_zoom;
animation-duration:0.2s;
animation-timing-function:ease-in-out;
animation-fill-mode: forwards;

-webkit-animation-name: pop_zoom;
-webkit-animation-duration:0.2s;
-webkit-animation-timing-function:ease-in-out;
-webkit-animation-fill-mode: forwards;

-moz-animation-name: pop_zoom;
-moz-animation-duration:0.2s;
-moz-animation-timing-function:ease-in-out;
-moz-animation-fill-mode: forwards;

-ms-animation-name: pop_zoom;
-ms-animation-duration:0.2s;
-ms-animation-timing-function:ease-in-out;
-ms-animation-fill-mode: forwards;

-o-animation-name: pop_zoom;
-o-animation-duration:0.2s;
-o-animation-timing-function:ease-in-out;
-o-animation-fill-mode: forwards;
}
@-webkit-keyframes pop_zoom {
 0% { transform:scale(0.7);}
 100% { transform:scale(1); visibility:visible;}
}
@-moz-keyframes pop_zoom {
 0% { transform:scale(0.7);}
 100% { transform:scale(1,1); visibility:visible;}
}
@-ms-keyframes pop_zoom {
 0% { transform:scale(0.7);}
 100% { transform:scale(1); visibility:visible;}
}
@-o-keyframes pop_zoom {
 0% { transform:scale(0.7);}
 100% { transform:scale(1); visibility:visible;}
}
@keyframes pop_zoom {
 0% { transform:scale(0.7);}
 100% { transform:scale(1); visibility:visible;}
}
.pop_hide { 
animation-name:pop_out;
animation-duration:0.2s;
animation-timing-function:ease-in-out;
animation-fill-mode: forwards; 

-webkit-animation-name: pop_out;
-webkit-animation-duration:0.2s;
-webkit-animation-timing-function:ease-in-out;
-webkit-animation-fill-mode: forwards;

-moz-animation-name: pop_out;
-moz-animation-duration:0.2s;
-moz-animation-timing-function:ease-in-out;
-moz-animation-fill-mode: forwards;

-ms-animation-name: pop_out;
-ms-animation-duration:0.2s;
-ms-animation-timing-function:ease-in-out;
-ms-animation-fill-mode: forwards;
}
@-webkit-keyframes pop_out {
 0% { transform:scale(1);}
 100% { transform:scale(0.7); visibility:hidden;}
}
@-moz-keyframes pop_out {
 0% { transform:scale(1);}
 100% { transform:scale(0.7); visibility:hidden;}
}
@-ms-keyframes pop_out {
 0% { transform:scale(1);}
 100% { transform:scale(0.7); visibility:hidden;}
}
@-o-keyframes pop_out {
 0% { transform:scale(1);}
 100% { transform:scale(0.7); visibility:hidden;}
}
@keyframes pop_out {
 0% { transform:scale(1);}
 100% { transform:scale(0.7); visibility:hidden;}
}
.res_main_pop span { cursor: pointer; width: 25px; font-size: 20px; line-height: 25px; text-align: center; color: #8d8d8d; margin: 0px 0px 0 0; position: absolute; top: 7px; right: 7px;}
.res_main_pop span:before { content: "X";}
.res_main_pop .reg_back { cursor: pointer; width: 25px; font-size: 16px; line-height: 25px; text-align: center; color: #8d8d8d; margin: 0px 0px 0 0;font-family: 'Flaticon'; position: absolute; top: 7px; left: 7px;}
.res_main_pop .reg_back:before { content: "\e03b";}
.res_main_pop .pop_title{ color:#8d8d8d; font-size:16px; text-align: center; margin: 45px 0 0px 0;}
.res_main_pop p { margin:25px 35px 0 35px;}
.res_main_pop p label{ font-weight:bold; font-size:13px; color:#000; display: block; margin: 5px 0; }
.res_main_pop p input[type=text] { width:96%; height: 30px; font-size: 14px; border: 1px solid #d8d8d8; -webkit-border-radius: 2px; -moz-border-radius: 2px; -ms-border-radius: 2px; -o-border-radius: 2px; border-radius: 2px; padding-left: 5px; padding-right: 5px; }
.forgot_pwd{ margin-top: 10px; float: left; color: #acacac;}
.forgot_pwd:hover{ color:#333;}
.button{ float:right; font-size:22px; color:#fff; border:1px solid #3f886a; padding:5px 15px; text-transform:uppercase; border-radius:3px; cursor:pointer; font-family:'HelveticaNeueLTStd-MdCn'; background: #fe5c00;
}
.button:hover{ text-decoration:underline;}
/*Popup code end*/

.ftr_prt{ float:left; width:60%;}
.ftr_prt_rgt{ float:right; width:35%;}

.tech_suport{ float:left; width:50%;}
.tech_suport .tech_txt{ display:block; padding-bottom:11px; font-family: 'ralewaybold';}
.tech_suport .tech_time{}
.pho_emil{  float:left; width:50%;}
.phone{ display:inline-block; width:100%; margin-bottom:5px;}
.pho_emil i{ float:left; width:20px; height:20px; margin-right:5px;}
.pho_emil i.ph_icon{ background-position:-2px -157px;}
.pho_emil i.eml_icon{ background-position:-32px -157px;}

.hurry_up{ position:absolute; top:0; right:10px;}
.all_india_mock{ position:absolute; bottom:0; right:0;}


@media screen and (max-width: 800px) {
.wrapper_main { width: 100%;}
.logo { margin-left: 10px;}
.nav_cntr { margin-right: 15px; margin-top: 18px;}
.nav { position: absolute; background:#fe5c00; right: 0px; width: 40%; top: 77px; z-index:9;}
.nav a { padding: 15px 0 10px 10px; margin: 0 0px; color: #fff;}
.nav > li { float: none; }
.nav > li > a{ border-bottom: 1px solid #ff9356; border-right: medium none;}
.nav > li > a:hover { background:#ff9356; color:#fff;}
.nav > li > .parent { background-position: 95% 50%; }
.nav li li .parent { background-image: url("images/downArrow.png"); background-repeat: no-repeat; background-position: 95% 50%; }
.nav ul { display: block; width: 100%; }
.nav > li.hover > ul, .nav li li.hover ul { position: static; }
.impornt_dts{ margin-left:10px;}
.features_cntr { margin-left:0;}
.features_cntr .widget{ float: none; height: auto; padding-left: 10px; padding-right: 10px; width: auto;}
.features_cntr .widget.first { border-right: none;}
.online_centers li { margin-left: 10px; width: 45%;}
.footer { padding: 32px 10px;}
.features_cntr .widget ul li{ font-size:14px;}

.ftr_prt, .ftr_prt_rgt {  width: 100%;}

}
@media screen and (max-width: 600px) {
.nav {width: 50%;}	
.hurry_up{ display:none;}
.all_india_mock { position: inherit; width: 100%;}
.ftr_prt, .pho_emil, .tech_suport, .phone { width: 100%;}
.tech_suport { float: left; margin-bottom: 20px;}
.ftr_prt_rgt { margin-top: 30px; width: 100%;}
.pho_emil i { float:none; display: inline-block; vertical-align:middle;}
}
@media screen and (max-width: 480px) {
/*.online_centers li { text-align: center; width: 100%; margin-bottom:20px; margin-left:0;}
.online_centers li a { font-size: 14px;}*/
.nav {width: 100%;}
.header { height:auto;}
.logo { display: inline-block; float: none; margin: 18px 0; margin-left:0; text-align: center; width: 100%;}
.nav_cntr { float:left; margin: 0 0 0 15px;}
.login_rgt { line-height:42px;}
.impornt_dts { width:94%;}
.nav { top: 124px;}
.footer {  padding: 32px 0; text-align:center;}
}

@media screen and (max-width: 320px) {
.header { height:auto;}
.logo { display: inline-block; float: none; margin: 18px 0; margin-left:0; text-align: center; width: 100%;}
.nav_cntr { float:left; margin: 0 0 0 15px;}
.login_rgt { line-height:42px;}
.impornt_dts { width:94%;}
.nav { top: 124px;}
.footer {  padding: 32px 0; text-align:center;}
}
