.reg_form_wpr fieldset legend { margin-bottom:30px;}
.reg_form_wpr fieldset{ padding-bottom:35px;}
.cbox_agree .checkbox{ margin-top:-3px;}
.round_steps li.first{ padding-left:0;}
.appform_full label { float:left;}
.chxrdo_cntr { float:left;}
select{ border-color: rgb(169, 169, 169);}
.work_exp_rgt input, .work_exp_rgt select{ margin-top:7px;}
.work_exp_rgt select{ height:32px; margin-top:7px;}
.ldr_line{background-image:url(../images/load.gif);}
.pre_loader .icon{ background-color:transparent; background-image:none;}


/*Home page css start*/
.impornt_dts { background:#0089d0;}