.pre_loader .icon{ background-color:transparent;}
.ldr_line{background-image:url(../images/load.gif);}
.pre_loader .icon{ background-color:transparent; background-image:none;}





/*Home page css start*/
.impornt_dts { background:#0089d0;}