@media screen and (max-width: 800px) {
.main_wpr{ width:98%;}
.inst_wpr{ padding:15px;}
.reg_form_wpr { margin: 25px 0; padding: 0 10px;}
.reg_form_wpr fieldset { padding: 25px 0 0;}
.round_steps li { padding:0; width:20%;}
.hdr_ctnt h1 { font-size: 36px;}
.pg_title{ margin-top:34px;}
.ins_online_sub{ font-size:30px;}
.round_steps li a.first .stp_name { margin-left: 0; text-align: left;}
.round_steps li a.last .stp_name { margin-right: 0;}
.work_exp_rgt select { width: 99%;}
.round_steps_res { width: 46% !important;}
}
@media screen and (max-width: 600px) {
.ceter_map { display:none;}
.flds_cntr{ width: 94%;}
.login_left { width: 100%;}
.login_right { margin-top: 24px; width: 100%;}
.ins_online_sub { font-size: 22px;}
.chxrdo_cntr{background: #f5f5f5; border: 1px solid #ccc; margin-left:5px; margin-top:5px;}
.work_exp_left, .work_exp_rgt { width: 96%;}
.work_exp_left { border-right: none;}
.work_exp_rgt1 { background: #fff; border-left: medium none; width: 100% !important;}
.upld_photo{ text-align:center;}
.upld_phto{ float:none; display:inline-block; margin-bottom:7px;}
.app_prvw_img { margin: 0 auto 25px; position: static;}
.choos_center{ width:100%; border-right:none;}
}
@media screen and (max-width: 480px) {
.choos_center .center{ width:100%;}
}
@media screen and (max-width: 360px) {
.round_steps li a .stp_name { font-size: 11px;}
.round_steps{ margin-bottom:0;}
.after_wpr { padding: 35px 10px;}
.inr_login { padding: 10px;}
}





/*Code for responsive tabs*/
@media (max-width: 767px) {
hgroup h1 { margin-top: 25px;}
hgroup h2 { top: 0; left: 5px; font-size:12px;}
.btn { width: 80%; margin: 20px auto; float:none;}
}

.responsive-tabs__heading { display: none;}
.responsive-tabs__list__item { display: inline; cursor:pointer;}


@media (max-width: 767px) {
.responsive-tabs__list { display: none;}
.responsive-tabs__heading { display: block; cursor: pointer; }
.responsive-tabs__panel--closed-accordion-only { display: none;}
}

@media (min-width: 768px) {
.responsive-tabs { margin-top:25px;}
}

@media (max-width: 767px) {
.responsive-tabs__heading { font-size: 14px; padding: 12px 5px; border: 1px solid #ccc; box-shadow: 0px 2px 3px rgba(0,0,0,0.4); background: #ddd; position: relative;}
.responsive-tabs__heading:after { content:""; display: block; position: absolute; right: 20px; top: 47%; width: 0;  height: 0;  border-left: 5px solid transparent; border-right: 5px solid transparent; border-top: 7px solid #000;}
.responsive-tabs__heading:hover, .responsive-tabs__heading--active:hover { background-color: #efefef}
.responsive-tabs__heading--active { background: #fff;}
.responsive-tabs__heading--active:after { border-bottom: 10px solid #000; border-top:0;}
.choos_center .center{ width:90%;}
}