@import "font/stylesheet.css";
@import "font/flaticon.css";
body{ font-family: 'ralewayregular'; font-size:14px; margin:0; padding:0;background-color:#e6e6e6;}
.regular_font{ font-family: 'ralewayregular'; font-weight:normal;}
.thin_font{ font-family: 'ralewaythin'; font-weight:normal;}
.italic_font{ font-family: 'ralewayitalic'; font-weight:normal;}
.semibold{ font-family: 'ralewaysemibold'; font-weight:normal;}
.bold_font{ font-family: 'ralewaybold'; font-weight:normal;}
.extr_bold{ font-family: 'ralewayextrabold'; font-weight:normal;}
.black_font{ font-family: 'ralewayblack'; font-weight:normal;}
.extra_light{ font-family: 'ralewayextralight'; font-weight:normal;}
.light_font{ font-family: 'ralewaylight'; font-weight:normal;}
.medium_font{ font-family: 'ralewaymedium'; font-weight:normal;}
p, h1, h2, h3, ul, ol{ margin:0; padding:0;}
ol, ul{ list-style:none;}
a{ text-decoration:none;}
a, input[type=text], input[type=textbox], input[type=radio], input[type=submit], select, button, textarea{ outline:none;}
table {	border-collapse: collapse; border-spacing: 0;}
input[type=text], textarea, select{ border:1px solid #ccc; padding:7px; border-radius:5px; font-family: 'ralewayregular'; font-weight:normal; font-size:14px;}
button, input[type=submit]{ cursor:pointer;}
.sprite{ background-image:url(../images/sprite.png); background-repeat:no-repeat;}
header{ background:#fff; border-bottom: 1px solid #ccc;}
section{ position:relative;}
.main_wrappr{ width:1050px; margin:0 auto; overflow:hidden;}
.main_wrappr2{ width:1155px; margin:0 auto; overflow:hidden;}
.top_bar{ background:#6cbd32; height:3px;}
.logo{ float:left; overflow:hidden; margin:5px 0;}
/*Manin menu start*/
.nav_cntr { float:right;}
.toggleMenu { display: inline-block; color: #00a650; font-size: 36px; font-family: "Flaticon"; }
.toggleMenu:before { content: "\e0fe" }
.nav { list-style: none; *zoom: 1; padding: 0; margin: 0; }
.nav:before, .nav:after { content: " "; display: table; }
.nav:after { clear: both; }
.nav ul { list-style: none; width: 9em; }
.nav a { padding: 33px 0; margin:0 15px; color: #606060; font-size: 15px; font-family: 'ralewaysemibold'; font-weight:normal; }
.nav li { position: relative; }
.nav > li { float: left; }
.nav > li > .parent { background-image: url("images/downArrow.png"); background-repeat: no-repeat; background-position: right; }
.nav > li > a { display: block; transition: none; }
.nav > li > a:hover, .nav > li > a.selected {color:#00a650; }
.nav > li > a.first { padding-left:0; margin-left:0;}
.nav > li > a.last { padding-right:0; margin-right:0; border-right:0;}
.nav li ul { position: absolute; left: -9999px; }
.nav > li.hover > ul { left: 0; }
.nav li li.hover ul { left: 100%; top: 0; }
.nav li li a { display: block; background: #1d7a62; position: relative; z-index: 100; border-top: 1px solid #175e4c; }
.nav li li li a { background: #249578; z-index: 200; border-top: 1px solid #1d7a62; }
/*Main menu end*/
/* scroll fixed navigation start */
.nav_fixed { width:100%; background:#fff; transition: 0.5s ease-in-out;}
.nav_fixed.stick { position: fixed; height:50px; top: -50px; z-index: 999; display: inline-block; width: 100%; box-shadow: 0px 0px 5px 0px #555; -webkit-box-shadow: 0px 0px 5px 0px #555; -moz-box-shadow: 0px 0px 5px 0px #555; transition: padding 0.2s ease-in-out;
animation:drop_nav 0.5s ease-in-out forwards;
-webkit-animation:drop_nav 0.5s ease-in-out forwards;;
-moz-animation:drop_nav 0.5s ease-in-out forwards;
-ms-animation:drop_nav 0.5s ease-in-out forwards;
}
@-webkit-keyframes drop_nav {
 0% { top:-50px;}
 100% { top:0px;}
}
@-moz-keyframes drop_nav {
0% { top:-50px;}
100% { top:0px;}
}
@-ms-keyframes drop_nav {
0% { top:-50px;}
100% { top:0px;}
}
@-o-keyframes drop_nav {
0% { top:-50px;}
100% { top:0px;}
}
@keyframes drop_nav {
0% { top:-50px;}
100% { top:0px;}
}
.nav_fixed.stick .logo{ margin-top: 5px;}
.nav_fixed.stick .logo img{ width:50%;}
.nav_fixed.stick .nav a { padding:15px 0;}
/* scroll fixed navigation end */
.scrl_prnt {position: relative;}
.scrl_point { position: absolute;top: -55px;}
/*Popup code start*/
.res_pop_bg { background: rgba(255,255,255,0.9); position: fixed; top: 0; left: 0; width: 100%; height: 100%; z-index: 9; }
.res_main_pop { position: absolute; background: #fff; width: 400px; padding-bottom:20px; opacity: 1; top: 47%; left: 50%; margin-left:-200px; margin-top:-260px; z-index: 99; border: 1px solid #d8d8d8; box-shadow: 0px 0px 35px 0px rgba(62,62,62,0.2); border-radius:4px;

animation-name:pop_zoom;
animation-duration:0.2s;
animation-timing-function:ease-in-out;
animation-fill-mode: forwards;

-webkit-animation-name: pop_zoom;
-webkit-animation-duration:0.2s;
-webkit-animation-timing-function:ease-in-out;
-webkit-animation-fill-mode: forwards;

-moz-animation-name: pop_zoom;
-moz-animation-duration:0.2s;
-moz-animation-timing-function:ease-in-out;
-moz-animation-fill-mode: forwards;

-ms-animation-name: pop_zoom;
-ms-animation-duration:0.2s;
-ms-animation-timing-function:ease-in-out;
-ms-animation-fill-mode: forwards;

-o-animation-name: pop_zoom;
-o-animation-duration:0.2s;
-o-animation-timing-function:ease-in-out;
-o-animation-fill-mode: forwards;
}
@-webkit-keyframes pop_zoom {
 0% { transform:scale(0.7);}
 100% { transform:scale(1); visibility:visible;}
}
@-moz-keyframes pop_zoom {
 0% { transform:scale(0.7);}
 100% { transform:scale(1,1); visibility:visible;}
}
@-ms-keyframes pop_zoom {
 0% { transform:scale(0.7);}
 100% { transform:scale(1); visibility:visible;}
}
@-o-keyframes pop_zoom {
 0% { transform:scale(0.7);}
 100% { transform:scale(1); visibility:visible;}
}
@keyframes pop_zoom {
 0% { transform:scale(0.7);}
 100% { transform:scale(1); visibility:visible;}
}
.pop_hide { 
animation-name:pop_out;
animation-duration:0.2s;
animation-timing-function:ease-in-out;
animation-fill-mode: forwards; 

-webkit-animation-name: pop_out;
-webkit-animation-duration:0.2s;
-webkit-animation-timing-function:ease-in-out;
-webkit-animation-fill-mode: forwards;

-moz-animation-name: pop_out;
-moz-animation-duration:0.2s;
-moz-animation-timing-function:ease-in-out;
-moz-animation-fill-mode: forwards;

-ms-animation-name: pop_out;
-ms-animation-duration:0.2s;
-ms-animation-timing-function:ease-in-out;
-ms-animation-fill-mode: forwards;
}
@-webkit-keyframes pop_out {
 0% { transform:scale(1);}
 100% { transform:scale(0.7); visibility:hidden;}
}
@-moz-keyframes pop_out {
 0% { transform:scale(1);}
 100% { transform:scale(0.7); visibility:hidden;}
}
@-ms-keyframes pop_out {
 0% { transform:scale(1);}
 100% { transform:scale(0.7); visibility:hidden;}
}
@-o-keyframes pop_out {
 0% { transform:scale(1);}
 100% { transform:scale(0.7); visibility:hidden;}
}
@keyframes pop_out {
 0% { transform:scale(1);}
 100% { transform:scale(0.7); visibility:hidden;}
}
.res_main_pop span { cursor: pointer; width: 25px; font-size: 16px; line-height: 25px; text-align: center; color: #8d8d8d; margin: 0px 0px 0 0;font-family: 'Flaticon'; position: absolute; top: 7px; right: 7px;}
.res_main_pop span:before { content: "\e0fc";}
.res_main_pop .reg_back { cursor: pointer; width: 25px; font-size: 16px; line-height: 25px; text-align: center; color: #8d8d8d; margin: 0px 0px 0 0;font-family: 'Flaticon'; position: absolute; top: 7px; left: 7px;}
.res_main_pop .reg_back:before { content: "\e03b";}
.res_main_pop .pop_title{ color:#8d8d8d; font-size:16px; text-align: center; margin: 45px 0 0px 0;}
.res_main_pop p { margin:15px 20px 0 35px;}
.res_main_pop p label{ font-weight:normal; font-size:13px; color:#000; display: block; margin: 5px 0; font-family: 'ralewaybold';}
.res_main_pop p input[type=text] { width:96%; height: 30px; font-size: 14px; border: 1px solid #d8d8d8; -webkit-border-radius: 2px; -moz-border-radius: 2px; -ms-border-radius: 2px; -o-border-radius: 2px; border-radius: 2px; padding-left: 5px; padding-right: 5px; }
.res_main_pop p .forgot_pwd { color:#9B9B9B; line-height: 36px;}
.res_main_pop p .forgot_pwd:hover { text-decoration:underline;}
.res_main_pop p input[type=submit]{ float:right; display: inline-block; padding: 8px 20px; background: #6cbd32; color: #fff; font-size: 16px; text-transform: uppercase; border:none; border-bottom: 2px solid #529720; border-radius: 4px; transition: none; margin-right: 14px;}
.res_main_pop p input[type=submit]:hover { background:#529720; border-bottom-color:#457f1a; }
.register_btn{ background:#788290 !important; font-size:12px !important; border-color:#5b6169 !important;}
.register_btn:hover{ background:#6c7581;}
.reg_cls_strm{ margin: 15px 35px 0 35px;}
.reg_cls_strm aside{ display:inline-block; width:49%;}
.reg_cls_strm aside label{ font-weight:normal; font-size:13px; color:#000; display: block; margin: 5px 0; font-family: 'ralewaybold';}
.reg_cls_strm aside select, .reg_cls_strm aside input{ width:100%; height: 35px; font-size: 14px; border: 1px solid #d8d8d8; -webkit-border-radius: 2px; -moz-border-radius: 2px; -ms-border-radius: 2px; -o-border-radius: 2px; border-radius: 2px; padding-left: 5px; padding-right: 5px;}
.res_main_pop p .acpt_trms { color: #9B9B9B; line-height: 10px; display: inline-block;}
.res_main_pop p .chkbx { vertical-align:middle;}
.res_main_pop p small { margin-left: 20px; color: blue;}
#close { display: none; }
/*Popup code end*/
.ctnt_fst_hding{ background:#fff; overflow:hidden;}
.sld_section{ position:relative; /*background-image:url(../images/slider_bg.jpg);*/ background-repeat:no-repeat; background-size:cover; box-shadow:0px 1px 5px -2px #888 inset; /*min-height:510px;*/ padding-bottom:15px;}
.bnr_ovr_txt{ float:left; margin-top:80px;}
.bnr_ovr_txt h2{ font-size:30px; color:#fff; line-height: 40px;}
.test_date{ min-height: 60px; margin-top:25px; position:relative; padding-left:70px; font-size:18px; color:#fff;display:inline-block;width:30%; }
.test_dateicon, .timedate_icon{ position:absolute; left:0; width: 60px; line-height: 60px; background: #f7792d; font-family: "Flaticon"; color: #fff; font-size: 27px; text-align: center;}
.test_dateicon:after{ content: "\e02c";}
.timedate_icon:after{ content: "\e144"; font-size:34px;}
.test_date strong{ display:inline-block; text-transform:uppercase; margin: 5px 0;}
.inr_wpr{ overflow:hidden; background:#fff; margin:0 1px 35px 1px; box-shadow: 0px 3px 1px 0px #c2c2c2; border-top:3px solid #6cbd32;}
.inr_wpr.first{ border-top:0;}
.aftr_inr_cntr{ padding:0 30px 30px 30px;}
.ctnt_heading{ height:90px; border-bottom:1px solid #ececec;}
.ctnt_heading h1{ display:inline-block; line-height:90px; padding-left:40px; font-size:30px; text-transform:uppercase; color:#505050;}
.regdate_cntr{ float:right;}
.reg_btn{ float: right; padding: 6px 15px 3px 0; margin: 27px 30px 0 0; background:#6cbd32; font-size:18px; color:#fff; text-transform:uppercase; border-radius:4px; border-bottom:2px solid #529720;}
.reg_btn:hover{ background:#529720; border-bottom-color:#457f1a; }
.reg_btn:before{ content:"\e0ef"; display:inline-block; font-family: Flaticon; font-size:30px; vertical-align:middle;}
.day_date_cntr{ float:right; margin-right:50px;}
.day_date_cntr li{ float:left; text-align: center; border-left:1px solid #e5e5e5;}
.day_date_cntr li.last{ border-right:1px solid #e5e5e5;}
.day_date_cntr li .num_date{ border-bottom:1px solid #e5e5e5; padding: 15px 20px; color:#76b945; font-size:30px; font-family: 'ralewayextralight'; font-weight:normal;}
.day_date_cntr li .dy_mnth{ color:#505050; background:#f6f6f6; text-transform:uppercase; padding: 4px 10px;}
.aftr_inr_cntr{ padding:40px; overflow:hidden;}
.aftr_inr_cntr h3{ font-size:18px; color:#6cbd32; margin-bottom:10px;}
.aftr_inr_cntr p{ font-size:14px; color:#505050; line-height:24px; text-align: justify; }
.pkg_red, .pkg_green{ width:48%; overflow:hidden;}
.pkg_red h2, .pkg_green h2{ color:#fff; text-transform:uppercase; font-size:30px; padding:12px 0 12px 30px;}
.pkg_red{ float:left; background:#fd5f42;}
.pkg_red h2{ background:#ea4020;}
.pkg_green{ float:right; background:#3b99d7;}
.pkg_green h2{ background:#0776c0;}
.pkg_dtls{ padding:25px; overflow:hidden;}
.pkg_dtls p{ border-bottom:1px solid rgba(255,255,255,0.2); padding: 13px 0; font-size:18px; color:#fff; font-family: 'ralewaybold'; font-weight:normal;}
.pkg_dtls p.last{ border-bottom:none;}
.pkg_dtls p .spanleft{ float:left; width:150px; }
.pkg_dtls p .buynow{ float:right; background:#fff; border-bottom:2px solid #c04111; font-size:18px; color:#f15a22; padding:6px 25px; margin-top:10px; border-radius:3px;}
.pkg_dtls p .buynow:hover{ background:#e2e2e2;}
.featrs_wpr{ background:url(../images/features_bg.png) no-repeat right top;}
.featrs_wpr ul{}
.featrs_wpr ul li{ position:relative; font-size:16px; font-family: 'ralewaymedium'; font-weight:normal; padding-left:45px; margin-bottom:40px; line-height:24px; color:#505050;text-align:justify;}
.featrs_wpr ul li span{ position:absolute; left:0; font-family: Flaticon; font-size: 30px; vertical-align:middle; color:#f3723f;}
.featrs_wpr ul li span:after{content: "\e0d9";}
/*Tabs code start*/
.cbtabs{ display:inline-block; width: 100%; margin: 0; padding: 0; list-style: none;}
.cbtabs li{ float: left;}
.cbtabs li a:before{ font-family: "Flaticon"; content: "\e0eb"; font-size: 27px; vertical-align: middle; margin-top: -4px; display: inline-block; color:#b2b2b2;}
.cbtabs a{ position: relative; background: #fff; color:#505050; font-size:18px; font-family: 'ralewaymedium'; font-weight:normal; text-transform:uppercase; padding:25px 35px 25px 22px; float: left; text-decoration: none; color: #444; -moz-box-shadow: 0 -1px 1px rgba(0,0,0,.4); -webkit-box-shadow: 0 -1px 1px rgba(0,0,0,.4); box-shadow: 0 -1px 1px rgba(0,0,0,.4);}
.cbtabs a:hover, .cbtabs a:hover::after, .cbtabs a:focus, .cbtabs a:focus::after{ background: #fbfbfb; color:#22c460;}
.cbtabs a:focus{outline: 0;}
.cbtabs .current a, .cbtabs .current a::after{ background: #fbfbfb;  color:#22c460; z-index: 3; border-bottom: 1px solid #dddddd;}
.cbtabs .current a:after{ font-family: "Flaticon"; content: "\e030" ; color:#dddddd; position: absolute; bottom: -18px; left: 43%; font-size:25px;   background: transparent; border-bottom:none;}
.cbtcontent{ background: #fff; position: relative; z-index: 2; -moz-box-shadow: 0 -1px 0px 0px rgba(0, 0, 0, .1); -webkit-box-shadow: 0 -1px 0px 0px rgba(0, 0, 0, .1); box-shadow: 0 -1px 0px 0px rgba(0, 0, 0, .1); padding:15px 0;}
.sw_hd{ overflow:hidden; text-align:center;}
.cbt_vdo_cntr{ display:inline-block; margin:0 6px; width:450px; height:400px;}
.cbt_vdo_cntr img{ width:100%;}
.carousel {	width: 100% !important; position:relative;}
.caroufredsel_wrapper{ width:91% !important; left:52px !important; margin-left:20px;}
.carousel ul { list-style: none; display: block; margin: 0; padding: 0; width:100% !important;}
.carousel li {font-size: 40px; color: #999; display: block;	width: 100%; min-height: 90px;	padding: 0;	margin: 6px; float: left;}
.carousel li i { float:left; width: 50px; height: 50px; margin-top: 14px; background-position:-129px -500px;}
.carousel li span {	text-indent: -999px; display: block; overflow: hidden; width: 201px; min-height: 90px; position: absolute;	z-index: 2;	top: 14px; left: 16px;}			
.clearfix {	float: none; clear: both;}
.carousel .prev, .carousel .next {display: block; overflow: hidden; width: 50px; height: 60px; margin-left: 0; position: absolute; top: 40%; font-family: Flaticon; font-size: 30px; background:#5fb025; color:#fff;}
.carousel .prev { line-height:60px; }
.carousel .prev:after{  content: "\e03b";}
.carousel .prev:hover {	left: 0px;}
.carousel .next { background:#5fb025; right: 0; line-height:60px;}
.carousel .next:after{  content: "\e039";}
.carousel .next:hover {right: 0px;}				
.carousel .pager { text-align: center; margin: 0 auto;}
.carousel .pager a { text-decoration: none;	text-indent: -999px; display: inline-block;	overflow: hidden; width: 8px; height: 8px; margin: 0 5px 0 0;			}
.carousel .pager a.selected { background: transparent url(img/carousel_control.png) no-repeat -12px -32px; text-decoration: underline;}
.caroufredsel_wrapper{ height:393px !important;}
.container {  width: 800px;  margin: 0 auto; padding: 30px 0px; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }
.slider_wrapper { overflow: hidden;}
#image_slider { position: relative; height: auto; list-style: none; overflow: hidden; float: left; /*Chrom default padding for ul is 40px */padding: 0px; margin: 0px; }
/*.slider_wrapper iframe{ width: 337px; height: 299px; float: left; margin: 0 0 0 25px; }*/
#image_slider li { position: relative; float: left; width:400px;}
#image_slider li iframe, #image_slider li img{ width:100% !important; height:370px; border:1px solid #333;}
.nvgt { position: absolute; width: 50px; height: 60px; margin-left: 0; top: 40%; font-family: Flaticon; font-size: 30px; background:#5fb025; color:#fff;  cursor:pointer;}
#prev:hover, #next:hover { background:#606060; }
#prev { background:#5fb025; left:0; line-height:60px; }
#prev:after{  content: "\e03b";}
#next { background:#5fb025; right: 0; line-height:60px; }
#next:after{  content: "\e039";}
#image_slider1 { position: relative; width:2500px !important; height: auto; list-style: none; overflow: hidden; float: left; /*Chrom default padding for ul is 40px */
padding: 0px; margin: 0px; }
/*.slider_wrapper iframe{ width: 337px; height: 299px; float: left; margin: 0 0 0 25px; }*/
#image_slider1 li { position: relative; float: left; width:400px;}
#image_slider1 li iframe,  #image_slider1 li img{ width:100% !important; height:370px; border:1px solid #333;}
.nvgt { position: absolute; width: 50px; height: 60px; margin-left: 0; top: 40%; font-family: Flaticon; font-size: 30px; background:#5fb025; color:#fff;  cursor:pointer;}
#prev1:hover, #next1:hover { background:#606060; }
#prev1 { background:#5fb025; left:0; line-height:60px; }
#prev1:after{  content: "\e03b";}
#next1 { background:#5fb025; right: 0; line-height:60px; }
#next1:after{  content: "\e039";}
#image_slider2 { position: relative; width:2500px !important; height: auto; list-style: none; overflow: hidden; float: left; /*Chrom default padding for ul is 40px */padding: 0px; margin: 0px; }
/*.slider_wrapper iframe{ width: 337px; height: 299px; float: left; margin: 0 0 0 25px; }*/
#image_slider2 li { position: relative; float: left; width:400px;}
#image_slider2 li iframe,  #image_slider2 li img{ width:100% !important; height:370px; border:1px solid #333;}
.nvgt { position: absolute; width: 50px; height: 60px; margin-left: 0; top: 40%; font-family: Flaticon; font-size: 30px; background:#5fb025; color:#fff;  cursor:pointer;}
#prev2:hover, #next2:hover { background:#606060; }
#prev2 { background:#5fb025; left:0; line-height:60px; }
#prev2:after{  content: "\e03b";}
#next2 { background:#5fb025; right: 0; line-height:60px; }
#next2:after{  content: "\e039";}

/*Tabs code end*/

.stdnt_feedback_hd{ background:url(../images/feedback_qot.png) no-repeat bottom right #6cbd32;}
.inr_fbak_cntr{ background:url(../images/feedback_img.jpg) no-repeat left bottom #fff; padding:30px; min-height: 210px;}
.inr_fbak_cntr .feedback_txt{ color:#131313; font-size:16px; font-family: 'ralewaymedium'; font-weight:normal; line-height:24px; padding-left:170px;}
.inr_fbak_cntr .feedback_txt .writer{ font-size:14px; line-height:normal; }
.inr_fbak_cntr .feedback_txt .asprnt{ color:#929292; font-size:12px; line-height:normal; display:block;}
.footer_links_wpr{ background:#6cbd32; box-shadow:0px 3px 0px 0px #4c911b;}
.ftr_inr_cntr{ padding:30px; overflow:hidden;padding-bottom: 135px;}
.info_prt { float: left; width: 385px;}
.ft_ttl { font-size: 18px; margin-bottom: 5px; text-align: left; color:#fff;}
.info_prt{ float:left; width:300px;}
.info_prt ul{ margin:0; padding-left:20px;}
.info_prt ul li{ list-style:disc; color:#fff; font-size: 19px; margin-right:10px; padding-right:10px; color:#fff;line-height: 22px; text-transform:uppercase;font-family: 'ralewaysemibold'; font-weight:normal; font-size:14px;}
.info_prt ul li a.last{ margin-right:0px; padding-right:0px; border-right:none;}
.cpyrt_dtls{ color:#fff; font-size:12px; line-height:18px; clear:both;}
.info_prt2{ box-sizing: border-box;padding:0 33px; margin:0 33px; min-height:130px;  border-left:1px solid rgba(0,0,0,0.20); border-right:1px solid rgba(0,0,0,0.20);}
.followuson{ float:left; width:248px;text-align:left;}
.followuson a{ display: inline-block; margin: 0 3px; font-family: "Flaticon"; border-radius: 50%; font-style: normal; width:22px; height:22px; line-height: 22px; overflow:hidden; font-size: 18px; padding: 3px; color:#fff; border:2px solid #fff; transition:0.2s ease-in;}
.followuson a:hover{ background: #fff;color: #2d3e50;}
.followuson a.fb:after{ content: "\e074";margin-left: -2px;}
.followuson a.twt:after{ content: "\e14d";margin-left: -2px;}
.followuson a.gpls:after{ content: "\e097"; margin-left: -3px; font-size: 20px; line-height: 28px;}
.followuson a.yt:after{ content: "\e0ea";margin-left: -2px;}
footer{ background:#414141; border-top:10px solid #b3b3b3; padding:25px 0; margin-top:-150px;}
.foot_txt{ font-size: 15px; font-family:"Myriad Pro", sans-serif; color:#fff; text-align:center; line-height:19px; margin-top: 110px;}
/*Added by ajit 9th June*/
.cntr_list{ overflow:hidden; padding:30px 60px 40px 60px;}
.online_centers { margin:0; padding:0; text-align: center;list-style: none; padding-left:15px;}
.online_centers li { float:left;float: left; color:#202020;font-family: 'ralewaysemibold'; width: 20%; font-size:14px; margin-bottom: 12px; text-align: left; list-style:disc;}
.sprt_time, .phone, .email{ color:#fff; margin-top: 15px;}
.phone:before{ content: "\e138"; font-family: Flaticon;}
.email:before{ content: "\e06a"; font-family: Flaticon;}
.sprt_time{ margin-top:0 !important;}
/*Slider start*/
.slide { cursor:move !important;}
.slide > * { max-width: 100%;}
.slide img{ width: 100%;}
.slider .slide-prev , .slider .slide-next{ cursor: pointer; height: 48px; width: 48px; position: absolute; top: 44%; margin-top: -24px; background-color: rgba(255,255,255,0.8); padding: 0px; opacity: 0.8;}
.slider .slide-prev  { left: 0;}
.slider .slide-next  { right: 0;}
.slider .slide-prev:before, .slider .slide-next:before { display: block; width: 48px; height: 48px; font-size: 40px; line-height: 50px; text-align: center; font-family: 'Flaticon'; position: absolute;}
.slider .slide-prev:before { content:"\e009"; left:-8px;}
.slider .slide-next:before { left: -3px; content:"\e008"; }
.slider .slide-next:hover, .slider .slide-prev:hover { background-color: rgba(255,255,255,0.9);}
.es-caption { position: absolute; bottom: 0; text-align: center; background-color: rgba(0,0,0,0.8); color: #fff; font-size: 14px; padding: 16px; margin: 10px; width: auto; left: 0; right: 0; border-radius: 6px; -moz-border-radius: 6px; -webkit-border-radius: 6px; -khtml-border-radius: 6px; border: 1px solid rgba(255,255,255,0.3);}
ul.es-pager { position: absolute; padding: 0; line-height: 0px; right: 20px; top: 20px;}
ul.es-pager li { display: inline-block; margin: 2px; padding: 0; height: 7px; width: 7px; cursor: pointer; border: 2px solid #888; border-radius: 7px; -moz-border-radius: 7px; -webkit-border-radius: 7px;-khtml-border-radius: 7px;}
ul.es-pager li:hover, ul.es-pager li.act { background-color: #888;}
ul.es-pager li.act { cursor: default;}
/*Slider end*/
/*new css start*/
/*about info of reg date*/
.wpb_column, .vc_column_container, .vc_col-sm-12, .wpb_wrapper {margin-left: auto !important;  margin-right: auto !important;  max-width: 100% !important;  padding-left: 0 !important; padding-right: 0 !important;}
.vc_col-sm-12 { position: relative;  min-height: 1px;float: left;width: 100%;   padding-left: 15px;  padding-right: 15px;box-sizing: border-box;  -webkit-box-sizing: border-box;  -moz-box-sizing: border-box;box-sizing: border-box;}
.event-infos, .event-infos p , .event-info-col .main-title3{ color: #fff !important;}
.event-infos {  padding-left: 0 !important;  padding-right: 0 !important;  background-color: transparent;}
.wpb_column > .wpb_wrapper > :last-child {  margin-bottom: 0;}
.event-info-col {  border-right: 1px dashed #515151;   min-height: 100px;   padding: 20px;   padding-top: 45px;  padding-bottom: 35px;  background: url('../images/bgmask2.png') no-repeat left center #3b99d7;   position: relative;  overflow: hidden;  -webkit-transition: all 0.2s ease-in-out;   -moz-transition: all 0.2s ease-in-out;  transition: all 0.2s ease-in-out; float: left;  width: 100%;box-sizing: border-box; text-align: center;}
.event-info-col:first-child {padding-left: 40px;}
.event-infos .event-info-col {width: 25%;text-align: left;cursor: pointer;}
.event-info-col .main-title3 { font-size: 18px; font-weight: bold;margin-bottom: 5px;}
.event-info-col h3, .event-info-col h4 { margin-top: 0;}
.event-info-col {text-align: left;}
.event-infos:hover .event-info-col {width: 24%;}
.event-infos .event-info-col:hover {/*    background-color: #2ad0ce;*/ background-color: #fb7b3e;  width: 28% !important;}
/*about info of reg date end*/
/*about cont start*/
.about-picture-wrapper {  float: left; width: 50%;}
.about-picture-wrapper {  position: relative; overflow: hidden;}
.about-picture-wrapper img { max-width: 100% !important;  height: 566px;}
.about-text-wrapper {  padding: 40px 60px 30px 60px;  float: left;box-sizing: border-box; width: 50%;}
.title-border {  border-bottom: 0px solid #021533;  padding-bottom: 5px;  margin-bottom: 10px;}
.about-text-wrapper .title3 {  font-size: 22px; letter-spacing: -1px;color: #021533; border-color: #021533;}
.about-text-wrapper .title3 { margin-bottom: 15px;}
.about-text-content { margin-bottom: 30px;}
.about-text-wrapper p { font-size: 14px; line-height: 28px;text-align: justify;}
.btn-nobg {  background: transparent !important; color: #021533; position: relative;   overflow: hidden;  z-index: 1;   font-size: 12px;text-transform: uppercase;-webkit-transition: all 0.3s ease-in-out;-moz-transition: all 0.3s ease-in-out;transition: all 0.3s ease-in-out; padding: 15px 25px !important;   font-family: 'Open Sans', sans-serif !important; border-radius: 0 !important;}
.btn_reg {   display: inline-block;   margin-bottom: 0;  font-weight: 400;  text-align: center;  vertical-align: middle; cursor: pointer; background-image: none;  border: 1px solid transparent;   white-space: nowrap;  padding: 6px 12px;  font-size: 14px;  line-height: 1.42857143;   border-radius: 4px;   -webkit-user-select: none;  -moz-user-select: none;  -ms-user-select: none;  user-select: none;  background: url('../img/bgmask-btn.png') no-repeat top left #3b99d7 !important; color:#fff;}
.fa {   display: inline-block;  font-family: FontAwesome;  font-style: normal;   font-weight: normal;  line-height: 1;  -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale;}
.fa-paper-plane::before { content: "";}
.btn-nobg::before {content: '';display: block;position: absolute;top: 0;left: 0;height: 100%;width: 0;-webkit-transition: all 0.3s ease-in-out;-moz-transition: all 0.3s ease-in-out;transition: all 0.3s ease-in-out;background: url('../img/bgmask-btn.png') no-repeat top left #fb7b3e;z-index: -1;}
.btn-nobg:hover {  color: #ffffff !important;border:1px solid #fb7b3e !important;}
.btn-nobg:hover::before {width: 100%;}
/*about cont end*/
.mvenue_img { background: url(../images/venue.jpg);   padding: 0px;  display: inline-block; width: 100%; box-sizing: border-box;}
.v_date {  background-color: rgba(0, 0, 0, 0.5) !important;  display: inline-block; float: left;  width: 100%; padding: 40px 0;}
.package_cntr{overflow: hidden;background: transparent;margin: 0;box-shadow: 0px 0px 0px 0px #c2c2c2;border-top: 0px solid #6cbd32;}
.pkg_red, .pkg_green {  width: 38%;  margin: 0px 6%;}
.feature_new {  width: 100%;}
.ctnt_heading .cont_feat_h { font-family: 'ralewayregular'; color: #021533;   letter-spacing: -1px;  font-weight: 600;padding-left: 57px;}
.cont_feat_h.ce{color:#fff;}
.main_cont{width:100%;max-width: 1600px;margin: 0 auto;clear: both;background-color: #fff;}
.ftr_controler{padding: 40px 60px;}
.info_prt {  float: left;width: 33%;}
.info_prt ul li span{font-weight: 600;font-family: "ralewaybold";font-size: 15px;}
.ft_ttl {  font-size: 20px; margin-bottom: 8px;}
.cpyrt_dtls{font-family: "ralewaysemibold";font-size: 14px;}
.info_prt2 ul li{list-style: none;text-transform: none;margin-left: -19px;}
.info_prt2 ul li span {font-weight: 600;font-family: "ralewaybold";font-size: 14px;}
.foot_txt { margin-top: 0px;}
footer { border-top: 0px solid #b3b3b3; padding: 15px 0; margin-top: 0px;}
.footer_links_wpr { background: #6cbd32;box-shadow: 0px 3px 0px 0px #4c911b; margin: 0 0px 0px 0px;}
.back_image{background-image: url("../images/search-course-pattern.png");}
.back_color_cen{background-color: rgba(45,62,80,0.7)}
.online_centers li { color: #fff;}
.footer_links_wpr { background: #2d3e50;  box-shadow: 0px 3px 0px 0px #2d3e50; margin: 0 0px 0px 0px;  border-top: 3px solid #606468;}
.feature_cen_cntl{padding: 40px 60px;}
.info_prt ul li{ text-transform:none;font-family: 'ralewayregular'; font-weight:normal; font-size:14px;}
.featrs_wpr ul li {  width: 78%;margin-bottom: 20px;}
.feat_top{padding: 25px 60px 40px 60px}
.main_cont_head {  max-width: 1660px; padding: 0px 60px;width: 100%;box-sizing: border-box;}
/*new css end*/

.sliderFIX_IMG img{width:100%;}
.logo img{width: 76px;}
.nav_fixed.stick .logo img {width:38px;}