body{ margin:0; padding:0; font-size:14px; font-family: 'ralewayregular'; overflow-y:scroll;}
h1, h2, h3, h4, p, ul{ margin:0;}
.logo img{width: 76px;}
ul{ padding:0;}
a{ text-decoration:none;}
.top_hdr{ height:190px;
background: rgba(29,184,236,1);
background: -moz-linear-gradient(top, rgba(29,184,236,1) 0%, rgba(7,70,138,1) 100%);
background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(29,184,236,1)), color-stop(100%, rgba(7,70,138,1)));
background: -webkit-linear-gradient(top, rgba(29,184,236,1) 0%, rgba(7,70,138,1) 100%);
background: -o-linear-gradient(top, rgba(29,184,236,1) 0%, rgba(7,70,138,1) 100%);
background: -ms-linear-gradient(top, rgba(29,184,236,1) 0%, rgba(7,70,138,1) 100%);
background: linear-gradient(to bottom, rgba(29,184,236,1) 0%, rgba(7,70,138,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1db8ec', endColorstr='#07468a', GradientType=0 );
}
.main_wpr{ width:980px; margin:0 auto; border:1px solid #eee; margin-bottom: 35px;/* box-shadow: 0px 0px 3px 0px #ababab*/} 
.no_border{ border:none !important; box-shadow:none; }
.main_wpr .info{ margin-left: 355px;margin-top: 25px;position: absolute;}
.reg_o{ display: inline-block; width: 42px; height: 42px; vertical-align: middle;/* background-image: url(../images/reg_o.png); background-size: 100%;  background-repeat: no-repeat;*/ margin: -9px 1px 0 2px;}
.reg_o img{ width:100%; height:100%;}
.hdr_ctnt{ display:inline-block; margin:0 auto; margin-top:30px; color: #ffffff; text-transform: uppercase; text-align:left; font-family: 'ralewayblack';}
.hdr_ctnt h3{ font-size:14px;}
.hdr_ctnt h1{ font-size:46px; margin-top: -6px; }
.pg_title{ display:inline-block; width:100%; height:70px; background:#282828; margin-top: 24px; border-radius: 5px 5px 0 0; -webkit-border-radius: 5px 5px 0 0; -moz-border-radius: 5px 5px 0 0; -ms-border-radius: 5px 5px 0 0; -o-border-radius: 5px 5px 0 0; margin-left: -1px; padding-right: 2px;}
.pg_title span{ float:left; line-height: 70px; margin-left: 25px; color:#ffffff; font-size:22px; text-transform:uppercase; font-family: 'ralewayextralight';}
.inst_wpr{ background:#fffbcb; padding:15px 25px; overflow:hidden;}
.reg_form_wpr{ padding:0px 25px; margin:35px 0; overflow:hidden;}
.ins_online_sub{ float:left; width:100%; font-size: 30px; font-family: 'ralewaylight';}
.ins_online_sub .img{ vertical-align: middle; margin-right: 13px; width:50px; margin-top: -3px;}
.inst_wpr .inst_p{ font-size: 14px; margin: 15px 0; display: inline-block; width: 100%; font-family: 'ralewaymedium';}
.inst_points{ list-style:decimal; padding-left: 16px; margin-top: 10px; font-size:13px;}
.inst_points li{ margin-bottom:5px;}
.reg_form_wpr fieldset{ border:1px solid #d7d7d7; padding: 20px 17px 0 17px; border-radius: 12px; margin-bottom: 10px; -webkit-border-radius: 12px; -moz-border-radius: 12px; -ms-border-radius: 12px; -o-border-radius: 12px;}
.reg_form_wpr fieldset legend{ color:#027bff; font-family: 'ralewaysemibold';}
.flds_cntr{width: 48%; float: left; margin: 0px 1%; margin-bottom: 25px;}
.flds_cntr label{ display:block; margin-bottom:5px;}
.flds_cntr label b { font-size: 16px; font-family: arial; vertical-align: middle; color: #ff0000;}
.flds_cntr input, .flds_cntr select{ width:97%; border:1px solid #ccc; padding: 8px 0 8px 8px;}
.flds_cntr select{ width:99.5%; line-height: 33px; height: 33px;}
.flds_cntr .gender_css{ width:99.5%; line-height: 35px; height: 35px;}
/*.flds_cntr_select{ border:1px solid #acacac; border-color:#acacac; outline:none;}*/
.declaration{ font-size:13px; width:auto; margin: 0px 1%; padding-bottom: 30px;}
.cbox_agree{ display: block; margin-bottom: 7px;}
.cbox_agree .checkbox{ float:left; width:auto !important; cursor:pointer; vertical-align:middle; margin: 2px 5px 0 0; font-size:15px; border: 0; padding:0;  }
.cbox_agree .i_agree{ color:#ff0000; cursor:pointer; font-family: 'ralewaysemibold';}
.pymnt_option{ display: inline-block; margin: 30px 10px 0px 0;}
.pymnt_option .checkbox{ float:left; width:auto !important; cursor:pointer; vertical-align:middle; margin: 2px 5px 0 0; font-size:15px; border: 0; padding:0;  }
.pymnt_option .pymnt_type{ float: left; color:#000; cursor:pointer; font-family: 'ralewaysemibold';}
.declaration p{ line-height: 19px; clear:both;}
.register_cntr{}
.register_cntr .reg_btn{ float:right; font-size:22px; color:#fff; border:1px solid #3f886a; padding:5px 15px; text-transform:uppercase; border-radius:3px; cursor:pointer; font-family:'ralewaymedium'; box-shadow: 0px 0px 5px 0px #3f886a; -webkit-box-shadow: 0px 0px 5px 0px #3f886a; -moz-box-shadow: 0px 0px 5px 0px #3f886a; -ms-box-shadow: 0px 0px 5px 0px #3f886a; -o-box-shadow: 0px 0px 5px 0px #3f886a;  margin-bottom: 5px; margin-top: 15px;
background: rgba(118,183,72,1);
background: -moz-linear-gradient(top, rgba(118,183,72,1) 0%, rgba(104,180,104,1) 46%, rgba(95,179,124,1) 55%, rgba(91,178,134,1) 100%);
background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(118,183,72,1)), color-stop(46%, rgba(104,180,104,1)), color-stop(55%, rgba(95,179,124,1)), color-stop(100%, rgba(91,178,134,1)));
background: -webkit-linear-gradient(top, rgba(118,183,72,1) 0%, rgba(104,180,104,1) 46%, rgba(95,179,124,1) 55%, rgba(91,178,134,1) 100%);
background: -o-linear-gradient(top, rgba(118,183,72,1) 0%, rgba(104,180,104,1) 46%, rgba(95,179,124,1) 55%, rgba(91,178,134,1) 100%);
background: -ms-linear-gradient(top, rgba(118,183,72,1) 0%, rgba(104,180,104,1) 46%, rgba(95,179,124,1) 55%, rgba(91,178,134,1) 100%);
background: linear-gradient(to bottom, rgba(118,183,72,1) 0%, rgba(104,180,104,1) 46%, rgba(95,179,124,1) 55%, rgba(91,178,134,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#76b748', endColorstr='#5bb286', GradientType=0 );
}
.register_cntr .reg_btn:hover{
background: rgba(91,178,134,1);
background: -moz-linear-gradient(top, rgba(91,178,134,1) 0%, rgba(95,179,124,1) 45%, rgba(104,180,104,1) 55%, rgba(118,183,72,1) 100%);
background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(91,178,134,1)), color-stop(45%, rgba(95,179,124,1)), color-stop(55%, rgba(104,180,104,1)), color-stop(100%, rgba(118,183,72,1)));
background: -webkit-linear-gradient(top, rgba(91,178,134,1) 0%, rgba(95,179,124,1) 45%, rgba(104,180,104,1) 55%, rgba(118,183,72,1) 100%);
background: -o-linear-gradient(top, rgba(91,178,134,1) 0%, rgba(95,179,124,1) 45%, rgba(104,180,104,1) 55%, rgba(118,183,72,1) 100%);
background: -ms-linear-gradient(top, rgba(91,178,134,1) 0%, rgba(95,179,124,1) 45%, rgba(104,180,104,1) 55%, rgba(118,183,72,1) 100%);
background: linear-gradient(to bottom, rgba(91,178,134,1) 0%, rgba(95,179,124,1) 45%, rgba(104,180,104,1) 55%, rgba(118,183,72,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#5bb286', endColorstr='#76b748', GradientType=0 );}

.register_cntr .forgot_pwd{ float: left; padding: 10px 0px; color: #acacac;}
.register_cntr .forgot_pwd:hover{ color:#333;}
.fldset_inr{width: 100%; display:block; margin: 0px 3%; margin-bottom: 15px;}
.fldset_inr label{ display: inline-block; width: 265px; font-family: 'ralewaymedium';}
.fldset_inr span{ font-family: 'arial';}
.after_wpr{ padding: 35px 50px; overflow: hidden;}
.login_left{ float:left; width:45%;}
.login_left img{ display:none;}
.login_left .lgn_ttl{ font-size:28px; line-height: 40px; color:rgba(100,99,99,1.00); font-family: 'ralewaylight'; font-weight:normal;}
.login_right{ float:right; width:50%; border:1px solid #d7d7d7; -webkit-border-radius: 12px; -moz-border-radius: 12px; -ms-border-radius: 12px; -o-border-radius: 12px;}
.inr_login{ padding:25px; overflow:hidden;}
.inr_login .flds_cntr{ width:94%;}
.red_astrk { font-size: 16px; font-family: arial; vertical-align: middle; color: #ff0000;}
.appform_steps{ margin:0; display:block; padding-left: 30px;}
.appform_steps li{ display:inline-block; margin-right:5px;}
.appform_steps li a{ display: inline-block; text-align: center; padding:7px 12px; background:#d7d7d7; border:1px solid #d7d7d7; color:#000; font-family: 'ralewaysemibold';   border-radius: 7px 7px 0 0; -webkit-border-radius: 7px 7px 0 0; -moz-border-radius: 7px 7px 0 0; -ms-border-radius: 7px 7px 0 0; -o-border-radius: 7px 7px 0 0;}
.appform_steps li a span{ background: #027bff; color: #fff; width: 25px; display: inline-block; line-height: 25px; margin-right: 7px; font-family: 'ralewaymedium'; border-radius: 100%; -webkit-border-radius: 100%; -moz-border-radius: 100%; -ms-border-radius: 100%; -o-border-radius: 100%;}	
.appform_steps li a:hover, .appform_steps li a.selected{ background:#fff; border-bottom-color:#fff; }
.appform_steps li a:hover span, .appform_steps li a.selected span{ background:#70b554;}

.round_steps{ display: inline-block; list-style: none; margin-bottom: 25px; width: 100%;}
.round_steps li{ float:left; padding:0 5%; position:relative; text-align:center;}
.round_steps li a{ display: inline-block;}
.round_steps li a .stp_circle{ cursor:pointer; text-align: center; border:4px solid #c8c7cc; background:#fff; color: #000; width: 30px; display: inline-block; line-height: 30px; font-family: 'ralewaymedium'; border-radius: 100%; -webkit-border-radius: 100%; -moz-border-radius: 100%; -ms-border-radius: 100%; -o-border-radius: 100%;}
.round_steps li a.first .stp_circle{ float:left;}
.round_steps li a.last .stp_circle{ float:right;}
.round_steps li a .stp_name{ clear:both; color:#c8c7cc; padding-top:3px;}
.round_steps li a .stp_line{ position:absolute; top:17px; left:0; width:100%; height:4px; background:#c8c7cc; z-index:-1;}
.round_steps li a.first .stp_line{ left:inherit;}
.round_steps li a.first .stp_name{ margin-left:-30px;}
.round_steps li a.last .stp_name{ margin-right:-12px;}
.round_steps li a.last1 .stp_name { margin-right: -77px;}
.round_steps li.first{ padding-ritht:0;}
.round_steps li.last{ text-align:right; padding-right:0;}
.round_steps li a.last .stp_line{ left:inherit; right:0;}
.round_steps li a:hover .stp_circle, .round_steps li a.selected .stp_circle{ border-color:#007aff;}

.round_steps li#current a .stp_circle{ border-color:#007aff;}
.round_steps li#current a .stp_name{ color:#000;}
.round_steps li#current a .stp_line{ background:#007aff;}

.round_steps li a:hover .stp_name, .round_steps li a.selected .stp_name{ color:#000;}
.round_steps li a:hover .stp_line, .round_steps li a.selected .stp_line{ background:#007aff;}

.appform_f_cntr{ padding: 0px; border-radius: 12px; overflow:hidden; -webkit-border-radius: 7px; -moz-border-radius: 7px; -ms-border-radius: 7px; -o-border-radius: 7px; margin-top: -1px;}
.appform_note{  background: #fffbcb; padding: 12px; font-size:12px; overflow: hidden; line-height: 19px; border:1px solid #ff6c6c;}	
.appform_note b{ color: #ff0000;}
.appform_full{ width:97.7%;}
.appform_full label{ display:inline-block; margin-bottom:0; vertical-align:middle;}	
.chxrdo_cntr{ display: inline-block; margin-left: 10px; padding: 7px 0 7px 10px; vertical-align: middle;}
.hglt_chx {background: #f5f5f5; border: 1px solid #ccc;}
.chxrdo_span{ float:left; width:auto !important; margin: 0 20px 0 0;}
.checkbox, .radio{ float:left; width:auto !important; cursor:pointer; vertical-align:middle; margin: 2px 5px 0 0; font-size:15px; border: 0; padding:0; border:none !important;}
.appform_titl{ font-size: 18px; color: #027bff; font-family: 'ralewaysemibold'; padding-bottom: 7px; border-bottom: 1px solid #d7d7d7; margin-bottom: 25px;}	

.half_width{ width:48% !important;}
.work_exp_wpr{ border: 1px solid #ccc; border-bottom:none; overflow:hidden; width: 94.3%; margin: 0 auto; margin-bottom:25px;}
.work_exp_wpr .work_exp_inr{ border-bottom: 1px solid #ccc; overflow:hidden;}
.work_exp_wpr .work_exp_inr.gray_bg{ background:#e0edf5; color: #333; font-family: 'ralewaysemibold';}
.work_exp_left, .work_exp_rgt{ float:left; width:49%; line-height:45px; text-align:center;}
.work_exp_left1, .work_exp_rgt1{ float:left; width:48%; line-height:40px; text-align:left; padding-left:7px;}
.work_exp_left1{ border-right: none !important;}
.work_exp_rgt1{  border-left: 1px solid #ccc;}
.work_exp_left{ border-right: 1px solid #ccc;}
.work_exp_rgt input, .work_exp_rgt select{ border: 1px solid #acacac; margin-left: 2.3%; padding: 1.5% 1%; width: 97%; box-shadow: 0 0 4px #c2c2c2; -webkit-box-shadow: 0 0 4px #acacac; -moz-box-shadow: 0 0 4px #acacac; -ms-box-shadow: 0 0 4px #acacac; -o-box-shadow: 0 0 4px #acacac; }
.work_exp_rgt select{ width:100%;}
.exp_fld_nm{ text-align:left;}
.exp_fld_nm .chx_inpt{ display:inline-block; border:none; margin:0 0 0 10px; vertical-align:middle;}
.exp_fld_nm .chx_name{ display:inline-block;}
.nrml_lhght{ line-height:23px !important; padding-bottom: 7px; padding-top: 7px;}
.upld_phto{ float:left; width:98px; height:120px; border:1px solid #ccc; background:#f5f5f5; margin-right:7px;}
.upld_phto img{width:100%; height:100%; }
.app_prvw_img{ position:absolute; top:32px; right:25px; width:105px; height:130px;}
.app_prvw_img img{ width:100%; height:100%;}


/*Preloader start*/
.pre_loader_bg{ background-color:transparent; width:100%; height:100%; position:fixed; top:0; left:0;}
.pre_loader{ position:fixed; top:43%; left:46%; z-index:9999; }
.ldr_line{ width:70px; height:70px; /*background-image:url(../images/ldr_line_orange.png); background-repeat: no-repeat; background-size:100%;box-shadow:inset 0px 0px 0 4px #ff9300;*/ border-radius:100%;  border:4px solid #fe5b00; border-left-color:transparent; border-right-color:transparent; border-bottom-color:transparent;  position:relative; z-index:99;

animation-name:loader;
animation-duration:1s;
animation-iteration-count:infinite;
animation-timing-function:linear;
animation-fill-mode: forwards;

-webkit-animation-name: loader;
-webkit-animation-duration:1s;
-webkit-animation-iteration-count:infinite;
-webkit-animation-timing-function:linear;
-webkit-animation-fill-mode: forwards;

-moz-animation-name: loader;
-moz-animation-duration:1s;
-moz-animation-iteration-count:infinite;
-moz-animation-timing-function:linear;
-moz-animation-fill-mode: forwards;

-ms-animation-name: loader;
-ms-animation-duration:1s;
-ms-animation-iteration-count:infinite;
-ms-animation-timing-function:linear;
-ms-animation-fill-mode: forwards;

-o-animation-name: strm_rgt_slide;
-o-animation-duration:1s;
-o-animation-iteration-count:infinite;
-o-animation-timing-function:linear;
-o-animation-fill-mode: forwards;
}
@-webkit-keyframes loader {
 0% { }
 100% { transform:rotate(360deg);}
}
@-moz-keyframes loader {
 0% { }
100% { transform:rotate(360deg);}
}
@-ms-keyframes loader {
 0% { }
100% { transform:rotate(360deg);}
}
@-o-keyframes loader {
 0% { }
100% { transform:rotate(360deg);}
}
@keyframes loader {
 0% { }
100% { transform:rotate(360deg);}
}
/*.ldr_line:after { content: ""; border: 4px solid #ff9300; width: 60px; height: 57px; display: inline-block; border-radius: 100%;}*/
.pre_loader .icon{ display:inline-block; width:70px; height:70px; background-image:url(../images/logo_ldr.png); background-repeat:no-repeat; background-color:#fff; border:4px solid #ff9300; position:absolute; top:0; background-position: 14px 13px; border-radius: 100%;}
/*Preloader end*/

.file_upload{}
.file_upload p{ margin-bottom:5px;}
.fileinput-button { position: relative; overflow:hidden; color: #027bff; font-family: 'ralewaysemibold';}
.fileinput-button input { position: absolute; top: 0; right: 0; margin: 0; opacity: 0; -ms-filter: 'alpha(opacity=0)'; font-size: 200px; direction: ltr;  cursor: pointer; height:20px; overflow:hidden;}

/* Fixes for IE < 8 */
@media screen\9 { 
.fileinput-button input { filter: alpha(opacity=0); font-size: 100%; height: 100%;}
}	

.clear_both{ clear:both !important; width:100%; display:inline-block;}


/*Popup code start*/
.res_pop_bg { background: rgba(255,255,255,0.9); position: fixed; top: 0; left: 0; width: 100%; height: 100%; z-index: 9; }
.res_main_pop { position: absolute; background: #fff; width: 400px; padding-bottom:20px; opacity: 1; top: 50%; left: 50%; margin-left:-200px; margin-top:-200px; z-index: 99; border: 1px solid #d8d8d8; box-shadow: 0px 0px 35px 0px rgba(62,62,62,0.2); border-radius:4px;

animation-name:pop_zoom;
animation-duration:0.2s;
animation-timing-function:ease-in-out;
animation-fill-mode: forwards;

-webkit-animation-name: pop_zoom;
-webkit-animation-duration:0.2s;
-webkit-animation-timing-function:ease-in-out;
-webkit-animation-fill-mode: forwards;

-moz-animation-name: pop_zoom;
-moz-animation-duration:0.2s;
-moz-animation-timing-function:ease-in-out;
-moz-animation-fill-mode: forwards;

-ms-animation-name: pop_zoom;
-ms-animation-duration:0.2s;
-ms-animation-timing-function:ease-in-out;
-ms-animation-fill-mode: forwards;

-o-animation-name: pop_zoom;
-o-animation-duration:0.2s;
-o-animation-timing-function:ease-in-out;
-o-animation-fill-mode: forwards;
}
@-webkit-keyframes pop_zoom {
 0% { transform:scale(0.7);}
 100% { transform:scale(1); visibility:visible;}
}
@-moz-keyframes pop_zoom {
 0% { transform:scale(0.7);}
 100% { transform:scale(1,1); visibility:visible;}
}
@-ms-keyframes pop_zoom {
 0% { transform:scale(0.7);}
 100% { transform:scale(1); visibility:visible;}
}
@-o-keyframes pop_zoom {
 0% { transform:scale(0.7);}
 100% { transform:scale(1); visibility:visible;}
}
@keyframes pop_zoom {
 0% { transform:scale(0.7);}
 100% { transform:scale(1); visibility:visible;}
}
.pop_hide { 
animation-name:pop_out;
animation-duration:0.2s;
animation-timing-function:ease-in-out;
animation-fill-mode: forwards; 

-webkit-animation-name: pop_out;
-webkit-animation-duration:0.2s;
-webkit-animation-timing-function:ease-in-out;
-webkit-animation-fill-mode: forwards;

-moz-animation-name: pop_out;
-moz-animation-duration:0.2s;
-moz-animation-timing-function:ease-in-out;
-moz-animation-fill-mode: forwards;

-ms-animation-name: pop_out;
-ms-animation-duration:0.2s;
-ms-animation-timing-function:ease-in-out;
-ms-animation-fill-mode: forwards;
}
@-webkit-keyframes pop_out {
 0% { transform:scale(1);}
 100% { transform:scale(0.7); visibility:hidden;}
}
@-moz-keyframes pop_out {
 0% { transform:scale(1);}
 100% { transform:scale(0.7); visibility:hidden;}
}
@-ms-keyframes pop_out {
 0% { transform:scale(1);}
 100% { transform:scale(0.7); visibility:hidden;}
}
@-o-keyframes pop_out {
 0% { transform:scale(1);}
 100% { transform:scale(0.7); visibility:hidden;}
}
@keyframes pop_out {
 0% { transform:scale(1);}
 100% { transform:scale(0.7); visibility:hidden;}
}
.res_main_pop span { cursor: pointer; width: 25px; font-size: 20px; line-height: 25px; text-align: center; color: #8d8d8d; margin: 0px 0px 0 0; position: absolute; top: 7px; right: 7px;}
.res_main_pop span:before { content: "X";}
.res_main_pop .reg_back { cursor: pointer; width: 25px; font-size: 16px; line-height: 25px; text-align: center; color: #8d8d8d; margin: 0px 0px 0 0;font-family: 'Flaticon'; position: absolute; top: 7px; left: 7px;}
.res_main_pop .reg_back:before { content: "\e03b";}
.res_main_pop .pop_title{ color:#8d8d8d; font-size:16px; text-align: center; margin: 45px 0 0px 0;}
.res_main_pop p { margin:25px 35px 0 35px;}
.res_main_pop p label{ font-weight:bold; font-size:13px; color:#000; display: block; margin: 5px 0; }
.res_main_pop p input[type=text] { width:96%; height: 30px; font-size: 14px; border: 1px solid #d8d8d8; -webkit-border-radius: 2px; -moz-border-radius: 2px; -ms-border-radius: 2px; -o-border-radius: 2px; border-radius: 2px; padding-left: 5px; padding-right: 5px; }
.button{ float:right; font-size:22px; color:#fff; border:1px solid #3f886a; padding:5px 15px; text-transform:uppercase; border-radius:3px; cursor:pointer; font-family:'ralewaymedium'; box-shadow: 0px 0px 5px 0px #3f886a; -webkit-box-shadow: 0px 0px 5px 0px #3f886a; -moz-box-shadow: 0px 0px 5px 0px #3f886a; -ms-box-shadow: 0px 0px 5px 0px #3f886a; -o-box-shadow: 0px 0px 5px 0px #3f886a;  margin-bottom: 5px;
background: rgba(118,183,72,1);
background: -moz-linear-gradient(top, rgba(118,183,72,1) 0%, rgba(104,180,104,1) 46%, rgba(95,179,124,1) 55%, rgba(91,178,134,1) 100%);
background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(118,183,72,1)), color-stop(46%, rgba(104,180,104,1)), color-stop(55%, rgba(95,179,124,1)), color-stop(100%, rgba(91,178,134,1)));
background: -webkit-linear-gradient(top, rgba(118,183,72,1) 0%, rgba(104,180,104,1) 46%, rgba(95,179,124,1) 55%, rgba(91,178,134,1) 100%);
background: -o-linear-gradient(top, rgba(118,183,72,1) 0%, rgba(104,180,104,1) 46%, rgba(95,179,124,1) 55%, rgba(91,178,134,1) 100%);
background: -ms-linear-gradient(top, rgba(118,183,72,1) 0%, rgba(104,180,104,1) 46%, rgba(95,179,124,1) 55%, rgba(91,178,134,1) 100%);
background: linear-gradient(to bottom, rgba(118,183,72,1) 0%, rgba(104,180,104,1) 46%, rgba(95,179,124,1) 55%, rgba(91,178,134,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#76b748', endColorstr='#5bb286', GradientType=0 );
}
.button:hover{
background: rgba(91,178,134,1);
background: -moz-linear-gradient(top, rgba(91,178,134,1) 0%, rgba(95,179,124,1) 45%, rgba(104,180,104,1) 55%, rgba(118,183,72,1) 100%);
background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(91,178,134,1)), color-stop(45%, rgba(95,179,124,1)), color-stop(55%, rgba(104,180,104,1)), color-stop(100%, rgba(118,183,72,1)));
background: -webkit-linear-gradient(top, rgba(91,178,134,1) 0%, rgba(95,179,124,1) 45%, rgba(104,180,104,1) 55%, rgba(118,183,72,1) 100%);
background: -o-linear-gradient(top, rgba(91,178,134,1) 0%, rgba(95,179,124,1) 45%, rgba(104,180,104,1) 55%, rgba(118,183,72,1) 100%);
background: -ms-linear-gradient(top, rgba(91,178,134,1) 0%, rgba(95,179,124,1) 45%, rgba(104,180,104,1) 55%, rgba(118,183,72,1) 100%);
background: linear-gradient(to bottom, rgba(91,178,134,1) 0%, rgba(95,179,124,1) 45%, rgba(104,180,104,1) 55%, rgba(118,183,72,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#5bb286', endColorstr='#76b748', GradientType=0 );}


.cost{ float: right; font-size: 18px; font-family: 'ralewaysemibold'; font-weight: normal; color: #fff; font-size: 24px; position: absolute; right: 0; top: 7px; padding: 0 35px; background: #007aff; height: 100%; border-radius: 0 11px 0 0;}
.cost table{ margin-top:-5%;}
.header{ display: inline-block; width: 100%; background:#fff; height:77px; border-bottom:12px solid #009E39;}
.logo{ float:left; margin-top:0px;}
.logo img{width: 76px;}
.inr_pg_hdr { margin:25px 0 5px 0; color: rgba(100,99,99,1.00); font-size: 24px; text-transform: uppercase; font-family: 'ralewaybold';}
.hding_pgination{ margin-bottom:25px; font-size:13px;}
.login_rgt{ float:right; line-height:77px; background:#009E39; color:#fff; font-family: 'ralewayblack'; font-weight:normal; text-transform:uppercase; padding: 0 15px;}
.login_rgt:hover{ background:#F15A22;}


/*Responsive tab start*/
.responsive-tabs{ border-top:none; margin-top:55px; overflow:hidden;}
.responsive-tabs-wrapper { clear: both; zoom: 1; }
.responsive-tabs-wrapper:before, .responsive-tabs-wrapper:after { content: ""; display: table;} 
.responsive-tabs-wrapper:after { clear: both;}

.responsive-tabs__heading:focus,
.responsive-tabs__list__item:focus { outline: 1px solid #ccc;  }

.responsive-tabs__heading--active:focus,
.responsive-tabs__list__item--active:focus { outline: none !important;}

.responsive-tabs__list { font-size: 1.2em; margin: 12px 0 0 0; padding: 0; border-bottom: 5px solid #0089d0; padding-bottom:11px; line-height: 27px;}
.responsive-tabs__list__item { background: #dfe2e4; border-top: 5px solid #dfe2e4; padding: 12px 20px 15px; margin-right: 0; border-right: 1px solid #ddd; font-size: 16px; font-family: 'ralewaysemibold'; font-weight:normal; }
.responsive-tabs__list__item:first-child{ border-left:1px solid #ccc;}
.responsive-tabs__list__item--active, 
.responsive-tabs__list__item--active:hover {  background: #fff; border-bottom-color: #fff; border-top: 5px solid #0089d0; padding-bottom: 20px;}

.responsive-tabs__panel { margin-bottom: 0;}
.tabsshowhide{ border:1px solid #ccc; border-top:none; overflow:hidden;}
.tabs_ctnt_wpr{ padding:20px; overflow:hidden; min-height: 200px;}
/*Responsive tab end*/

.choos_center_wpr{ color:505050; padding:20px; overflow:hidden;}
.choos_center_wpr h2{ text-align:center; font-family: 'ralewaysemibold'; font-size:18px; font-weight: normal; text-transform:uppercase; margin-top: 25px;  margin-bottom: 15px;}
.slct_yr_loc{ display:inline-block; width:100%; margin:15px 0;}
.slct_yr_loc label{ font-size: 16px; font-family: 'ralewaysemibold'; font-weight: normal; vertical-align:middle;}
.slct_yr_loc select{ margin-left:15px; border:1px solid #ccc; padding: 8px 0 8px 8px; width: 235px;}
.choos_center{ float:left; width:100%; color:#333;}
.choos_center p{ float:left; display:none;}
.centr_change{ display:inline-block; width:100%; margin:25px 0;}
.centr_change .cchange_btn{  display:inline-block; margin-left:25px; font-size:16px; color:#fff; border:1px solid #3f886a; padding:8px 20px; text-transform:uppercase; border-radius:3px; cursor:pointer; font-family:'ralewaymedium'; margin-bottom: 5px; margin-top: 15px;
background: rgba(118,183,72,1);
background: -moz-linear-gradient(top, rgba(118,183,72,1) 0%, rgba(104,180,104,1) 46%, rgba(95,179,124,1) 55%, rgba(91,178,134,1) 100%);
background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(118,183,72,1)), color-stop(46%, rgba(104,180,104,1)), color-stop(55%, rgba(95,179,124,1)), color-stop(100%, rgba(91,178,134,1)));
background: -webkit-linear-gradient(top, rgba(118,183,72,1) 0%, rgba(104,180,104,1) 46%, rgba(95,179,124,1) 55%, rgba(91,178,134,1) 100%);
background: -o-linear-gradient(top, rgba(118,183,72,1) 0%, rgba(104,180,104,1) 46%, rgba(95,179,124,1) 55%, rgba(91,178,134,1) 100%);
background: -ms-linear-gradient(top, rgba(118,183,72,1) 0%, rgba(104,180,104,1) 46%, rgba(95,179,124,1) 55%, rgba(91,178,134,1) 100%);
background: linear-gradient(to bottom, rgba(118,183,72,1) 0%, rgba(104,180,104,1) 46%, rgba(95,179,124,1) 55%, rgba(91,178,134,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#76b748', endColorstr='#5bb286', GradientType=0 );
}
.centr_change .cchange_btn:hover{
background: rgba(91,178,134,1);
background: -moz-linear-gradient(top, rgba(91,178,134,1) 0%, rgba(95,179,124,1) 45%, rgba(104,180,104,1) 55%, rgba(118,183,72,1) 100%);
background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(91,178,134,1)), color-stop(45%, rgba(95,179,124,1)), color-stop(55%, rgba(104,180,104,1)), color-stop(100%, rgba(118,183,72,1)));
background: -webkit-linear-gradient(top, rgba(91,178,134,1) 0%, rgba(95,179,124,1) 45%, rgba(104,180,104,1) 55%, rgba(118,183,72,1) 100%);
background: -o-linear-gradient(top, rgba(91,178,134,1) 0%, rgba(95,179,124,1) 45%, rgba(104,180,104,1) 55%, rgba(118,183,72,1) 100%);
background: -ms-linear-gradient(top, rgba(91,178,134,1) 0%, rgba(95,179,124,1) 45%, rgba(104,180,104,1) 55%, rgba(118,183,72,1) 100%);
background: linear-gradient(to bottom, rgba(91,178,134,1) 0%, rgba(95,179,124,1) 45%, rgba(104,180,104,1) 55%, rgba(118,183,72,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#5bb286', endColorstr='#76b748', GradientType=0 );}
.centr_change .cchange_btn i{ display: inline-block; width: 22px; height: 22px; background-position: -100px 0px; vertical-align: middle; margin-top: -6px; margin-left: 7px;}
.yr_center_hding{ display: inline-block; padding: 30px 0 20px 0;}
.choos_center .center{ display:inline-block; text-align: left; width:42%; vertical-align: top; padding:15px 3% 0px 4%; padding-bottom:15px; position:relative; font-size: 13px; line-height: 18px; border-bottom: 1px solid #ddd; height:225px;}
.choos_center .center:nth-child(even){ border-right: 1px solid #ddd;}
/*.choos_center .center input{ position:absolute; left:0; top:0; }*/
/*.choos_center .center input[type=radio   ]:not(old){
  width   : 28px;
  margin  : 0;
  padding : 0;
  opacity : 0;
}
.choos_center .center input[type=radio   ]:not(old){
  display      : inline-block;
  margin-left  : -24px;
  padding-left : 28px;
  background   : url('../images/checks.png') no-repeat 0 0;
  line-height  : 24px;
}
.choos_center .center input[type=checkbox]:not(old):checked{
  background-position : 0 -24px;
}

.choos_center .center input[type=radio]:not(old):checked{
  background-position : 0 -48px;
}*/
.address_input { margin-left: -21px;}
.centr_adrs{ display: inline-block; width: 100%; margin: 15px 0;}
.sesion_wpr{ position:absolute; left: 2%; bottom:20px; width: 91%; min-height: 37px; margin-top: 15px; padding:10px; background: #f1f1f1; border: 1px solid #d5d5d5;}
.sesion_wpr_input{ display:inline-block; width: 50%; line-height: 25px;}
.sesion_wpr_input input{ float:left; margin:6px 3px 0 0;}
.sesion_wpr_input span{ font-weight:bold;}

.ceter_map{ float:right; width:39%;}
.lgout_prof{ float:right; background:#fe5c00; height: 77px; position:relative;}
.lgout_prof .logout{ float:right; padding:0 15px; font-family: 'ralewaybold'; font-weight: normal; line-height:78px; color:#fff; text-transform:uppercase; border-left:1px solid rgba(255,255,255,0.20);}
.pf_nm_cntr{ display:inline-block;}
.lgout_prof .prof_pic_name{ float:right; padding: 0 15px 10px 15px; display:inline-block;}
.lgout_prof .prof_pic_name img{ float:left; width:50px; height:50px; margin:13px 13px 0 0;}
.lgout_prof .prof_pic_name span{ font-family: 'ralewaybold'; font-weight: normal; line-height:78px; color:#fff; text-transform:uppercase;}

.logout_tultip{ display:none; padding: 0 15px; background: #fff; width: 147px; position: absolute; top: 75px; border: 1px solid #ddd; box-shadow: 0px 4px 2px -3px #555;}
.logout_tultip:before{ content: ""; border: 10px solid transparent; border-top: 0; border-bottom: 10px solid #fff; margin-top: -9px; position: absolute;  margin-left: 14px;}
.logout_tultip ul{ margin:0; padding:0;}
.logout_tultip ul li{ display:block;}
.logout_tultip ul li a{ padding:10px 0; border-bottom:1px dotted #ccc; display: block; color: #505050; font-family: 'ralewaysemibold'; font-weight: normal;outline:none;}
.logout_tultip ul li a:hover{ color:#fe5c00;}
.logout_tultip ul li a.last{ border-bottom:none;}
.dwnld_admit{ text-align:center; margin-top:35px; font-family: 'ralewaysemibold'; font-weight: normal; font-size:22px;}
.dwnld_admit a{ color:#0089d0; border: 1px solid; padding: 7px 10px; transition:0.1s ease-in;}
.dwnld_admit a:hover{ color:#fff; background:#0089d0;}
.sprite{ background-image:url(../images/sprite.png); background-repeat:no-repeat;}

.inr_tb_ttl1 { margin: 20px 13px 25px 8px; border-bottom: 1px solid #ccc; padding-bottom: 7px; clear:both;}
.nicescroll-rails{top:583.5px important;}