
h1{
	margin: 0 auto;
	padding: 0px;
	font-family:Arial, Helvetica, sans-serif;
	font-size:22px;
	color:#FFFFFF;
}
h2{
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	font-weight:bold;
	color:#3a8ccf;
}
h3{
	margin: 0 auto;
	padding:0px;
	font-family:Arial, Helvetica, sans-serif;
	font-size:16px;
	font-weight:bold;
	color:#ff0000;
}
h4{
	margin: 0 auto;
	padding:0;
	font:bold 15px Arial, Helvetica, sans-serif;
	color:#DC1301;
	text-align:left;

}
h5{
	margin: 0 auto;
	padding:0;
	font:bold 15px Arial, Helvetica, sans-serif;
	color:#ffffff;
	text-align:left;

}

.text{
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	color:#333333;
	line-height:17px;
	text-align:justify
}
.text A{
	color:#333333;
	text-decoration:underline;
}
.text A:hover{
	color:#808080;
	text-decoration:underline;
}
.textblg{
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	color:#333333;
	line-height:16px;
	text-align:justify
}
.text2{
	font-family:Arial, Helvetica, sans-serif;
	font-size:11px;
	color:#333333;
}
.textlft{
	font-family:Arial, Helvetica, sans-serif;
	font-size:11px;
	color:#333333;
	margin-top:10px
}
.textlft1{
	font-family:Arial, Helvetica, sans-serif;
	font-size:11px;
	color:#333333;
	
}
.text3{
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	font-weight:bold;
	color:#000000;
}
.q_form
{
margin-top: -7px;
display:block;
}
.Testimonial{display:block;margin-top: -5px;}
.text4{
	font-family:Arial, Helvetica, sans-serif;
	font-size:13px;
	font-weight:bold;
	color:#FFFFFF;
}
.text5{
	font-family:Arial, Helvetica, sans-serif;
	font-size:11px;
	color:#AA0000;
}
.text_v{
	font-family:Arial, Helvetica, sans-serif;
	text-align:right;
	font-size:11px;
	color:#AA0000;
}
.text_v a{
	font-family:Arial, Helvetica, sans-serif;
	text-align:right;
	font-size:11px;
	color:#AA0000;
	text-decoration:none
}
.text_v a:hover{
	font-family:Arial, Helvetica, sans-serif;
	text-align:right;
	font-size:11px;
	color:#AA0000;
	text-decoration:underline
}
.text6{
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	color:#AA0000;
	font-weight:bold;
}

.textblog{
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	color:#AA0000;
	font-weight:bold;
	padding-bottom:5px
}
.text65{
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	color:#0078ff;
	font-weight:bold;
}
.text66{
	font-family:Arial, Helvetica, sans-serif;
	font-size:13px;
	color:#e24900;
	font-weight:bold;
	text-decoration:underline
}

.text7{
	font-family:Arial, Helvetica, sans-serif;
	font-size:11px;
	color:#AA0000;
	font-weight:bold;
}
.textfld1{
	padding:2px;
	font:normal 12px Arial, Helvetica, sans-serif;
	color:#990000;
	border:1px solid #666666;
	width:168px;
	height:16px
}
.textfld11{
	padding:2px;
	font:normal 12px Arial, Helvetica, sans-serif;
	color:#990000;
	border:1px solid #666666;
	width:140px;
	height:14px
}
.textfldlist{
	padding:2px;
	font:normal 12px Arial, Helvetica, sans-serif;
	color:#990000;
	border:1px solid #666666;
	width:174px;
	height:22px
}
.textfldlist1{
	padding:2px;
	font:normal 12px Arial, Helvetica, sans-serif;
	color:#990000;
	border:1px solid #666666;
	width:145px;
	height:21px;
}
.qry{
	font:normal 12px Arial, Helvetica, sans-serif;
	color:#333333;
	text-align:left
}

.textfld2{
	padding:2px;
	font:normal 12px Arial, Helvetica, sans-serif;
	color:#990000;
	border:1px solid #666666;
	width:168px;
	height:45px
}
.textfld22{
	padding:2px;
	font:normal 12px Arial, Helvetica, sans-serif;
	color:#990000;
	border:1px solid #666666;
	width:140px;
	height:35px
}

body{
margin: 0 auto;
background-image:url(images/layout_bck.gif);
background-repeat:repeat-y;
background-position:center;
background-color:#000000;
}

#wrapper{
	margin: 0 auto;
	width:980px;
	height:0 auto;
	overflow:hidden;

	background-position:top;
	background-repeat:repeat-x;
	background-color:#000;
	padding:10px;

}
#container1{
	margin: 0 auto;
	width:980px;
}
#issues{
	padding:0;
	
	
	width:386px;
}
#hedr1{
	width:146px;
	height:122px;
	float:left;
	padding-bottom:9px
}
#hedr2{

	width:830px;
	height:117px;
	float:right;
	border: 0px solid #a8a8a8;

}
#hedr4{
	width:585px;
	height:30px;
	float:left;
	border: 0px solid #a8a8a8;
}
#hedr3{
	margin: 0 0 0 10px;
	width:242px;
	height:160px;
	float:right;
}
#top-add{
	padding:10px 0 10px 0;
	width:728px;
	height:90px;
	float:left;
}
#top-nav{
	width:980px;
	clear:both;
}
#container2{
	margin: 10px 0 0 0;
	padding:10px;
	width:960px;
	background-color:#DBDBDB;
	overflow:hidden;
}
#nav-left{
	width:250px;	
	background-color:#FFFFFF;
	border: 0px solid #CCCCCC;
	float:left;
	margin-bottom:10px
}
#newsbox{
	width:250px;	
	background-color:#FFFFFF;
	border: 0px solid #CCCCCC;
	float:left;
}
#nav-left1{
	width:250px;
	height:350px;
	margin-top:10px;
	background-color:#FFFFFF;
	border: 1px solid #CCCCCC;
	float:left;
}

#box-nav-left{
	
	padding-left:10px;	
	background-color:#FFFFFF;
	border: 0px solid #CCCCCC;
	float:left;
}

#box-nav-left1{
	
	padding-left:15px;
	padding-right:10px;
	
	background-color:#FFFFFF;
	border: 0px solid #CCCCCC;
	float:left;
}

#nav-left-head{
	margin-bottom:10px;
	width:250px;	
	background-color:#FFFFFF;
	background-image:url(images/bg_head.gif);
	float:left;
	padding:0;
	font:bold 15px Arial, Helvetica, sans-serif;
	color:#DC1301;
}
#nav-left-head1{
	margin-bottom:10px;
	width:230px;	
	background-color:#FFFFFF;
	background-image:url(images/back_heading3gif.gif);
	float:left;
	padding:6px 10px 6px 10px;
	font:bold 15px Arial, Helvetica, sans-serif;
	color:#FFFFFF
}
#box-cp-head{
	margin: 0;
	width:687px;
	background-image:url(images/bg_head.gif);
	float:left;
	font:bold 15px Arial, Helvetica, sans-serif;
	color:#DC1301;
}
#box-cp-head1{
	margin: 0;
	width:406px;
	background-image:url(images/bg_head.gif);
	float:left;
	font:bold 15px Arial, Helvetica, sans-serif;
	color:#DC1301;
}
#box-blue-head{
	margin: 0;
	width:656px;
	padding:10px 10px 10px 20px;
	background-image:url(images/back_heading4.gif);
	float:left;

}
#box-cp{
	margin: 0 0 0 22px;
	width:687px;
	height:0 auto;
	padding:0px;
	background-color:#FFFFFF;
	border: 0px solid #CCCCCC;
	float:left;
}
#box-cpind{
	margin: 0 0 0 22px;
	width:406px;
	height:0 auto;
	padding:0px;
	background-color:#FFFFFF;
	border: 0px solid #CCCCCC;
	float:left;
}
#box-cp1{
	margin: 0 0 0 20px;
	width:686px;
	padding:0px;
	background-color:#FFFFFF;
	border: 1px solid #CCCCCC;
	float:left;
}
#box-cp2{
	margin: 0 auto;
	width:165px;
	height:123px;
	padding:5px;
	background:#EEEEEE;
	border: 0px solid #CCCCCC;
	float:left;
	
}
#box-cp3{
	margin: 0 0 10px 0;
	width:150px;
	padding:10px;
	font: Normal 11px Arial, Helvetica, sans-serif;
	float:left;
	
}
#box-cp4{
	margin: 0;
	padding:10px;
	font: Normal 11px Arial, Helvetica, sans-serif;
	float:left
}
#box-cp44{
	margin: 0;
	width:380px;
	height:495px;
	padding:10px;
	font: Normal 11px Arial, Helvetica, sans-serif;
	float:left
}
#box-f2f{
	margin: 0 0 0 10px;
	width:258px;
	padding:0px;
	float:right;

	background-color:#FFFFFF;
	border: 1px solid #CCCCCC;
}
#callus{
	margin: 20px 0 0 0;
	width:258px;
	padding:0px;
	float:right;
}
.tstim{
	padding-bottom:3px;
	font:bold 15px Arial, Helvetica, sans-serif;
	color:#DC1301

}
#box-f2f-head {
	margin-top:1px;
	padding:0px;
	width:259px;
	background-image:url(images/bg_head2.gif);
	font:bold 15px Arial, Helvetica, sans-serif;
	color:#FFFFFF;
	float:right;
	height: 40px;
}
#box-f2f-head2{
	margin-top:18px;
	padding:0px;
	width:259px;
	background-image:url(images/bg_head.gif);
	font:bold 15px Arial, Helvetica, sans-serif;
	color:#DC1301;
	
	float:right;
}
#ad-left{
	margin-top:10px;
	padding:2px;
	width:245px;
	font:normal 11px Arial, Helvetica, sans-serif;
	color:#333333;
	
	float:left;
}
#box-subscribe{
	margin: 10px 0 0 10px;
	padding: 6px 0 6px 0;
	width:258px;
	float:right;
	background-color:#000000;
	text-align:center

}
#heading1{
	padding-top: 20px;
	width:950px;
	background-color:#FFFFFF;
	border: 0 solid #CCCCCC;
	overflow:hidden;
}
#box-ss{
	width:250px;
	height:351px;
	padding:10px;
	background-color:#FFFFFF;
	border: 1px solid #CCCCCC;
	float:left;
}
#contener5 {
	margin:0 auto;
	padding:15px 10px 10px 10px;
	width:960px;
	height:250px;
	background-image:url(images/footer.gif);
	overflow:hidden;
}
#contener5_txt1 {
	margin:0 auto;
	text-align:center;
	font-family:Arial, Helvetica, sans-serif;
	font-size:11px;
	color:#FFFFFF;
	overflow:hidden;
	clear:both;
}
#contener5_txt1 a {
	margin:0 auto;
	text-align:center;
	font-family:Arial, Helvetica, sans-serif;
	font-size:11px;
	color:#FFFFFF;
	overflow:hidden;
	clear:both;
	text-decoration:none
}
#contener5_txt1 a:hover {
	margin:0 auto;
	text-align:center;
	font-family:Arial, Helvetica, sans-serif;
	font-size:11px;
	color: #999999;
	overflow:hidden;
	clear:both;
}
#contener5_txt2 {
	margin:0 auto;
	padding:15px 0px 0px 0px;
	text-align:center;
	font-family:Arial, Helvetica, sans-serif;
	font-size:11px;
	color: #FFFFFF;
	overflow:hidden;
	clear:both;
}
#contener5_txt2 a {
	margin:0 auto;
	padding:15px 0px 0px 0px;
	text-align:center;
	font-family:Arial, Helvetica, sans-serif;
	font-size:11px;
	color: #FFFFFF;
	overflow:hidden;
	clear:both;
	text-decoration:none
}
#contener5_txt2 a:hover {
	margin:0 auto;
	padding:15px 0px 0px 0px;
	text-align:center;
	font-family:Arial, Helvetica, sans-serif;
	font-size:11px;
	color:#FF0000;
	overflow:hidden;
	clear:both;
}

.box-bott {
	width:160px;
	text-align:left;
	padding-left:10px;
	font-family:Arial, Helvetica, sans-serif;
	font-size:11px;
	color: #999999;
	line-height:17px;
	border-left: 1px solid #262626;

}
#maruee{
	margin-top:10px;
	padding: 5px;
	background-color:#FFFFFF;
	font-family:Arial, Helvetica, sans-serif;
	font-size:11px;
	color:#DC1301;	
}
.box-bott2 {
	width:160px;
	text-align:left;
	padding-left:15px;
	font-family:Arial, Helvetica, sans-serif;
	font-size:11px;
	color: #999999;
	line-height:17px;
}
.txtbox-search{
	padding:5px;
	background-color:#cfcfcf;
	font-family:Arial, Helvetica, sans-serif;
	color:#000000;
	font-size:11px;
	border: 0px;
}
.txtbox-search2{
	padding:4px;
	background-color:#cfcfcf;
	font-family:Arial, Helvetica, sans-serif;
	color:#000000;
	font-size:11px;
	border: 0px;
}
.txtbox-search3{
	padding:3px;
	font-family:Arial, Helvetica, sans-serif;
	color:#000000;
	font-size:12px;
	border: 1px solid #CCCCCC;
}
.buttion{
	padding:3px;
	font-family:Arial, Helvetica, sans-serif;
	color:#FFFFFF;
	background-color:#5B5B5B;
	font-size:11px;
	border: 1px solid #CCCCCC;
	height:23px;
}

/* new css added */

#main_nav_left{width:250px; float:left}

/* new css added */

.innertab{
	width: 100%;
	font-family:Arial, Helvetica, sans-serif;
	font-size:13px;
	color:#505050;
	font-weight: bold;
	line-height:36px;
}
.innertab:after{ /*Add margin between menu and rest of content in Firefox*/
	content: "."; 
	display: block; 
	height: 0; 
	clear: both; 
	visibility: hidden;
}

.innertab ul{
	border: 0 solid #BBB;
	width: 100%;
	height:36px;
	background:url(images/content_tab_over.gif) center center repeat-x; /*THEME CHANGE HERE*/
	padding: 0 0;
	margin: 0;
	text-align: Left; /*set value to "left", "center", or "right"*/
}

.innertab ul li{
	display: inline;
	background:url(images/contenttab_sep.gif) no-repeat;
	background-position:0;
}

.innertab ul li a{
	color: #505050;
	padding: 0px 5px;
	margin: 0;
	text-decoration: none;
	border-right: 0 solid #DADADA;
}

.innertab ul li a:hover, .chromestyle ul li a.selected{ /*script dynamically adds a class of "selected" to the current active menu item*/
	background: url(images/content_tab_over.gif) center center repeat-x; padding: 10px; color:#DC1301;/*THEME CHANGE HERE*/
}
.innertab ul li.mission_v{
	background: url(images/content_tab_back.gif) repeat-x scroll center center; padding:10px 1px 10px 2px}
	
	.innertab ul li.tele_providers{
	background: url(images/content_tab_back.gif) repeat-x scroll center center; padding:10px 1px 10px 2px}
	
	.innertab ul li.about_chariman{
	background: url(images/content_tab_back.gif) repeat-x scroll center center; padding:10px 1px 10px 2px}
        .idTabs {
    width: 100%;
    float: left;
    list-style: none;
    padding: 0px;
    margin: 0 auto;
}
.idTabs li a:hover{
    text-decoration: none;
}
.idTabs li a.selected {
    color: #fff;
    border: 1px solid #2087c5;
    position: relative;
    border-radius: 3px 3px 0 0;
        background: #3b9fd8;
        text-decoration: none;
}
.idTabs li a {
    font-size: 15px;
    font-weight: 400;
    line-height: 36px;
    float: left;
    margin: 0 3px 0 0;
    padding: 0 1.17%;
    text-decoration: none;
        background: #fff;
        cursor: pointer;
}
.idTabs li {
    line-height: normal;
}
.idTabs li a.selected:after, .idTabs li a.selected:before {
    top: 100%;
    left: 50%;
    border: solid transparent;
    content: " ";
    height: 0;
    text-decoration: none;
    width: 0;
    position: absolute;
    pointer-events: none;
}
.idTabs li a.selected:after {
    border-color: rgba(17,121,187,0);
    border-top-color: #2087c5;
    border-width: 8px;
    margin-left: -3%;
}
/* ######### Style for Drop Down Menu ######### */


/* new css added */
.tele1 {
    margin-bottom: 30px;
}
.satellite-content {
    width: 94%;
    float: left;
    border: 1px solid #ccc;
    padding: 3% 3% 0 2%;
}
.idams-box1 {
    width: 100%;
    float: left;
    padding: 0 0 20px;
}
.idams-box1 p {
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    color: #494949;
    text-align: justify;
}
.pg-medical-main {
    width: 100%;
    float: left;
    margin: 25px 0 0;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    box-shadow: 0 0 4px rgba(201,201,201,1);
    -webkit-box-shadow: 0 0 4px rgba(201,201,201,1);
    -moz-box-shadow: 0 0 4px rgba(201,201,201,1);
    border: 1px solid #f0ac49;
}
.pg-heading {
    width: 98%;
    float: left;
    background-color: #f0ac49;
    font-size: 18px;
    font-weight: 400;
    color: #1e1a1a;
    line-height: 37px;
    padding: 0 0 0 2%;
}
.idams-box1 span {
    font-size: 20px;
    font-weight: 400;
    color: #494949;
}
.pg-heading span {
    width: 32px;
    height: 21px;
    float: left;
    background: url(../images/sprite.png) left -121px no-repeat;
    margin: 8px 0 0;
}
.course-new-section {
    width: 96%;
    float: left;
    padding: 10px 2% 15px;
}
.coures-list-box {
    width: 100%;
    float: left;
    padding: 5px 0 0;
}
.coures-list-box-content {
     display: inline-block;
    padding: 6px 0 0;
    width: 100%;
    font-family: arial;
}
.accordion h2{
        background-color: black;
    border-bottom: 1px solid black;
    margin: 0;
    font-size: 15px;
    height: 30px;
    padding: 10px 0 0 5px;
    color: #fff;
        margin-bottom: 15px;
}
.mrcp_boxess {
    width: 100%;
    float: left;
    margin-top: 20px;
    border-bottom: 1px dotted #c4c4c4;
    padding: 10px 0;
}
.mrcp_dr_img {
    float: left;
    width: 20%;
    height: 20%;
    border-radius: 100%;
}
.mrcp_dr_img img {
    width: 100%;
    height: 100%;
}

.satellite-content img {
    width: 98%;
    height: auto;
    text-align: center;
    display: table;
    margin-bottom: 15px;
}
.mrcp_dr_ttl {
    float: none;
    margin: 0;
    width: auto;
    font-weight: 700;
    font-size: 18px;
    color: #000;
}
.paddin-zero {
    padding: 0!important;
}
.how-to-apply {
    width: 100%;
    float: left;
    padding: 30px 0 0;
}
.how-to-apply-heading.telemedicine1 {
    font-size: 20px;
    line-height: 27px;
}
.how-to-apply-heading {
    width: 100%;
    float: left;
    font-size: 24px;
    font-weight: 400;
    line-height: 48px;
    color: #00a651;
    background: url(../images/how-heading.jpg) right bottom no-repeat;
    padding: 0 0 15px;
}
.course-detail-content {
    width: 100%;
    float: left;
    padding: 15px 0 0;
}
.gry-course-box {
    background: #f5f5f5;
    color: #505050;
    display: inline-block;
}
.course-detail-content span {
    font-size: 14px;
    font-weight: 400;
    padding: 2%;
    margin: 0 0 20px;
    line-height: 22px;
    color: #505050;
    display: block;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}
.blue-course-box {
    background: #e7f6fc;
    display: inline-block;
}
/*.content {
    display: none;
    float: left;
    border: 1px solid blue;
    width: 80%;
    background-color: blue;
    color: #ffffff;
    padding: 15px 15px;
    margin: 15px 0px 0px 105px;
}*/
.coures-list-box h5 {
    font-size: 15px;
    font-weight: 400;
    color: #fff;
    background: #00a651;
    display: block;
    padding: 7px 0 5px 10px;
    cursor: pointer;
    text-shadow: 1px 1px 0 #207e21;
}
.plus-ico:after {
    width: 20px;
    height: 20px;
    content: "\e0ef";
    font-family: flatiocn;
    float: right;
    margin: -2px 5px 0 0;
    cursor: pointer;
}
.course-new-list {
    width: 99%;
    list-style: none;
    margin: 0 0 5px;
    padding: 0 0 0 1%;
} .course-new-list li {
    color: #242424;
    line-height: 22px;
    font-weight: normal;
    color: #525252;
    font-size: 9px;
}
.course-new-list li span.sub-arrow:before {
    width: 4px;
    height: 7px;
        content: "\e0ea";
font-family: flaticon;
    margin: 0px 0px 0px -8px;
    float: left;
}
.idams-box1 .fqa_qstyle {
    position: relative;
    padding-left: 35px;
    font-weight: 700;
    color: #242424;
    line-height: 22px;
    font-size: 15px;
    margin: 0 0 5px;
}
.idams-box1 .fqa_ansstyle {
    position: relative;
    padding-left: 35px;
    padding-bottom: 30px;
}
