.chromestyle{
	width:auto;
	font-family:Arial, Helvetica, sans-serif;
	font-size:13px;
	color:#FFFFFF;
	font-weight: bold;

}

.chromestyle ul{
	border:0px;
	width:auto;
	background: url(nav.gif) center center repeat-x; /*THEME CHANGE HERE*/
	padding:0px;
	margin:0px; overflow:hidden;
 /*set value to "left", "center", or "right"*/
}

.chromestyle ul li{ float:left; list-style:none; margin:0px; padding:0px;
	background:url(layout_1011.gif) no-repeat top right;
}

.chromestyle ul li:last-child{ background:none;}

.chromestyle ul li a{
	color: #FFFFFF; display:block;
	padding: 5px 9px;
	margin: 0px;
	text-decoration: none;
	border-right: 0 solid #DADADA;
}

.chromestyle ul li a:hover, .chromestyle ul li a.selected{ /*script dynamically adds a class of "selected" to the current active menu item*/
	 padding: 5px 9px;/*THEME CHANGE HERE*/
}
.chromestyle li.home{
	background:none;
}
/* ######### Style for Drop Down Menu ######### */

.dropmenudiv{
	margin-top:5px;
	position:absolute;
	top: 0;
	border: 1px solid #161616; /*THEME CHANGE HERE*/
	border-bottom-width: 0;
	font:normal 12px Arial, Helvetica, sans-serif;
	line-height:18px;
	z-index:100;
	background-color: #000000;
	width: 190px;
	visibility: hidden;
}
.dropmenudiv a{
	width: auto;
	display: block;
	text-indent: 3px;
	border-bottom: 1px solid #161616; /*THEME CHANGE HERE*/
	padding: 2px 10px 2px 10px;
	text-decoration: none;
	font-weight: normal;
	color: White;
}
* html .dropmenudiv a{ /*IE only hack*/
	width: 100%;
}
.dropmenudiv a:hover{ /*THEME CHANGE HERE*/
	background-color: #2e8ad6;
}







.wireframemenu{
border: 0px solid #C0C0C0;
background-image:url(../images/back_left_nav.gif);
border-bottom-width: 0;
width: 240px;
}

* html .wireframemenu{ /*IE only rule. Original menu width minus all left/right paddings */
width: 164px;
}

.wireframemenu ul{
padding: 0;
margin: 0;
list-style-type: none;
}

.wireframemenu a{
font: normal 12px Arial, Helvetica, sans-serif;
padding: 6px 10px;
display: block;
width: 100%; /*Define width for IE6's sake*/
color: #595959;
text-decoration: none;
border-bottom: 0px solid #C0C0C0;
}

.wireframemenu a:visited{
color: #595959;
}

html>body .wireframemenu a{ /*Non IE rule*/
width: auto;
}

.wireframemenu a:hover{
background-image:url(../images/back_left_nav_h.gif);
color:#dc1301;
}



.cp-tab{
border: 0px solid #C0C0C0;
background:#FFFFFF;
border-bottom-width: 0;
width: 100%;
}

* html .cp-tab{ /*IE only rule. Original menu width minus all left/right paddings */
width: 164px;
}

.cp-tab ul{
padding: 0;
margin: 0;
list-style-type: none;
}

.cp-tab a{
font: Bold 13px Arial, Helvetica, sans-serif;
padding: 7px 10px;
display: block;
width: 100%; /*Define width for IE6's sake*/
color: #000000;
text-decoration: none;
border-bottom: 1px solid #E7E7E7;
}

.cp-tab a:visited{
color: #595959;
}

html>body .cp-tab a{ /*Non IE rule*/
width: auto;
}

.cp-tab a:hover{
background-color:#E51A14;
color: #FFFFFF;
}