@media screen and (max-width: 1024px) {
.main_wrappr{ width:1001px;}
.info_prt { width: 270px;}
.followuson { margin: 0 10px; padding: 0 10px;}
.followuson {  width: 195px;}
.cntr-list.center_wapper{width: 33%;}
.photo { width: 32%;}
.important-dates {width: 370px;}
.contact-box {width: 240px !important;padding: 0 15px 0 20px;margin: 0 10px;}
.dst_body .center_wap .cntr-list.center_wapper{
    min-height: 959px;
}
.dst_body .center_wap .cntr-list.center_wapper.maha , .cntr-list.center_wapper.ODISHA {
    min-height: 600px;
}
.main_wrappr.sec_wapper {
    padding: 0px 15px;
    box-sizing: border-box;
}
}
@media screen and (max-width: 980px) {
.main_wrappr{ width:99%;}
.top_bar_menu { float: none; text-align: center;}
.top_bar_menu li { float:none; display: inline-block;}
.nav_cntr {	margin-top: 20px;}
.toggleMenu { margin-bottom:4px;}
.nav { position: absolute; background:#fff ; right: 0px; width: 50%; z-index:9; margin-top: 19px; border: 1px solid #d5d5d5;}
.nav a { padding: 15px 0 10px 10px; margin: 0 0px; color: #505050;}
.nav > li { float: none; }
.nav > li > a{ border-bottom: 1px solid #ddd; border-right:none;}
.nav > li > a.first { margin-left: auto; padding-left: 10px;}
.nav > li > a:hover { color:#fff;}
.nav > li > .parent { background-position: 95% 50%; }
.nav li li .parent { background-image: url("images/downArrow.png"); background-repeat: no-repeat; background-position: 95% 50%; }
.nav ul { display: block; width: 100%; }
.nav > li.hover > ul, .nav li li.hover ul { position: static; }
.nav > li > a:hover, .nav > li > a.selected { border-bottom: 1px solid #ddd; background: #05bd5e; color:#fff;}
footer .ft_ttl, footer { text-align:center;}
.info_prt ul li { float: none;}
.dwnlod_app a { float:none; display:inline-block;}
.ctnt_fst_hding { width:100%; left:0;}
.followuson{ padding:0; height:auto; border:none;}
.ctnt_heading h1{ padding-left:10px; text-align:center;}
.reg_btn { margin: 22px 10px 0 0;}
.day_date_cntr { margin-right: 32px;}
.bnr_ovr_txt { margin-top: 20px;}
.nav_fixed.stick .nav_cntr{ margin-top: 3px;}
.nav_fixed.stick .nav{ margin-top:-1px;}
.nav_fixed.stick .nav a { padding: 15px 10px;}
.nav_cntr .nav .reg_btn_nav a{
    margin:0;
}
.dst_body .photo img{
    height:196px !important;
}
.dst_body .photo {

    width: 31%;
    margin: 1%;

}
}
@media screen and (max-width: 940px) {
    .important-dates {
        width: 260px ;
    }
    .info_prt {
        width: 200px;
    }
    .info_prt2 {
        padding: 0 10px;
    }
    .sec_wapper .contact-box{
        padding-left: 50px;
        width: auto !important;
    }
    .sec_wapper .important-dates {
            width: 62% ;
            padding-left: 10px;
        }
}
@media screen and (max-width: 800px) {
.ctnt_heading { border-bottom: 1px solid #ececec; height: auto; overflow: hidden;}
.ctnt_heading h1 { line-height:55px; border-bottom: 1px solid #ececec;}
.regdate_cntr { width:100%;}
.day_date_cntr { float: left; margin-right: 0;}
.info_prt { border: none; margin: 25px 0; padding: 0;}
.ft_ttl { text-align:center; font-size: 22px; margin-bottom: 15px;}
.info_prt, .followuson, .dwnlod_app { float:none; display:inline-block; width:100%; text-align:center;}
.followuson{ margin:25px 0; padding:0; height:auto; border:none;}
.ctnt_heading h1{ display:inherit;}
.inr_fbak_cntr .feedback_txt{ padding:20px; background-color:rgba(255,255,255,0.7);}
.inr_fbak_cntr{ }
.sec_wapper .important-dates{width: 100%;}
.contact-box {width: auto !important;display: block !important;}
.info_prt ul li {display: inline-block;}
.info_prt.info_prt2.contact-box{
        padding-left:0;
        width:100% !important;
    }
    .sec_wapper .info_prt ul {
        width: 100%;
        box-sizing: border-box;
    }
     .sec_wapper .info_prt ul li {
        margin-bottom: 14px;
        margin: 0 30px 14px;
    }
    
}
@media screen and (max-width: 768px) {
    .left_box_rank{
        width:100%;
    }
     .top_rank_wapper .res_div {
        padding:0 10px 0 10px;
    }
    .box_rank{width:100%;}
    .sec_wapper .contact-box{
        padding-left:0;
    }
    .aftr_inr_cntr.featrs_wpr.top_rank_wapper{
        margin-left:0;
        padding:40px 10px;
    }
    .cntr_detail.cntr_detail_wapper{
        padding:20px;
    }
    .low_income .aftr_inr_cntr.featrs_wpr.points{
        padding:15px 20px 20px;
        margin-top:0;
    }
    .box_rank strong{
        width:85%;
    }
    .box_rank strong br {
        display:none;
    }
    .box_rank p{
        padding: 12px 0;
    }
    .outer-category-data .left-data{
        width:100%;
        margin: 0px 0px 20px;
    }
	.edit-div{
	width:100%;	
	}
	.personal-detail-list{
		width:100%;
		margin:0px 0px 15px;
	}
	.personal-detail-box{
		margin:0px;
	}
	.order-list-wrapper span {
    float: none;
    display: block;
    text-align: center;
}
	.order-item-list {
    width: 100%;
    float: none;
    margin: 20px 0;
}
	.exam-date p b {
    font-size: 11px !important;
    letter-spacing: 0 !important;
}
	.order-list-wrapper p{
		float:none;
	}
}
@media screen and (max-width: 767px) {
    .dst_body .photo { width: 47%;}
    .vedio {width: 49%;margin-top: 10px;
/*           height: 250px;*/
    }
    .sec_wapper .followuson{
        margin-bottom:0px;
    }
    .nav_fixed.stick .logo{
        margin-left:6px;
    }
    .reg_pop_wapper {
    padding-bottom: 0;
    width: 95%;
    margin: 0 auto;
    top: 20px;
    left: 0;
    bottom: 0;
    height: 546px;
    right: 0;
  z-index: 9999;
}
    .second-data .featrs_wpr ul{
        padding-left:25px;
    }
    .pop_reg_btn.new.data-inst {
    margin: 0 !important;
    position: inherit;
}
    .res_pop_bg{
      z-index: 9999;  
    }
    .inr_wpr.first.object.left-data{
        width:100%;
        float:left;
        min-height:auto;
    }
     .inr_wpr.first.object.rgt-data{
        width:100%;
        float:left;
         min-height:auto;
    }
}
@media screen and (max-width: 600px) {
.ctnt_heading h1{ padding-left:0; display:block; text-align:center;}
.pkg_red, .pkg_green{ width:100%; margin-bottom:10px;}
#image_slider li { width: 298px;}
#image_slider li iframe { height: 250px;}
/*.vedio {height: 200px;}*/
.cntr_detail_photo{padding: 20px 3px;}
.nav_fixed.stick .logo img { width: 100%;}
.nav_fixed.stick .logo { width: 231px;
}
.logo {
    float: left;
    overflow: hidden;
    margin: 5px 0;
    width: 70%;
}
.logo img{
width:100%
}
.sec_wapper .info_prt ul li a br{
    display:none;
}
.featrs_wpr.points ul li span{
    left: -16px;
}
.featrs_wpr ul li{
    padding-left: 16px;
}
.box_rank strong{
        width:100%;
    }
    .box_rank p{
        padding-bottom:0;
    }
}
@media screen and (max-width: 540px) {
    .nav_cntr {margin-top: 8px;}
    .points.aftr_inr_cntr.featrs_wpr{
        margin-top:20px;
        margin-bottom:0 !important;
    }
    .aftr_inr_cntr.featrs_wpr ul li{
        margin-bottom:10px;
    }
    .aftr_inr_cntr.featrs_wpr.top_rank_wapper{
        margin-bottom:0 !important;
        padding-bottom:0px;
    }
    .benifit_wapper table tr td{
        font-size:14px;
    }       
    .main_wrappr.sec_wapper .foot_txt{
        line-height:20px;
        margin-bottom:10px;
    }
    .sec_wapper .info_prt ul li{
        margin:0 0px 14px;
    }
}
@media screen and (max-width: 480px) {
.day_date_cntr{ display:none;}
.logo img{ width:100%;}
.nav {  width: 100%; margin-top: 15px;}
.day_date_cntr li .num_date { font-size: 20px; padding: 12px 15px;}
.day_date_cntr li .dy_mnth{ padding:4px 7px;}
.cbt_vdo_cntr { width: 38%;}
.aftr_inr_cntr { padding: 7px;}
.regdate_cntr{ text-align:center; margin-bottom:10px;}
.reg_btn{ float:none;}
.ctnt_heading h1{ border-bottom:none;}
.pkg_dtls p .spanleft { width: 90px;}
.cbtabs a { font-size: 14px; padding: 12px 5px;}
.inr_fbak_cntr, .ftr_inr_cntr{ padding:0;}
.info_prt ul li a { font-size: 16px; margin-right: 0px; padding-right: 0px;}
.info_prt ul{ padding:0 10px;}
.info_prt ul li{ margin-bottom:25px; }
/*.vedio {height: 175px;}*/
.nav_cntr {margin-top: 8px;}
.sld_section { min-height: auto;}
.cntr-list.center_wapper{ width: 50%;height:auto;}
.cntr-list.center_wapperul {
    margin-bottom: 20px;
}
.foter_date ul li::before{
    left:-10px;
}
.sec_wapper .info_prt ul li a{
    font-size:12px;
    text-align:left;
    padding-left:10px;
}
.sec_wapper .info_prt ul li , .sec_wapper .info_prt ul{
/*    text-align:left;*/
}
.sec_wapper  .info_prt.info_prt2.contact-box ul{
    text-align:center;
}
.cntr-list.center_wapper{
    min-height: 959px;
}
.cntr-list.center_wapper.maha , .cntr-list.center_wapper.ODISHA {
    min-height: 600px;
}
.dst_body .center_wap .cntr-list.center_wapper.ODISHA{
    min-height: auto;
}
}
@media screen and (max-width: 400px) {
      .dst_body .photo { width: 98%;}
/*    .vedio {width: 98%;margin-top: 10px;height: 250px;} */
    .image_student:hover   { transform:scale(1,1);-ms-transform:scale(1, 1); /* prefix for IE 9 */-webkit-transform:scale(1, 1);box-shadow: none; transition-duration: 1s;z-index: 999; }   
.nav_cntr {margin-top: 4px;}
}
@media screen and (max-width: 360px) {
.logo img{ width:235px;}
.nav_cntr { margin-top: 10px;}
.nav_fixed.stick .nav_cntr { margin-top: -43px;}
.bnr_ovr_txt h2 { font-size: 24px; line-height:normal;}
.ctnt_heading h1 { line-height: normal; padding: 10px 0;}
.sld_section { min-height: auto;}
.pkg_red h2, .pkg_green h2 { font-size: 24px;}
.nvgt { font-size: 18px; height: 35px; width: 30px;}
#prev, #next{ line-height:35px;}
.ctnt_heading h1 { font-size: 24px;}
.cntr_detail{ padding:12px;}
/*.vedio {height: 200px;}*/
.nav_fixed.stick .toggleMenu{
margin-top: 45px;}
.benifit_wapper table tr td{
        font-size:12px;
    }     
}
/*Code for responsive tabs*/
@media (max-width: 767px) {
hgroup h1 { margin-top: 25px;}
hgroup h2 { top: 0; left: 5px; font-size:12px;}
.btn { width: 80%; margin: 20px auto; float:none;}
}

.responsive-tabs__heading { display: none;}
.responsive-tabs__list__item { display: inline; cursor:pointer;}


@media (max-width: 767px) {
.responsive-tabs__list { display: none;}
.responsive-tabs__heading { display: block; cursor: pointer; }
.responsive-tabs__panel--closed-accordion-only { display: none;}
}

@media (min-width: 768px) {
.responsive-tabs { margin-top:5px;}

}

@media (max-width: 767px) {.responsive-tabs { margin-top: 0px;}
.inr_wpr .responsive-tabs__heading { margin-left: 0px;padding-left: 20px;}
.responsive-tabs__heading { margin-left: 0px;font-size: 14px; padding: 12px 5px; border: 1px solid #ccc; box-shadow: 0px 2px 3px rgba(0,0,0,0.4); background: #ddd; position: relative;}
.responsive-tabs__heading:after { content:""; display: block; position: absolute; right: 20px; top: 47%; width: 0;  height: 0;  border-left: 5px solid transparent; border-right: 5px solid transparent; border-top: 7px solid #000;}
.responsive-tabs__heading:hover, .responsive-tabs__heading--active:hover { margin-left: 0px;background-color: #efefef}
.responsive-tabs__heading--active { background: #fff;margin-left: 0px;}
.responsive-tabs__heading--active:after { border-bottom: 10px solid #000; border-top:0;}
.choos_center .center{ width:90%;}
.main_wrappr.sec_wapper .foot_txt{
    width:100%;
    text-align:center;
    float:none;
}
.main_wrappr.sec_wapper .followuson{
    width:100%;
    margin-top:0;
}
}

