@import "font/stylesheet.css";
@import "font/flaticon.css";

body{ font-family: 'ralewayregular'; font-size:14px; margin:0; padding:0; background-color:#e6e6e6;}

/*.regular_font{ font-family: 'ralewayregular'; font-weight:normal;}
.thin_font{ font-family: 'ralewaythin'; font-weight:normal;}
.italic_font{ font-family: 'ralewayitalic'; font-weight:normal;}
.semibold{ font-family: 'ralewaysemibold'; font-weight:normal;}
.bold_font{ font-family: 'ralewaybold'; font-weight:normal;}
.extr_bold{ font-family: 'ralewayextrabold'; font-weight:normal;}
.black_font{ font-family: 'ralewayblack'; font-weight:normal;}
.extra_light{ font-family: 'ralewayextralight'; font-weight:normal;}
.light_font{ font-family: 'ralewaylight'; font-weight:normal;}
.medium_font{ font-family: 'ralewaymedium'; font-weight:normal;}*/

p, h1, h2, h3, ul, ol{ margin:0; padding:0;}
ol, ul{ list-style:none;}
a{ text-decoration:none;}
a, input[type=text], input[type=textbox], input[type=radio], input[type=submit], select, button, textarea{ outline:none;}
table {	border-collapse: collapse; border-spacing: 0;}
input[type=text], textarea, select{ border:1px solid #ccc; padding:7px; border-radius:5px; 
/*                    font-family: 'ralewayregular';*/
                    font-weight:normal; font-size:14px;}
button, input[type=submit]{ cursor:pointer;}
.sprite{ background-image:url(../images/sprite.png); background-repeat:no-repeat;}
header{ background:#fff; border-bottom: 1px solid #ccc;}
section{ position:relative;}
.main_wrappr{ width:1050px; margin:0 auto; overflow:hidden;/*display:inline-block;overflow:visible;*/}
.main_wrappr2{ width:1155px; margin:0 auto; overflow:hidden;}
.main_wrappr_photo_sec{ margin:0 auto; overflow:visible;}
.top_bar{ background:#00a650; height:3px;}
.logo{ float:left; overflow:hidden; margin:5px 0;}
/*Manin menu start*/
.nav_cntr { float:right;}
.toggleMenu { display: inline-block; color: #00a650; font-size: 36px; font-family: "Flaticon"; }
.toggleMenu:before { content: "\e0fe" }
.nav { list-style: none; *zoom: 1; padding: 0; margin: 0; }
.nav:before, .nav:after { content: " "; display: table; }
.nav:after { clear: both; }
.nav ul { list-style: none; width: 9em; }
.nav a { padding: 33px 0; margin:0 15px; color: #606060; font-size: 15px; font-family: 'Roboto'; font-weight:normal; }
.nav li { position: relative; }
.nav > li { float: left; }
.nav > li > .parent { background-image: url("images/downArrow.png"); background-repeat: no-repeat; background-position: right; }
.nav > li > a { display: block; transition: none; }
.nav > li > a:hover, .nav > li > a.selected {color:#00a650; }
.nav > li > a.first { padding-left:0; margin-left:0;}
.nav > li > a.last { padding-right:0; margin-right:0; border-right:0;}
.nav li ul { position: absolute; left: -9999px; }
.nav li ul:after {content: "";border: 7px solid transparent;border-top: 0;border-bottom: 7px solid #ccc;position: absolute;top: 5px;left:10%}
.nav > li.hover > ul { left: 0; display:block; }
.nav li li.hover ul { left: 100%; top: 0; }
.nav li .restul {
    position: absolute;
    z-index: 99;
    width: 200px;
    padding-top: 12px;left:0;top:49px;display:none;
}
.nav li  span.resultblink{ font-size: 11px;   left: 55px; top: 24px; color:#f15a22;  position: absolute;}
.nav li li.hover ul { left: 100%; top: 0; }
.nav li li a { display: block; background: #1d7a62; position: relative; z-index: 100; border-top: 1px solid #175e4c; }
.nav li li a { padding: 10px 10px 10px 10px;display: block; border-radius: 0;   width: 160px;  background-color: #eee;  border-color: #ccc; position: relative; z-index: 100; border: 1px solid #ccc;  color: #505050;  position:relative;  display: block;0pacity:1;  font-size: 14px; font-weight: normal; }
.nav li li:hover a{background:#00b056;color:#fff;}
.nav li li li a { background: #249578; z-index: 200; border-top: 1px solid #1d7a62; }
/*Main menu end*/
/* scroll fixed navigation start */
.nav_fixed { width:100%; background:#fff; transition: 0.5s ease-in-out;}
.nav_fixed.stick { left: 0;position: fixed; height:50px; top: -50px; z-index: 999; display: inline-block; width: 100%; box-shadow: 0px 0px 5px 0px #555; -webkit-box-shadow: 0px 0px 5px 0px #555; -moz-box-shadow: 0px 0px 5px 0px #555; transition: padding 0.2s ease-in-out;

animation:drop_nav 0.5s ease-in-out forwards;
-webkit-animation:drop_nav 0.5s ease-in-out forwards;;
-moz-animation:drop_nav 0.5s ease-in-out forwards;
-ms-animation:drop_nav 0.5s ease-in-out forwards;
}
@-webkit-keyframes drop_nav {
 0% { top:-50px;}
 100% { top:0px;}
}
@-moz-keyframes drop_nav {
0% { top:-50px;}
100% { top:0px;}
}
@-ms-keyframes drop_nav {
0% { top:-50px;}
100% { top:0px;}
}
@-o-keyframes drop_nav {
0% { top:-50px;}
100% { top:0px;}
}
@keyframes drop_nav {
0% { top:-50px;}
100% { top:0px;}
}
.nav_fixed.stick .nav li li a{padding: 10px 10px 10px 10px;}
 .nav_fixed.stick .nav li  span.resultblink{ font-size: 11px;   left: 55px; top: 7px; color: #f15a22;  position: absolute;}
.nav_fixed.stick .nav li  .restul{top:35;/*padding-top:25px;*/}
.nav_fixed.stick .logo{ margin-top: 5px;}
.nav_fixed.stick .logo img{ width:50%;}
.nav_fixed.stick .nav a { padding:15px 0;}
/* scroll fixed navigation end */

.scrl_prnt {
  position: relative;
}
.scrl_point {
  position: absolute;
  top: -55px;
}

/*Popup code start*/
.res_pop_bg { background: rgba(255,255,255,0.9); position: fixed; top: 0; left: 0; width: 100%; height: 100%; z-index: 9; }
.res_main_pop { position: absolute; background: #fff; width: 440px; padding-bottom:20px; opacity: 1; top: 47%; left: 50%; margin-left:-200px; margin-top:-260px; z-index: 99; border: 1px solid #d8d8d8; box-shadow: 0px 0px 35px 0px rgba(62,62,62,0.2); border-radius:4px;

animation-name:pop_zoom;
animation-duration:0.2s;
animation-timing-function:ease-in-out;
animation-fill-mode: forwards;

-webkit-animation-name: pop_zoom;
-webkit-animation-duration:0.2s;
-webkit-animation-timing-function:ease-in-out;
-webkit-animation-fill-mode: forwards;

-moz-animation-name: pop_zoom;
-moz-animation-duration:0.2s;
-moz-animation-timing-function:ease-in-out;
-moz-animation-fill-mode: forwards;

-ms-animation-name: pop_zoom;
-ms-animation-duration:0.2s;
-ms-animation-timing-function:ease-in-out;
-ms-animation-fill-mode: forwards;

-o-animation-name: pop_zoom;
-o-animation-duration:0.2s;
-o-animation-timing-function:ease-in-out;
-o-animation-fill-mode: forwards;
}
@-webkit-keyframes pop_zoom {
 0% { transform:scale(0.7);}
 100% { transform:scale(1); visibility:visible;}
}
@-moz-keyframes pop_zoom {
 0% { transform:scale(0.7);}
 100% { transform:scale(1,1); visibility:visible;}
}
@-ms-keyframes pop_zoom {
 0% { transform:scale(0.7);}
 100% { transform:scale(1); visibility:visible;}
}
@-o-keyframes pop_zoom {
 0% { transform:scale(0.7);}
 100% { transform:scale(1); visibility:visible;}
}
@keyframes pop_zoom {
 0% { transform:scale(0.7);}
 100% { transform:scale(1); visibility:visible;}
}
.pop_hide { 
animation-name:pop_out;
animation-duration:0.2s;
animation-timing-function:ease-in-out;
animation-fill-mode: forwards; 

-webkit-animation-name: pop_out;
-webkit-animation-duration:0.2s;
-webkit-animation-timing-function:ease-in-out;
-webkit-animation-fill-mode: forwards;

-moz-animation-name: pop_out;
-moz-animation-duration:0.2s;
-moz-animation-timing-function:ease-in-out;
-moz-animation-fill-mode: forwards;

-ms-animation-name: pop_out;
-ms-animation-duration:0.2s;
-ms-animation-timing-function:ease-in-out;
-ms-animation-fill-mode: forwards;
}
@-webkit-keyframes pop_out {
 0% { transform:scale(1);}
 100% { transform:scale(0.7); visibility:hidden;}
}
@-moz-keyframes pop_out {
 0% { transform:scale(1);}
 100% { transform:scale(0.7); visibility:hidden;}
}
@-ms-keyframes pop_out {
 0% { transform:scale(1);}
 100% { transform:scale(0.7); visibility:hidden;}
}
@-o-keyframes pop_out {
 0% { transform:scale(1);}
 100% { transform:scale(0.7); visibility:hidden;}
}
@keyframes pop_out {
 0% { transform:scale(1);}
 100% { transform:scale(0.7); visibility:hidden;}
}
.res_main_pop .ermsg { display: none;background: #FFFEE2; padding: 10px; margin-top: 10px; border: 1px solid #eee; font-size: 12px; line-height: 1.5em; position:relative;}
.res_main_pop .ermsg:before{ content:""; border:10px solid transparent; border-top:0; border-bottom:10px solid #eee; position:absolute; top:-10px; left:7%;}
.res_main_pop span { cursor: pointer; width: 25px; font-size: 16px; line-height: 25px; text-align: center; color: #8d8d8d; margin: 0px 0px 0 0;font-family: 'Flaticon'; position: absolute; top: 7px; right: 7px;}
.res_main_pop span:before { content: "\e0fc";}
.res_main_pop .reg_back { cursor: pointer; width: 25px; font-size: 16px; line-height: 25px; text-align: center; color: #8d8d8d; margin: 0px 0px 0 0;font-family: 'Flaticon'; position: absolute; top: 7px; left: 7px;}
.res_main_pop .reg_back:before { content: "\e03b";}
.res_main_pop .pop_title{ color:#8d8d8d; font-size:16px; text-align: center; margin: 45px 0 0px 0;}
.res_main_pop p { margin:10px 20px 0 35px;}
.res_main_pop p label{ font-weight:600; font-size:13px; color:#000; display: none; 
                      margin: 5px 0; 
/*                      font-family: 'ralewaybold';*/
}
.res_main_pop p input[type=text] { width:96%; height: 40px; font-size: 14px; border: 1px solid #d8d8d8; -webkit-border-radius: 2px; -moz-border-radius: 2px; -ms-border-radius: 2px; -o-border-radius: 2px; border-radius: 2px; padding-left: 5px; padding-right: 5px; }
.res_main_pop p input[type=password] { width:96%; height: 30px; font-size: 14px; border: 1px solid #d8d8d8; -webkit-border-radius: 2px; -moz-border-radius: 2px; -ms-border-radius: 2px; -o-border-radius: 2px; border-radius: 2px; padding-left: 5px; padding-right: 5px; }
.res_main_pop p .forgot_pwd { color:#9B9B9B; line-height: 36px;}
.res_main_pop p .forgot_pwd:hover { text-decoration:underline;}
.res_main_pop p input[type=submit]{ float:right; display: inline-block; padding: 8px 20px; background: #6cbd32; color: #fff; font-size: 16px; text-transform: uppercase; border:none; border-bottom: 2px solid #529720; border-radius: 4px; transition: none; margin-right: 14px;}
.res_main_pop p input[type=submit]:hover { background:#529720; border-bottom-color:#457f1a; }

.register_btn{ background:#788290 !important; font-size:12px !important; border-color:#5b6169 !important;}
.register_btn:hover{ background:#6c7581;}

.reg_cls_strm{ margin: 15px 35px 0 35px;}
.reg_cls_strm aside{ display:inline-block; width:49%;}
.reg_cls_strm aside label{ font-weight:600; font-size:13px; color:#000; display: none; margin: 5px 0; 
/*                          font-family: 'ralewaybold';*/
}
.reg_cls_strm aside select, .reg_cls_strm aside input{ width:100%; height: 35px; font-size: 14px; border: 1px solid #d8d8d8; -webkit-border-radius: 2px; -moz-border-radius: 2px; -ms-border-radius: 2px; -o-border-radius: 2px; border-radius: 2px; padding-left: 5px; padding-right: 5px;}
.res_main_pop p .acpt_trms { color: #9B9B9B; line-height: 10px; display: inline-block;}
.res_main_pop p .chkbx { vertical-align:middle;}
.res_main_pop p small { margin-left: 20px; color: blue;}
#close { display: none; }

/*Popup code end*/

.ctnt_fst_hding{ background:#fff; overflow:hidden; bottom: 0px;}
.sld_section{ position:relative; background-image:url(../images/slider_bg.jpg); background-repeat:no-repeat; background-size:cover; box-shadow:0px 1px 5px -2px #888 inset; min-height:188px; padding-bottom:15px; background-size: 100%}
.bnr_ovr_txt{ float:left; margin-top:80px;}
.bnr_ovr_txt h2{ font-size:30px; color:#fff; line-height: 40px;}
.test_date{ min-height: 60px; margin-top:30px; position:relative; padding-left:70px; font-size:18px; color:#fff;}
.test_dateicon, .timedate_icon{ position:absolute; left:0; width: 60px; line-height: 60px; background: #f7792d; font-family: "Flaticon"; color: #fff; font-size: 27px; text-align: center;}
.test_dateicon:after{ content: "\e02c";}
.timedate_icon:after{ content: "\e144"; font-size:34px;}
.test_date strong{ display:inline-block; text-transform:uppercase; margin: 5px 0;}
.inr_wpr{ overflow:hidden; background:#fff; margin:0 1px 25px 1px; box-shadow: 0px 3px 1px 0px #c2c2c2; border-top:2px solid #00a650;}
.inr_wpr.first{ border-top:2px solid #00a650;}
.inr_wpr h2{ margin-left: 40px; color: #505050; font-size: 18px;margin-left: 40px; margin-top: 14px;}
.aftr_inr_cntr{ padding:0 30px 30px 30px;}
.ctnt_heading{ height:60px; border-bottom:1px solid #ececec;}
.ctnt_heading h1{ display:inline-block; font-size: 20px; margin-top:20px;  padding-left: 40px; text-transform:uppercase; color:#00a650;}
.regdate_cntr{ float:right;}
.reg_btn{ float: right; padding: 6px 15px 3px 0; margin: 27px 30px 0 0; background:#6cbd32; font-size:18px; color:#fff; text-transform:uppercase; border-radius:4px; border-bottom:2px solid #529720;}
.reg_btn:hover{ background:#529720; border-bottom-color:#457f1a; }
.reg_btn:before{ content:"\e0ef"; display:inline-block; font-family: Flaticon; font-size:30px; vertical-align:middle;}
.day_date_cntr{ float:right; margin-right:50px;}
.day_date_cntr li{ float:left; text-align: center; border-left:1px solid #e5e5e5;}
.day_date_cntr li.last{ border-right:1px solid #e5e5e5;}
.day_date_cntr li .num_date{ border-bottom:1px solid #e5e5e5; padding: 15px 20px; color:#76b945; font-size:30px;
/*        font-family: 'ralewayextralight'; */
          font-weight:normal;}
.day_date_cntr li .dy_mnth{ color:#505050; background:#f6f6f6; text-transform:uppercase; padding: 4px 10px;}
.object{ border-top:0px !important}
.aftr_inr_cntr{ padding:40px; overflow:hidden;}
.aftr_inr_cntr h3{ font-size:18px; color:#373737; margin-bottom:10px; text-transform: uppercase}
.aftr_inr_cntr h4{color: #00a650; height:auto; margin:0; font-size: 18px; line-height:25px !important;}
.aftr_inr_cntr p{ font-size:14px; color:#505050; line-height:24px;}
.aftr_inr_cntr span{ left:0; font-family: Flaticon; font-size: 25px; vertical-align:middle; color:#f3723f; font-style: normal}
.aftr_inr_cntr span:after{ content: "\e05c"}
.stu-detail{ margin-left: 3px}
.cat{margin-top: 30px;}
.date{color: #6cbd32; font-size: 19px; font-weight: bold; width: 20%}
.heading{line-height: 20px !important;}
.note{background: #fffbcb}
.center h1{    display: inline-block; line-height: 20px; padding-left: 40px;font-size: 20px;text-transform: uppercase;color:#00a650;}
.cntr_detail {
    overflow: hidden;padding: 20px 20px;}
.cntr-list p{ text-transform: uppercase}
.cntr-list li{ text-transform: uppercase}
.cntr-list{   float: left;  /*  height:650px; */  width: 201px;}
.cntr-list p{    font-size: 13px; font-weight: bold; margin-bottom: 10px; margin-top: 10px;color:#00a650;}
.cntr-list ul{ margin-bottom: 20px}
.KARNATAKA ul{margin-bottom: 26px;}
.ODISHA ul{margin-bottom: 60px;}
.HARIYANA ul{margin-bottom: 58px;}
.bihar ul{ margin-bottom: 51px}
.andhara ul{margin-bottom: 40px;}
.RAJASTHAN ul{margin-bottom: 47px;}
/*.maha li{ margin-bottom: -3px}
.bihar ul{ margin-bottom: 27px;}
/*
/*


.RAJASTHAN ul{margin-bottom: 30px;}
.maha ul{margin-bottom: 63px;}
.blank{padding-bottom: 10px; padding-top: 5px;}*/
.cntr-list ul li{ font-size: 12px;padding-bottom: 15px; color: #505050}
.online_centers {margin: 0;padding: 0; text-align: center; list-style: none; padding-left: 15px;}
.online_centers li { float: left; float: left;color: #202020; width: 190px;font-size: 14px;margin-bottom: 12px;text-align: left;list-style: disc; text-transform: uppercase
}

.award{ margin-top: 20px}
.n-award{float: left; font-size: 16px; width: 50%;}
.l-date{float: left; font-size: 16px; width: 50%;}
.n-award span{ left:0; font-family: Flaticon; font-size: 16px; vertical-align:middle; color:#00a650; font-style: normal}
.n-award span:after{ content: "\e05c"}
.l-date span{ left:0; font-family: Flaticon; font-size: 16px; vertical-align:middle; color:#00a650; font-style: normal}
.l-date span:after{ content: "\e05c"}
.tbl{height: 37px; padding: 11px;}

.pkg_red, .pkg_green{ width:48%; overflow:hidden;}
.pkg_red h2, .pkg_green h2{ color:#fff; text-transform:uppercase; font-size:30px; padding:12px 0 12px 30px;}
.pkg_red{ float:left; background:#f15a22;}
.pkg_red h2{ background:#f3723f;}
.pkg_green{ float:right; background:#62a70f;}
.pkg_green h2{ background:#6cbd32;}
.pkg_dtls{ padding:25px; overflow:hidden;}
.pkg_dtls p{ border-bottom:1px solid rgba(255,255,255,0.2); padding: 13px 0; font-size:18px; color:#fff;
/*            font-family: 'ralewaybold'; */
            font-weight:normal;}
.pkg_dtls p.last{ border-bottom:none;}
.pkg_dtls p .spanleft{ float:left; width:150px; }
.pkg_dtls p .buynow{ float:right; background:#fff; border-bottom:2px solid #c04111; font-size:18px; color:#f15a22; padding:6px 25px; margin-top:10px; border-radius:3px;}
.pkg_dtls p .buynow:hover{ background:#e2e2e2;}
.featrs_wpr{ margin-bottom: -30px !important;    margin-top: -14px;}
.featrs_wpr ul li{ position:relative; font-size:15px;
/*                  font-family: 'ralewaymedium';*/
                  font-weight:normal; padding-left:32px; margin-bottom:25px; line-height:24px; color:#505050;}
.featrs_wpr ul li span{ position:absolute; left:0; font-family: Flaticon; font-size: 20px; vertical-align:middle; color:#f3723f;}
.featrs_wpr ul li i{  left:0; font-family: Flaticon; font-size: 10px; vertical-align:middle; color:#f3723f; font-style: normal}
.featrs_wpr ul li span:after{content: "\e0d9";}
.featrs_wpr ul li i:after{content: "\e042"}
.featrs_wpr b{display: inline-block; margin-left: 20px; width: 15%;}
.time{ border: 1px solid #ccc}
.note span{left: 0; font-family: Flaticon;font-size: 10px;vertical-align: middle;color: #505050;font-style: normal;margin-right: 15px; margin-left: 11px;}
.note span:after{content: "\e042"}

.time td{padding: 9px;     text-align: center;}

/*Tabs code start*/
.cbtabs{ display:inline-block; width: 100%; margin: 0; padding: 0; list-style: none;}
.cbtabs li{ float: left;}
.cbtabs li a:before{ font-family: "Flaticon"; content: "\e0eb"; font-size: 27px; vertical-align: middle; margin-top: -4px; display: inline-block; color:#b2b2b2;}
.cbtabs a{ position: relative; background: #fff; color:#505050; font-size:18px; 
/*          font-family: 'ralewaymedium'; */
          font-weight:normal; text-transform:uppercase; padding:25px 35px 25px 22px; float: left; text-decoration: none; color: #444; -moz-box-shadow: 0 -1px 1px rgba(0,0,0,.4); -webkit-box-shadow: 0 -1px 1px rgba(0,0,0,.4); box-shadow: 0 -1px 1px rgba(0,0,0,.4);}
.cbtabs a:hover, .cbtabs a:hover::after, .cbtabs a:focus, .cbtabs a:focus::after{ background: #fbfbfb; color:#22c460;}
.cbtabs a:focus{outline: 0;}
.cbtabs #current a, .cbtabs #current a::after{ background: #fbfbfb;  color:#22c460; z-index: 3; border-bottom: 1px solid #dddddd;}
.cbtabs #current a:after{ font-family: "Flaticon"; content: "\e030" ; color:#dddddd; position: absolute; bottom: -18px; left: 43%; font-size:25px;   background: transparent; border-bottom:none;}
.cbtcontent{ background: #fff; position: relative; z-index: 2; -moz-box-shadow: 0 -1px 0px 0px rgba(0, 0, 0, .1); -webkit-box-shadow: 0 -1px 0px 0px rgba(0, 0, 0, .1); box-shadow: 0 -1px 0px 0px rgba(0, 0, 0, .1); padding:15px 0;}
.sw_hd{ overflow:hidden; text-align:center;}
.cbt_vdo_cntr{ display:inline-block; margin:0 6px; width:450px; height:400px;}
.cbt_vdo_cntr img{ width:100%;}

.carousel {	width: 100% !important; position:relative;}
.caroufredsel_wrapper{ width:91% !important; left:52px !important; margin-left:20px;}
.carousel ul { list-style: none; display: block; margin: 0; padding: 0; width:100% !important;}
.carousel li {font-size: 40px; color: #999; display: block;	width: 100%; min-height: 90px;	padding: 0;	margin: 6px; float: left;}
.carousel li i { float:left; width: 50px; height: 50px; margin-top: 14px; background-position:-129px -500px;}
.carousel li span {	text-indent: -999px; display: block; overflow: hidden; width: 201px; min-height: 90px; position: absolute;	z-index: 2;	top: 14px; left: 16px;}			
.clearfix {	float: none; clear: both;}
.carousel .prev, .carousel .next {display: block; overflow: hidden; width: 50px; height: 60px; margin-left: 0; position: absolute; top: 40%; font-family: Flaticon; font-size: 30px; background:#5fb025; color:#fff;				
}
.carousel .prev { line-height:60px; }
.carousel .prev:after{  content: "\e03b";}
.carousel .prev:hover {	left: 0px;}
.carousel .next { background:#5fb025; right: 0; line-height:60px;}
.carousel .next:after{  content: "\e039";}
.carousel .next:hover {	right: 0px;}				
.carousel .pager { text-align: center; margin: 0 auto;}
.carousel .pager a { text-decoration: none;	text-indent: -999px; display: inline-block;	overflow: hidden; width: 8px; height: 8px; margin: 0 5px 0 0;			}
.carousel .pager a.selected { background: transparent url(img/carousel_control.png) no-repeat -12px -32px; text-decoration: underline;}
.caroufredsel_wrapper{ height:393px !important;}



.container {  width: 800px;  margin: 0 auto; padding: 30px 0px; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }
.slider_wrapper { overflow: hidden;}
#image_slider { position: relative; width:2500px !important; height: auto; list-style: none; overflow: hidden; float: left; /*Chrom default padding for ul is 40px */
padding: 0px; margin: 0px; }
/*.slider_wrapper iframe{ width: 337px; height: 299px; float: left; margin: 0 0 0 25px; }*/
#image_slider li { position: relative; float: left; width:400px;}
#image_slider li iframe{ width:100% !important; border:1px solid #333;}
.nvgt { position: absolute; width: 50px; height: 60px; margin-left: 0; top: 40%; font-family: Flaticon; font-size: 30px; background:#5fb025; color:#fff;  cursor:pointer;}
#prev:hover, #next:hover { background:#606060; }
#prev { background:#5fb025; left:0; line-height:60px; }
#prev:after{  content: "\e03b";}
#next { background:#5fb025; right: 0; line-height:60px; }
#next:after{  content: "\e039";}




/*Tabs code end*/

.stdnt_feedback_hd{ background:url(../images/feedback_qot.png) no-repeat bottom right #6cbd32;}
.inr_fbak_cntr{ background:url(../images/feedback_img.jpg) no-repeat left bottom #fff; padding:30px; min-height: 210px;}
.inr_fbak_cntr .feedback_txt{ color:#131313; font-size:16px; 
/*              font-family: 'ralewaymedium'; */
              font-weight:normal; line-height:24px; padding-left:170px;}
.inr_fbak_cntr .feedback_txt .writer{ font-size:14px; line-height:normal; }
.inr_fbak_cntr .feedback_txt .asprnt{ color:#929292; font-size:12px; line-height:normal; display:block;}
.footer_links_wpr{ background:#404041; box-shadow:0px 3px 0px 0px #00a650;}
.ftr_inr_cntr{ padding:30px; overflow:hidden;}
.info_prt { float: left; width: 385px;}
.ft_ttl { font-size: 18px; margin-bottom: 5px; text-align: left; color:#fff;}
.info_prt{ float:left; width:300px;}
.info_prt ul{ margin:0; padding-left:20px;}
.info_prt ul li{ list-style:disc; color:#fff; font-size: 19px;}
.info_prt ul li a{  margin-right:10px; padding-right:10px; color:#fff; text-transform:uppercase; 
/*                   font-family: 'ralewayextralight'; */
                   font-weight:normal; font-size:12px;}
.info_prt ul li a.last{ margin-right:0px; padding-right:0px; border-right:none;}
.cpyrt_dtls{ color:#fff; font-size:14px; line-height:30px; clear:both;}
.info_prt2{ padding:0 33px; margin:0 33px; min-height:130px;  border-left:1px solid rgba(0,0,0,0.20); border-right:1px solid rgba(0,0,0,0.20);}
.followuson{ float:left; width:248px;text-align:left;}
.followuson a{ display: inline-block; margin: 20px 3px 0; font-family: "Flaticon"; border-radius: 50%; font-style: normal; width:25px; height:25px; line-height: 25px; overflow:hidden; font-size: 18px; padding: 3px; color: #fff;
/*border: 2px solid #00a650;*/
transition: 0.2s ease-in;
/*background-color: #00a650;*/
}
.followuson a:hover{ background:#fff; color:#00a851;}
.followuson a.fb:hover{
    color: #3b5998;    
}
.followuson a.twt:hover{
    color:#00acee;
}
.followuson a.gpls:hover{
    color:#CC3333;
}
.followuson a.yt:hover{
    color:#c4302b ;
}
.followuson a.fb:after{ content: "\e074";}
.followuson a.twt:after{ content: "\e14d";}
.followuson a.gpls:after{ content: "\e097"; 
/*       margin-left: -10px; 
       font-size: 30px; 
       line-height: 34px;*/
       margin-left: 0px; 
       font-size: 18px; 
       line-height: 25px;
}
.followuson a.yt:after{ content: "\e16b";}

footer{ background:#383838; border-top:10px solid #b3b3b3; padding:25px 0; margin-top:-150px;}
.foot_txt{ font-size:12px; font-family:"Myriad Pro", sans-serif; color:#fff; text-align:center; line-height:19px; margin-top: 145px;}
.ctgtbl{ border-collapse: collapse; border:1px solid #ccc;}
.ctgtbl td{ border:1px solid #ccc; padding: 10px; color: #505050; font-size: 14px;}
.photo{border: 1px solid #ccc;
/*       box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.3);*/
      color: rgba(0, 0, 0, 0.5);display: inline-block;font-weight: 600;padding: 0px 0px 20px 0px;line-height: 10px; margin-top: 20px;width: 33%;box-sizing: border-box;}            
.image_student:hover   { background-color:#009900; transform:scale(1.1,1.1);
                -ms-transform:scale(1.1, 1.1); /* prefix for IE 9 */
                -webkit-transform:scale(1.1, 1.1);
/*                 box-shadow: 0 5px 25px 0 #000;*/
            transition-duration: 0.5s;z-index: 999;border-radius: 5px; }                        
.image_student{width:100%;height:auto;            
                transition-property: transform, background, width, height;
                transition-duration: 0s;
                transition-timing-function:ease-in ease-out;/* timing function */
                -webkit-transition-property: -webkit-transform, background, width, height; /* Safari */
                -webkit-transition-duration:0s;max-height:212px; /* Safari */}
.vedio{ width:332px;margin-top: 2px;display: inline-block;height:250px;}
.cntr_detail_photo{overflow: visible;}
/*Responsive tab start*/
.responsive-tabs{ border-top:none; margin-top:55px; /*overflow:hidden;*/}
.responsive-tabs-wrapper { clear: both; zoom: 1; }
.responsive-tabs-wrapper:before, .responsive-tabs-wrapper:after { content: ""; display: table;} 
.responsive-tabs-wrapper:after { clear: both;}
.responsive-tabs__heading:focus,
.responsive-tabs__list__item:focus { outline: 1px solid #ccc;  }
.responsive-tabs__heading--active:focus,
.responsive-tabs__list__item--active:focus { outline: none !important;}
.responsive-tabs__list { font-size: 1.2em; margin: 12px 0 0 0; padding: 0;  padding-bottom:11px; line-height: 27px;}
.responsive-tabs__list__item { background: #f6f6f6; padding: 12px 20px 15px; margin-right: 0; border-right: 1px solid #e9e9e9; font-size: 16px; 
/*                              font-family: 'ralewaysemibold'; */
                              font-weight:normal; }
/*.responsive-tabs__list__item:first-child{ border-left:1px solid #ccc;}*/
.responsive-tabs__list__item--active, 
.responsive-tabs__list__item--active:hover {  background: #fff; 
/*         padding-bottom: 20px;*/
    color:#00a650;
    font-weight:bold;
}
.responsive-tabs__list__item:hover{
    background: #00a650;
    color:#fff;
    border-color:#00a650;
}
.responsive-tabs__panel { margin-bottom: 0;}
.tabsshowhide{
/*    border:1px solid #ccc; */
    /*overflow:hidden;*/}
.tabs_ctnt_wpr{ padding:20px; overflow:hidden;}
/*Responsive tab end*/


.important-dates{width: 400px;}
.contact-box{width: 200px;}
.footer_wapper_color{
    background: #404041;
/*box-shadow: 0px 3px 0px 0px #38631a;*/

}
.sec_wapper .ftr_inr_cntr{
    margin: 0 auto;
    padding: 30px 0;
}
.sec_wapper  .followuson {
    width: 204px;
}
.sec_wapper .contact-box{
    width: auto;
    margin:0;
    border-right:0;
    float:right;
    padding-left:70px;
}
.sec_wapper .important-dates{
    width: 66%;
}
.sec_wapper  .followuson a{
   margin-right: 30px;
}
.sec_wapper  .followuson a:last-child{
    margin-right: 0;
}
.sec_wapper .info_prt ul li a{
    display: inline-block;
    vertical-align: text-top;
    font-weight: 500;
/*    font-family: 'ralewayregular';*/
    padding-right: 0;
    line-height: 18px;
}
.sec_wapper .info_prt ul li{
    margin-bottom: 14px;
}
.sec_wapper .info_prt ul {
    margin-top: 6px;
    display: inline-block;
}
.sec_wapper .info_prt ul li a sup{
    text-transform: lowercase;
}
.dst_body{
    font-family: 'Roboto';
    background-color: #f6f6f6
}
.ctgtbl tr:nth-child(even) {
  background: #f6f6f6cc;
}
.vedio iframe{
    width:100%;
}
#owl-slider2 .vedio {
    width:100%;
/*    margin:0px 20px;*/
    
}
#owl-slider2 .owl-nav .owl-prev , #owl-slider2 .owl-nav .owl-next{
    cursor: pointer;
    height: 40px;
    width: 40px;
    position: absolute;
    top: 50%;
    margin-top: -24px;
    background-color: #f15a22;
    padding: 0px;
    opacity: 0.8;
    border-radius: 0;
    color: #fff;
    font-size: 26px;
}
#owl-slider2 .owl-nav .owl-prev {
    left: 0px    
}
#owl-slider2 .owl-nav .owl-next{
   right: 0px;
}
.header_wapper{
    display: inline-block;
    width: 100%;
}
.croul_wapper .btnsbjct-box .btncls{
    padding: 10px 0;
}
.cpyrt_dtls ul li {
    font-size:14px;
    list-style:none;
}
.cpyrt_dtls ul {
    padding-left:0;
}
.icon_contact:before{
    font-family: "Flaticon";
    font-style: normal;
    line-height: 25px;
    font-size: 16px;
    color: #fff;
    margin-right:6px;
}
.lan_phn:before{
    content: "\e138";
}
.Eml_li:before{
    content: "\e069";
}
.web_li:before{
    content: "\e066";
}
.foter_date ul li:before{
    content: "\e02c";
    font-family: "Flaticon";
    font-style: normal;
    line-height: 22px;
    font-size: 14px;
    color: #fff;
    margin-right:6px;
    position:absolute;
    top:0;
    left:-20px;
}
.ftr_inr_cntr .foter_date li{
    
    list-style:none;
}
.foter_date ul li{
    position:relative;
    padding-left:10px;
}
.exam_table tr:first-child{
    background-color:#00a650;
}
.exam_table tr td h4{
    color:#fff;
}
.exam_table tr td ul li {
    line-height:24px;
}
.benifit_wapper{
    display:inline-block;
    width:100%;
   box-sizing: border-box;
   float:left;
}
.benifit_wapper ul li{
    line-height:28px;
}
.benifit_wapper img{
    width:100%;
    height:200px;
}
.benifit_wapper .img_imp{
    position:relative;
    float:left;
    width: 100%;
}

.benifit_wapper .img_imp:after{
    position:absolute;
    background-color:#00a650;
    top:0;
    bottom:0;
    left:0;
    right:0;
    content:'';
    opacity:0.8;
}
.back_img {
    position:relative;
}
.back_img h3{
    position:absolute;
    top:0;
    left:0;
    right:0;
    bottom:0;
    width:300px;
    height:34px;
    margin:auto;
    text-align:center;
    font-size:28px;
    color:#fff;
}
.benifit_wapper  ul {
    padding:38px 0;
}
.top_rank_wapper ul li {
    width: 100%;
    float: left;
    line-height: 20px;
    margin-bottom: 16px;
    font-size:14px;
    padding-left:0;
}
.featrs_wpr.top_rank_wapper ul li span{
    font-size:18px;
}
.featrs_wpr.top_rank_wapper ul{
    float:left;
/*    margin-bottom:10px;*/
   
}
.benifit_wapper ul li {
    color: #505050;
}
/*.box_rank span{
    position: absolute;
    left: 18px;
    font-family: Flaticon;
    font-size: 16px;
    vertical-align: middle;
    color: #f3723f;
    
}*/
.box_rank span:after {
    content: "";
}
.box_rank span{
    font-family: 'Roboto';    
    font-size:12px;
    background:#f3723f;
    color:#fff; 
    width: 55px;
    float: left;
    text-align: center;
    border-radius: 50px;
    height: 55px;
    line-height: 55px;
}
.box_rank strong{
    width:80%;
    float:right;
    font-weight:normal;    
    min-height:60px;
    padding: 0;
}
.box_rank{
    width:97%;
    float:left;
    position:relative;
    padding:10px;
    box-sizing:border-box;
}
.box_rank > div{
/*    border:1px solid #e9e9e9;*/
    padding:15px 15px;
    border-radius:5px;
-webkit-box-shadow: 0px 0px 18px 3px rgba(209,209,209,0.4);
-moz-box-shadow: 0px 0px 18px 3px rgba(209,209,209,0.4);
box-shadow: 0px 0px 18px 3px rgba(209,209,209,0.4);
float:left;
width:100%;
box-sizing: border-box;
}
.top_rank_wapper h2{
    display: inline-block;
    width: 100%;
    margin-bottom:14px;
}
.box_rank b{
    padding-bottom:5px;
    display:inline-block;
}
.box_rank p{
    line-height:18px;
}
.aftr_inr_cntr.featrs_wpr.top_rank_wapper{
    padding-top:25px;
    margin-left:-12px;
}

.responsive-tabs__list__item--active{
/*    border-top: 5px solid #00a650 ;*/
}
/*.cntr-list.center_wapper , .cntr-list.center_wapper ul{
    width:100%;
    float:left
}
.cntr-list.center_wapper ul{
    margin-bottom:20px;
}
.cntr-list.center_wapper ul li {
    width:25%;
    float:left;
}*/
.cntr_detail.cntr_detail_wapper{
    padding:20px 40px;
}
.cntr-list.center_wapper {
    width:193px;
}
.dst_main_wapper .inr_wpr{
    box-shadow:none;
}
.dst_body .sld_section{
    padding-bottom:0;
    margin-bottom:25px;
}
.dst_body .aftr_inr_cntr.note{
    padding:20px 40px;
}
.dst_body .inr_wpr{
    box-shadow:none;
}
/*.main_wrappr.sec_wapper{
    margin-top: 145px;
}*/
.main_wrappr.sec_wapper .foot_txt {
/*    margin:0;*/
    width: auto;
    display: inline-block;
    float: left;
    line-height: 35px;
    font-weight: bold;
}
.main_wrappr.sec_wapper .followuson{
    float:right;
    width:auto;
    margin-top: 145px;
}
.main_wrappr.sec_wapper .followuson a{
    margin-top:0;
}
.dst_body .inr_wpr{
    border-radius: 5px;
}
.left_box_rank{
    width:50%;
    float:left;
}
.benifit_wapper ul li b{
    width:auto;
}
.dst_body .responsive-tabs__list {
    margin: auto;
    width: max-content;
    
}
.dst_body .responsive-tabs__list  li {
    padding:10px 35px;
    display: inline-block;
}
.dst_body .cntr_detail_photo ul {
    margin-top:-20px;
    overflow: hidden;
    padding:0;
}
.dst_body .responsive-tabs__list{
    border-radius: 60px;
    border: 1px solid #8f8e8e;
    margin-top:0 !important;
    margin-bottom:20px;
}
.responsive-tabs__list__item:last-child{
    border-right:0;
}
.left_box_rank.date_dox{
    box-sizing:border-box;
     -webkit-box-shadow: 0px 0px 18px 3px rgba(209,209,209,0.4);
-moz-box-shadow: 0px 0px 18px 3px rgba(209,209,209,0.4);
box-shadow: 0px 0px 18px 3px rgba(209,209,209,0.4);
border-radius: 5px;
overflow:hidden;
margin-top:10px;
}

.left_box_rank.date_dox .benifit_wapper.back_img{
    padding:0;
}
.inr_wpr.footer_links_wpr{
    border-top:2px solid #404041;
    margin:0;
}
.inr_wpr.footer_links_wpr .ftr_inr_cntr{    
    padding:20px 0;
}
.dst_body .cntr_detail.cntr_detail_photo{
    padding:20px 0 10px;
}
.dst_body  .photo{
    width: 31%;
    margin: 10px ;
}
.benifit_wapper table{
    width:100%;
}
.benifit_wapper table tr td {
    padding:18px 14px;
}
.benifit_wapper table tr:nth-child(even){
    background-color:#f6f6f6;
}
.benifit_wapper table{
    border:1px solid #e9e9e9;
}
.benifit_wapper table tr{
    border:1px solid #e9e9e9;
}
.benifit_wapper table tr td:first-child{
    font-weight:bold;
    color:#505050
}
.benifit_wapper table tr td:last-child{
    color:#f3723f;
    font-weight:bold;
}
.nav_cntr .nav .reg_btn_nav a {
    background-color:#00a650;
    color:#fff;
    padding:10px 15px;
    margin:21px 0;
    border-radius: 4px;
    border:1px solid #00a650;
}
.nav_cntr .nav .reg_btn_nav a:hover{
    background-color:#fff;
    color:#00a650; 
}
.nav_fixed.stick .nav  .reg_btn_nav a{
    margin:8px 0;
    padding:6px 15px;
}
.pop_reg_btn {
   display: flow-root;
}
.reg_pop_wapper{
    padding-bottom:0;
}
.reg_pop_wapper .reg_cls_strm select{
    -webkit-appearance: none;
-moz-appearance: none;
appearance: none;
background-image: url('../images/tabs_arow.png');
background-repeat: no-repeat;
background-position: bottom 12px right 10px;
color:#767676;
}
.reg_pop_wapper.res_main_pop .pop_title{
    color:#00a650;
}
.res_main_pop .pop_reg_btn input[type="submit"]{
    background:#00a650;
    border: 1px solid #00a650;
}
.res_main_pop .pop_reg_btn input[type="submit"]:hover{
    background:#fff;
    border: 1px solid #00a650;
    color:#00a650;
}
.dst_footer{
    margin-top:0px;
    border-top:0;
    padding: 16px 0 12px;
}
.main_wrappr.sec_wapper .foot_txt , .main_wrappr.sec_wapper .followuson{
    margin-top:0;
}
.outer-category-data{
    width: 100%;
    display: inline-block;
    padding:25px 40px 30px;
    box-sizing: border-box;
}
.outer-category-data h2{
    color: #505050;
    font-size: 18px;
    margin-left:0px;
    margin-top:0px;
}
.outer-category-data .left-data{
    width: 32%;
    float: left;
    box-shadow: 0px 0px 5px #ccc;
    min-height: 302px;
    padding: 15px;
    box-sizing: border-box;
    position: relative;
    margin-left: 19px;
}
.outer-category-data .left-data p{
    font-size: 14px;
    color: #505050;
    line-height:18px;
    margin:15px 0px;
    width:80%;
}
.outer-category-data .left-data ol li{
    list-style:upper-alpha;
    list-style-position: inside;
    margin:5px 0px;
}
.outer-category-data .left-data h4{
    font-size:18px;
    color: #00a650;
    margin:0px;
}
/*.outer-category-data .left-data.brder:after{
    content: '';
    position: absolute;
    height:100%;
    width:1px;
    background:#ccc;
    left:0;
    top:0px;
}*/
.second-data .res_main_pop span:before {
    content: "\e0fc";
    display:none;
}
.second-data .featrs_wpr ul li{
   list-style: decimal;
    padding-left: 10px;
    font-weight: bold;
    margin-bottom: 15px;
}
.res_main_pop p.pop_reg_btn.new{
   margin:20px 20px 0px 30px; 
}
.res_main_pop p .acpt_trms{
    font-size:12px;
}
.pop_reg_btn.new.data-inst{
    margin: 0 !important;
    position: absolute;
    bottom: 20px;
}
.ul-data-new{
    width:100%;
    display:inline-block;
}
.ul-data-new ul{
    padding-left:15px;
}
.ul-data-new ul li{
    list-style:initial;
    margin-top:15px;
    font-weight:400;
}
.inr_wpr.first.object.left-data{
 width:48.5%;
    float:left;
    min-height:274px;
}
.inr_wpr.first.object.rgt-data{
 width:48.5%;
    float:right;
     min-height:274px;
}