/*--------------------------- Creat by Anurag Tiwari(frontend UI Developer) ----------------------------
[Table of contents]

1. Header
	+ logo
	+ top navigation
	+ search

2. Sec1
	+ feature sections
	+ page title
	+ parallax backgrounds
	+ video backgrounds

3. Sec2
	+ site search
	+ tabs
	+ portfolio widgets
	+ advertisements

4. Video Background Section
	+ lists
	+ buttons
	+ styled boxes
	+ dropcaps
	+ highlight colors

5. Sec4
	+ site search
	+ tabs
	+ portfolio widgets
	+ advertisements

6. Sec4
	+ site search
	+ tabs
	+ portfolio widgets
	+ advertisements

7. Footer
	+ copyrights
	+ google map
    + submit form


/*----------------------------------------------------
	SITE MAIN STRUCTURE
------------------------------------------------------*/
/*----------------------------------------------------
   SHORTCODE ELEMENTS
------------------------------------------------------*/
.duble {
  font-weight: 400;
}
.dubleX {
  font-weight: 600;
}
.dubleXX {
  font-weight: 700;
}
.yellow h4 {
  color: #efd48d;
  font-family: josefin-sans, sans-serif;
  letter-spacing: 1.2px;
}
.yellow h5 {
  color: #efd48d;
  font-family: josefin-sans, sans-serif;
  letter-spacing: 1.2px;
}
.line_br {
  border-right: 1px dashed #fff;
}
.line_bb {
  border-bottom: 1px dashed #fff;
}
.textcenter{text-align: center;}
bl {
    color: #fff;
}
/*-------------------*/
/*     columns    */
/*-------------------*/
/*-----------------------------------
  MAIN STYLE CSS
-----------------------------------*/
#top-bar {
    background: #efd48d;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.07);
    min-height: 60px;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 2000;
}
.sec1 {
/*  background-image: url("../images/banner-back.jpg");*/
   background-image: url("../images/bg_pop.png");
    background-color: #0E0D0A;
    margin-top: 60px;
    
}
.sec2 .text4,
.sec3 .text4,
.sec4 .text4,
.sec5 .text4 {
  width: 100%;
  display: inline-block;
  text-align: center;
  font-size: 45px;
  margin: 30px 0 0;
}
.main {
  border-bottom: 1px solid #a06f5f;
  background-color: #efd48d;
}
.logo {
    display: block;
    margin: 13px 0;
}
.logo a {
    display: block;
    font-size: 24px;
    font-weight: 400;
}
.logo img {
    position: relative;
    width: 100%;
}
.navigation {
  text-align: center;
}
.top-menu {
  background-color: transparent;
  color: #a06f5f;
  display: inline-block;
  margin: 0;
  min-height: 45px;
  padding: 0;
  text-align: center;
  width: 754px;
}
.top-menu > li {
  display: inline-block;
  list-style: outside none none;
}
.top-menu > li > a {
  border-radius: 20px;
  color: #222222;
  display: inline-block;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0.05em;
  line-height: 38px;
  margin: 12px 0;
  padding: 0 20px;
}
.top-menu > li > a:hover {
  background-color: #6ec2a8;
  color: #fff;
  text-decoration: none;
}
.top-menu > li > a.active{
  background-color: #6ec2a8;
  color: #fff;
  text-decoration: none;
}
.top-menu > li > a:focus {
  text-decoration: none;
}
.top-menu li.selected a {
  background: #6ec2a8;
  color: #fff;
}
.slider-img {
  width: 100%;
  height: 559px;
  margin-top: 35px;
  display: inline-block;
  overflow: hidden;
}
.slider-img .img001 {
  overflow: hidden;
  display: inline-block;
}
.slider-quote {
  margin-top: 30%;
  position: relative;
  text-align: center;
  width: 100%;
}
.slider-quote .quote {
  display: inline-block;
}
.slider-quote .quote .text1 {
  display: inline-block;
  width: 100%;
  color: #fff;
  font-size: 35px;
  text-align: center;
}
.slider-quote .quote .text1 .text1-bg {
  background: transparent url("../images/bubble.png") no-repeat top left;
  display: inline-block;
  height: 80px;
  line-height: 56px;
  text-align: center;
  width: 238px;
}
.slider-quote .quote .text2 {
  display: inline-block;
  font-size: 65px;
  color: #efd48d;
  width: 100%;
}
.slider-quote .quote .text3 {
  display: inline-block;
  font-size: 35px;
  color: #efd48d;
  width: 100%;
}
/*-- section 2 css --*/
.sec2 {
  background: #a06f5f;
  color: #fff;
  font-size: 20px;
  padding: 20px 0 30px;
}
.sec2 .text4 {
  width: 100%;
  display: inline-block;
  text-align: center;
  font-size: 45px;
  margin: 30px 0 0;
}
.sec2 .text4 .img002 {
  display: inline-block;
  margin: 20px 0 10px;
}
.sec2 .text5 {
  color: #fff;
  text-align: center;
  width: 100%;
  margin: 30px auto;
  font-size: 21px;
}
.sec2 .social-icon {
  width: 100%;
  display: inline-block;
  text-align: center;
  margin: 50px 0 20px;
}
.sec2 .wrap-icon {
  float: none;
  display: inline-block;
}
.sec2 .icon001 {
  display: inline-block;
  width: 46px;
  height: 46px;
  border: 2px solid #efd48d;
  border-radius: 50%;
  text-align: center;
  font-size: 20px;
  color: #efd48d;
}
.sec2 .icon001 .fa-facebook,
.sec2 .icon001 .fa-linkedin,
.sec2 .icon001 .fa-skype,
.sec2 .icon001 .fa-twitter {
  font-size: 20px;
  line-height: 43px;
}
.sec2 .icon001:hover {
  background: #6ec2a8;
  color: #fff;
  border: 2px solid #6ec2a8;
  -webkit-transition: all 0.33s ease 0s ;
  -moz-transition: all 0.33s ease 0s ;
  -ms-transition: all 0.33s ease 0s ;
  -o-transition: all 0.33s ease 0s ;
  transition: all 0.33s ease 0s;
}
.about_profile {
  background-color: #865749;
  text-align: center;
}
.about_profile h3 {
  color: #fff;
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 5px;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.4);
}
.about_profile img {
  width: 100%;
}
.about_profile .about_profile_info {
  border-top: 1px solid #202020;
  padding: 5px 10px 20px;
}
.about_profile .about_profile_info span {
  color: #fff;
  font-size: 14px;
  font-weight: 300;
}
.about_profile .about_profile_info .line_white {
  border-bottom: 1px solid #fff;
  margin: 10px auto 0;
  width: 67px;
}
/*-- sec3 --*/
.sec3 {
  background: #efd48d;
  color: #1c1d1d;
  font-size: 20px;
  padding: 90px 0 80px;
  /*-- sec4 css --*/
}
.sec3 .text5 {
  font-size: 35px;
  margin-bottom: 45px;
  color: #1c1d1d;
  display: inline-block;
  width: 100%;
  text-align: center;
}
.sec3 .sec3-left {
  display: inline-block;
  width: 100%;
}
.sec3 .sec3-left .icon-block {
  display: inline-block;
  width: 100%;
}
.sec3 .sec3-left .icon-block .img002 {
  width: auto;
  float: left;
}
.sec3 .sec3-left .sec3-li {
  margin: 0 0 40px;
  padding: 0;
  list-style: none;
  font-size: 21px;
}
.sec3 .sec3-left .sec3-li h3,
.sec3 .sec3-left .sec3-li p {
  font-size: 20px;
}
.sec3 .icon-block i {
  color: #a06f5f;
  display: inline-block;
  font-size: 45px;
  height: 50px;
}
.sec3 .skill {
  overflow: hidden;
  padding-top: 60px;
}
.sec3 .progress {
  background-color: #f5f5f5;
  border-radius: 4px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1) inset;
  height: 20px;
  margin-bottom: 20px;
  overflow: hidden;
}
.sec3 .lead {
  font-size: 16px;
  font-weight: 300;
  line-height: 1.4;
  margin-bottom: 20px;
}
.sec3 .skill-area {
  position: relative;
}
.sec3 .skill-area::after {
  background: #fafafa none repeat scroll 0 0;
  content: "";
  height: calc(20%);
  position: absolute;
  right: -118px;
  top: 40px;
  width: 1px;
}
.sec3 .service-text {
  margin-top: 30px;
}
.sec3 .skill .progress .lead {
  color: #1c1d1d;
  font-family: josefin-sans, sans-serif;
  font-size: 22px;
  font-weight: 400;
  left: 0;
  position: absolute;
  top: -40px;
  z-index: 99;
}
.sec3 .skill .progress {
  background-color: #6ec2a8;
  border: medium none;
  border-radius: 0;
  box-shadow: none;
  height: 7px;
  margin-bottom: 51px;
  overflow: visible;
  position: relative;
}
.sec3 .skill .progress-bar span {
  background: #6ec2a8;
  float: right;
  font-family: josefin-sans, sans-serif;
  font-size: 17px;
  font-weight: 300;
  margin-right: 0px;
  margin-top: -34px;
  padding: 3px 5px;
  position: relative;
}
.sec3 .skill .progress-bar > span::before,
.sec3 .skill .progress-bar > span::after {
  border: medium solid transparent;
  content: " ";
  height: 0;
  pointer-events: none;
  position: absolute;
  top: 100%;
  width: 0;
}
.sec3 .skill .progress-bar > span::before {
  border-top-color: #6ec2a8;
  border-width: 5px;
  left: 50%;
  margin-left: -5px;
}
.sec3 .skill .progress:nth-child(1) .progress-bar {
  background: #a06f5f;
}
.sec3 .skill .progress:nth-child(2) .progress-bar {
  background: #a06f5f;
}
.sec3 .skill .progress:nth-child(3) .progress-bar {
  background: #a06f5f;
}
.sec3 .skill .progress:nth-child(4) .progress-bar {
  background: #a06f5f;
}
.sec3 .timeline {
  box-sizing: border-box;
  display: table;
  height: 100%;
  margin-bottom: 0;
  padding-bottom: 0;
  padding-left: 0;
  position: relative;
  width: 100%;
}
.sec3 .timeline:before {
  background: none repeat scroll 0 0 #333;
  content: "";
  height: 100%;
  left: 33%;
  position: absolute;
  width: 1px;
}
.sec3 .timeline li {
  float: right;
  margin-bottom: 86px;
  width: 60%;
}
.sec3 .timeline li:last-child {
  margin-bottom: 0;
}
.sec3 .timeline-time-container {
  left: 16%;
  position: absolute;
  text-align: right;
}
.sec3 .timeline-time-container h6 {
  color: #333;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  letter-spacing: 2px;
  text-transform: uppercase;
}
.sec3 .timeline-time-container p {
  color: #aaa;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  letter-spacing: 2px;
  line-height: 26px;
  text-transform: uppercase;
}
.sec3 .timeline-dot {
  position: relative;
}
.sec3 .timeline-dot:before {
  background: none repeat scroll 0 0 #333;
  border-radius: 50%;
  content: "";
  height: 12px;
  left: -64px;
  position: absolute;
  width: 12px;
}
.sec3 .timeline li:hover .timeline-dot:after {
  background: none repeat scroll 0 0 #333;
}
.sec3 .timeline-dot:after {
  background: none repeat scroll 0 0 #fff;
  border-radius: 50%;
  content: "";
  height: 8px;
  left: -62px;
  position: absolute;
  top: 1.7px;
  transition: all 0.3s linear 0s;
  width: 8px;
}
.sec3 .timeline-title h5 {
  color: #333;
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  font-weight: 400;
  letter-spacing: 1.2px;
}
.sec3 .timeline-details {
  padding-top: 18px;
}
.sec3 .timeline-details p {
  color: #999;
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  line-height: 24px;
}
/*-- sec4 css --*/
.sec4{
  background: #a06f60;
  color: #fff;
  font-size: 20px;
  padding: 90px 0 80px;
}
.sec4 .text6 {
  font-size: 35px;
  margin-bottom: 15px;
  color: #fff;
  display: inline-block;
  width: 100%;
  text-align: center;
}
.sec4 .icon-block1 i {
  color: #efd48d;
  display: inline-block;
  font-size: 45px;
  height: 50px;
  text-align: center;
}
.timeline-container {
}
.timeline {
    box-sizing: border-box;
    display: table;
    height: 100%;
    margin-bottom: 0;
    padding-bottom: 0;
    padding-left: 0;
    position: relative;
    width: 100%;
}
.timeline:before {
    background: #efd48d;
    content: "";
    height: 100%;
    left: 26%;
    position: absolute;
    width: 8px;
}
.timeline li {
    float: right;
    margin-bottom: 40px;
    width: 69%;
}
.timeline li:last-child {
    margin-bottom: 0;
}
.timeline-time-container {
    left: -7%;
    position: absolute;
    text-align: right;
    width: 30%;
}
.timeline-time-container h6 {
    color: #333;
    font-family: josefin-sans, sans-serif;
    font-weight: 500;
    letter-spacing: 2px;
    text-transform: uppercase;
}
.timeline-time-container p {
    color: #fff;
    font-family: josefin-sans, sans-serif;
    font-weight: 700;
    line-height: 49px;
    font-size: 28px;
}
.timeline-dot {
    position: relative;
}
.timeline-dot:before {
    background: #efd48d;
    border-radius: 50%;
    content: "";
    height: 46px;
    left: -9.68%;
    position: absolute;
    width: 46px;
}
.timeline li:hover .timeline-dot:after {
    background: none repeat scroll 0 0 #fff;
}
.timeline li:last-child{margin-bottom: 0;}
.timeline-dot:after {
    background: #a06f60;
    border-radius: 50%;
    content: "";
    height: 32px;
    left: -8.8%;
    position: absolute;
    top: 6.7px;
    transition: all 0.3s linear 0s;
    width: 32px;
}
.timeline-title {
}
.timeline-title h2 {
    color: #fff;
    font-family: josefin-sans, sans-serif;
    font-size: 23px;
    font-weight: 700;
    margin-top: 14px;
/*    letter-spacing: 1.2px;*/
}
.timeline-title h5 {
    color: #efd48d;
    font-family: josefin-sans, sans-serif;
    font-size: 16px;
    font-weight: 400;
    text-transform: uppercase;
/*    letter-spacing: 1.2px;*/
}
.timeline-details {
    padding-top: 18px;
}
.timeline-details p {
    color: #fff;
    font-family: josefin-sans, sans-serif;
    font-size: 20px;
    line-height: 24px;
    font-weight: 300;
}
/*---- video background section ---*/
.top_box {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.top_box .bgiframe {
  position: absolute;
  width: 400%;
  height: 200%;
  margin-left: -150%;
  margin-top: -20%;
  z-index: -99;
}
.top_box .title {
  position: absolute;
  left: 50%;
  top: 50%;
  width: 500px;
  height: 240px;
  margin-left: -250px;
  margin-top: -260px;
  text-indent: -9999px;
  /*background: url("../images/logo.png") no-repeat 0 0;*/
}
.top_box .btn_pop {
  position: absolute;
  left: 50%;
  top: 50%;
  width: 128px;
  height: 128px;
  margin-left: -64px;
  margin-top: -24px;
  background: url("../images/btn_pop.png") no-repeat 0 0;
  cursor: pointer;
}
.top_box .btn_vol {
  position: absolute;
  right: 20px;
  top: 20px;
  width: 32px;
  height: 32px;
  background: url("../images/volume.png") no-repeat;
  cursor: pointer;
}
.top_box .btn_vol.on {
  background-position: 0 0;
}
.top_box .btn_vol.off {
  background-position: 0 -32px;
}
.top_box .bg_dot {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background: url("../images/bg.png");
  z-index: -9;
}
/* navigation */
.top_box .control {
  position: absolute;
  left: 0;
  top: 50%;
  margin-top: 140px;
  width: 100%;
  text-align: center;
}
.top_box .control li {
  display: inline-block;
  list-style: none;
  padding: 10px 14px;
  margin: 0 0 4px 0;
  border: 1px solid #FFFFFF;
  border-radius: 8px;
  width: 100px;
  height: 40px;
  line-height: 22px;
  font-size: 14px;
  color: #FFFFFF;
  background-color: rgba(255, 255, 255, 0.4);
  cursor: pointer;
}
.top_box .control li.on,
.top_box .control li:hover {
  background-color: #FFFFFF;
  color: #000000;
}
/* popup */
.pop_yt {
  position: absolute;
  left: 50%;
  top: 50%;
  width: 960px;
  height: 540px;
  margin-left: -480px;
  margin-top: -270px;
  z-index: 99;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}
.pop_yt .close {
  position: absolute;
  right: -40px;
  top: 0;
  width: 40px;
  height: 40px;
  background: url("../images/close.png") no-repeat 0 0;
  cursor: pointer;
}
.pop_overlay {
  display: none;
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background: url("../images/bg_pop.png");
  z-index: 9;
}
 /*-- sec5 css --*/
.sec5 {
  background: #a06f60;
  color: #fff;
  font-size: 20px;
  padding: 90px 0 80px;
 
}
.sec5 .videowrapper {
    clear: both;
    float: none;
    height: 0;
    padding-bottom: 56.25%;
    padding-top: 25px;
    position: relative;
    width: 100%;
}
.sec5 .videowrapper iframe {
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
}
/*-- Sec6 ContactUs --*/
.sec6 {
  background: #202020;
  color: #808080;
  font-size: 14px;
  padding: 20px 0 40px;
 
}
.mb_0 {
    margin-bottom: 0;
}
.page-title-small-padding {
    margin-top: 25px;
}
.page-title-small {
    color: #efd48d;
    font-size: 16px;
    margin-bottom: 40px;
    margin-top: 30px;
    text-align: center;
}
.page-title-small span {
    display: inline-block;
    font-size: 16px;
    font-weight: 800;
    position: relative;
}
.page-title-small span:before, .page-title-small span:after {
    border-bottom: 1px solid #efd48d;
    content: "";
    height: 9px;
    position: absolute;
    top: 0;
    width: 40px;
}
.page-title-small span:before {
    margin-right: 15px;
    right: 100%;
}
.page-title-small span:after {
    left: 100%;
    margin-left: 15px;
}
.line_bb {
    border-bottom: 1px dashed #303030;
}
.line_br {
    border-right: 1px dashed #303030;
}
.p_address {
    margin-bottom: 25px;
}
.ul_address {
    list-style: none outside none !important;
    padding-left: 0;
}
.ul_address li {
    line-height: 1.5;
}
.ul_address .tlabel {
    float: left;
    font-weight: bold;
    width: 70px;
}
.ul_address .span {
    margin-left: 80px;
}
.my_form {
    font-size: 14px;
}
.my_form label {
    width: 100%;
}
.my_form label.error {
    color: #efd48d;
    font-size: 13px;
    font-weight: 300;
    margin-bottom: 10px;
    position: relative;
    top: -10px;
}
.my_form .t_label {
    font-size: 14px;
    margin-bottom: 10px;
}
.my_form input[type="text"], .my_form input[type="email"] {
    height: 37px;
    line-height: 37px;
    padding: 0 10px;
}
.my_form input[type="text"]:focus, .my_form input[type="email"]:focus, .my_form textarea:focus {
    border-color: #efd48d;
}
.my_form textarea {
    height: 170px;
    line-height: 37px;
    padding: 0 10px;
}
.my_form input[type="text"], .my_form input[type="email"], .my_form textarea {
    background-color: #202020;
    border: 1px solid #303030;
    color: #505050;
    font-size: 14px;
    margin-bottom: 20px;
    width: 100%;
}
.my_form input[type="submit"] {
    background-color: #404040;
    border: 1px solid #404040;
    border-radius: 3px;
    color: #ffffff;
    display: inline-block;
    font-size: 14px;
    font-weight: 700;
    margin-top: 20px;
    padding: 12px 20px;
    text-decoration: none;
    text-transform: uppercase;
    transition: all 0.4s ease 0s;
}
.my_form input[type="submit"]:hover {
    background-color: #efd48d;
    border: 1px solid #efd48d;
    color: #202020;
    transition: all 0.4s ease 0s;
}
.ul_address a{color: #6ec2a8;}
.ul_address a:hover{color: #53927e;}

/*-- foter section --*/
#id_footer {
    background-color: #333333;
}
#footer {
}
#footer .copyright {
    color: #ffffff;
    font-size: 13px;
    font-weight: 300;
    line-height: 1.2;
    margin-bottom: 25px;
    padding-top: 25px;
}
#footer .copyright a {
    color: #6ec2a8;
}
#footer .copyright a:hover {
    color: #53927e;
}
#footer .ul_social .tooltip .tooltip-inner {
    border-radius: 3px;
    padding: 5px 10px;
}
#footer .ul_social .tooltip.top {
    top: -20px !important;
}
.ul_social {
    float: right;
    list-style: none outside none !important;
    margin-bottom: 0;
    padding-left: 0;
}
.ul_social li {
    float: left;
}
.ul_social li:last-child {
    margin-right: 0;
}
.ul_social li a {
    display: table-cell;
    height: 46px;
    padding-top: 20px;
    text-align: center;
    vertical-align: middle;
    width: 46px;
    color: #fff;
}
.ul_social li a:hover {
    display: table-cell;
    height: 46px;
    padding-top: 20px;
    text-align: center;
    vertical-align: middle;
    width: 46px;
    color: #6ec2a8;
}
.ul_social li a i {
    margin: auto;
}
.a_social_facebook {
}
.social_facebook {
    background: url("../images/social/facebook_icon.png") no-repeat scroll center bottom transparent;
    display: block;
    height: 16px;
    width: 16px;
}
.a_social_twitter {
}
.social_twitter {
    background: url("../images/social/twitter_icon.png") no-repeat scroll center bottom transparent;
    display: block;
    height: 16px;
    width: 16px;
}
.a_social_youtube {
}
.social_youtube {
    background: url("../images/social/youtube_icon.png") no-repeat scroll center bottom transparent;
    display: block;
    height: 16px;
    width: 16px;
}
.a_social_vimeo {
}
.social_vimeo {
    background: url("../images/social/vimeo_icon.png") no-repeat scroll center bottom transparent;
    display: block;
    height: 16px;
    width: 16px;
}
.a_social_skype {
}
.social_skype {
    background: url("../images/social/skype_icon.png") no-repeat scroll center bottom transparent;
    display: block;
    height: 16px;
    width: 16px;
}
.a_social_rss {
}
.social_rss {
    background: url("../images/social/rss_icon.png") no-repeat scroll center bottom transparent;
    display: block;
    height: 16px;
    width: 16px;
}
.a_social_dribbble {
}
.social_dribble {
    background: url("../images/social/dribble_icon.png") no-repeat scroll center bottom transparent;
    display: block;
    height: 16px;
    width: 16px;
}
.a_social_gmail {
}
.social_gmail {
    background: url("../images/social/gmail_icon.png") no-repeat scroll center bottom transparent;
    display: block;
    height: 16px;
    width: 16px;
}

/*-- Portfolio Section --*/
.portfolio-section {
    padding-bottom:40px;
    background: #efd48d;
}


/* category filter */

.filter-section {
	padding-top:40px;
    background: #efd48d
}


.filter-container {
    text-align:center;
    padding:20px
}


ul.filter > li > a {
    color:#1abc9c;
    font-size:20px;
    line-height:40px
}

ul.filter > li > a:hover,ul.filter > li > a:focus {
    text-decoration:none;
    color:#16a085;
    outline:none
}

ul.filter > li.active a {
    color:#111
}

ul.filter > li span {
    font-size:20px;
    display:inline-block;
    margin:0 5px
}

.filter-section .filter-container .filter > li {
    padding:0;
    margin:0
}

.filter-section h1 {
    text-align:center
}


/* the color of the transparent overlay border */

.portfolio-section.port-col figure .overlay-background {
    background-color:#000;
    background-color:rgba(0,0,0,0.4);
}


/* portfolio images */

.portfolio-section figure {
    float:left;
    width:100%;
    position:relative
}

.portfolio-section figure img {
    width:100%;
    height:auto
}


/* project title under image */

.portfolio-section .article-title {
    text-align:center;
    float:left;
    width:100%;
    font-size:18px;
    line-height:24px;
    padding:10px 0 30px 0;
}

.portfolio-section .article-title a {
    color:#aaa
}


/* transparent overlay */

.portfolio-section figure:hover .overlay {
    opacity:1;
    visibility:visible
}

.portfolio-section figure:hover .overlay-background {
    opacity:.8;
    visibility:visible
}

.portfolio-section figure .overlay-background {
    z-index:1;
    -webkit-transition:all .2s ease-in-out;
    -moz-transition:all .2s ease-in-out;
    -o-transition:all .2s ease-in-out;
    transition:all .2s ease-in-out;
    position:absolute;
    top:0;
    left:0;
    opacity:0;
    visibility:hidden;
    width:100%;
    height:100%
}

.portfolio-section figure .overlay-background .inner {
    position:absolute;
    left:0;
    right:0;
    bottom:0;
    top:0;
    margin:11px;
    background-color:#c8e9c8;
    background-color:rgba(194,231,194,0.9)
}

.portfolio-section figure .overlay {
    z-index:2;
    transition:all .2s ease-in-out;
    position:absolute;
    top:0;
    left:0;
    opacity:0;
    visibility:hidden;
    width:100%;
    height:100%
}

.portfolio-section figure .inner-overlay {
    display:table;
    width:100%;
    height:100%
}

.portfolio-section figure .inner-overlay-content {
    display:table-cell;
    vertical-align:middle;
    width:100%;
    padding:20px 40px
}

.portfolio-section figure .inner-overlay-content.with-icons {
    text-align:center
}


/* icons inside overlay */

.portfolio-section figure .inner-overlay-content.with-icons a {
    width:40px;
    height:40px;
    line-height:42px;
    display:inline-block;
    margin:0 10px;
    text-decoration:none;
    font-size:20px;
	background:rgba(0,0,0,0.9);
    color:#fff;
    border-radius:0
}


/* skew image on hover */ 

.isotopeSelector img {
    -webkit-transition:all .4s ease;
    -moz-transition:all .4s ease;
    -ms-transition:all .4s ease;
    -o-transition:all .4s ease;
    transition:all .4s ease
}

.isotopeSelector:hover img {
    -moz-transform:scale(1.5) rotate(2deg);
    -webkit-transform:scale(1.5) rotate(2deg);
    -o-transform:scale(1.5) rotate(2deg);
    -ms-transform:scale(1.5) rotate(2deg);
    transform:scale(1.5) rotate(2deg);
    -webkit-transition:all .8s ease;
    -moz-transition:all .8s ease;
    -ms-transition:all .8s ease;
    -o-transition:all .8s ease;
    transition:all .8s ease
}

.isotopeSelector figure {
    overflow:hidden
}

.isotopeSelector figure {
    box-shadow:0 0 2px rgba(0,0,0,0.2)
}








/*
|--------------------------------------------------------------------------
|  Demo Specific Code
|--------------------------------------------------------------------------
|
|
|
*/



.demo-colored-wrap {
	background:#ecf0f1;
}

/*-----------------------------------
   BOOSTRAP-RESET CSS
-----------------------------------*/
body {
  color: #1c1d1d;
  font-family: josefin-sans, sans-serif;
  font-size: 14px;
  line-height: 1.42857;
}
.responsive-toggle {
  border: 1px solid #eee;
  margin-top: 30px;
}
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
/*-----------------------------------
   ANIMATION CSS
-----------------------------------*/
.animated {
  animation-duration: 1s;
  animation-fill-mode: both;
}
.animated.hinge {
  animation-duration: 2s;
}
@keyframes bounce {
  0%,
  20%,
  50%,
  80%,
  100% {
    transform: translateY(0px);
  }
  40% {
    transform: translateY(-30px);
  }
  60% {
    transform: translateY(-15px);
  }
}
.bounce {
  animation-name: bounce;
}
@keyframes flash {
  0%,
  50%,
  100% {
    opacity: 1;
  }
  25%,
  75% {
    opacity: 0;
  }
}
.flash {
  animation-name: flash;
}
@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}
.pulse {
  animation-name: pulse;
}
@keyframes shake {
  0%,
  100% {
    transform: translateX(0px);
  }
  10%,
  30%,
  50%,
  70%,
  90% {
    transform: translateX(-10px);
  }
  20%,
  40%,
  60%,
  80% {
    transform: translateX(10px);
  }
}
.shake {
  animation-name: shake;
}
@keyframes swing {
  20% {
    transform: rotate(15deg);
  }
  40% {
    transform: rotate(-10deg);
  }
  60% {
    transform: rotate(5deg);
  }
  80% {
    transform: rotate(-5deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
.swing {
  animation-name: swing;
  transform-origin: center top 0;
}
@keyframes tada {
  0% {
    transform: scale(1);
  }
  10%,
  20% {
    transform: scale(0.9) rotate(-3deg);
  }
  30%,
  50%,
  70%,
  90% {
    transform: scale(1.1) rotate(3deg);
  }
  40%,
  60%,
  80% {
    transform: scale(1.1) rotate(-3deg);
  }
  100% {
    transform: scale(1) rotate(0deg);
  }
}
.tada {
  animation-name: tada;
}
@keyframes wobble {
  0% {
    transform: translateX(0%);
  }
  15% {
    transform: translateX(-25%) rotate(-5deg);
  }
  30% {
    transform: translateX(20%) rotate(3deg);
  }
  45% {
    transform: translateX(-15%) rotate(-3deg);
  }
  60% {
    transform: translateX(10%) rotate(2deg);
  }
  75% {
    transform: translateX(-5%) rotate(-1deg);
  }
  100% {
    transform: translateX(0%);
  }
}
.wobble {
  animation-name: wobble;
}
@keyframes bounceIn {
  0% {
    opacity: 0;
    transform: scale(0.3);
  }
  50% {
    opacity: 1;
    transform: scale(1.05);
  }
  70% {
    transform: scale(0.9);
  }
  100% {
    transform: scale(1);
  }
}
.bounceIn {
  animation-name: bounceIn;
}
@keyframes bounceInDown {
  0% {
    opacity: 0;
    transform: translateY(-2000px);
  }
  60% {
    opacity: 1;
    transform: translateY(30px);
  }
  80% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(0px);
  }
}
.bounceInDown {
  animation-name: bounceInDown;
}
@keyframes bounceInLeft {
  0% {
    opacity: 0;
    transform: translateX(-2000px);
  }
  60% {
    opacity: 1;
    transform: translateX(30px);
  }
  80% {
    transform: translateX(-10px);
  }
  100% {
    transform: translateX(0px);
  }
}
.bounceInLeft {
  animation-name: bounceInLeft;
}
@keyframes bounceInRight {
  0% {
    opacity: 0;
    transform: translateX(2000px);
  }
  60% {
    opacity: 1;
    transform: translateX(-30px);
  }
  80% {
    transform: translateX(10px);
  }
  100% {
    transform: translateX(0px);
  }
}
.bounceInRight {
  animation-name: bounceInRight;
}
@keyframes bounceInUp {
  0% {
    opacity: 0;
    transform: translateY(2000px);
  }
  60% {
    opacity: 1;
    transform: translateY(-30px);
  }
  80% {
    transform: translateY(10px);
  }
  100% {
    transform: translateY(0px);
  }
}
.bounceInUp {
  animation-name: bounceInUp;
}
@keyframes bounceOut {
  0% {
    transform: scale(1);
  }
  25% {
    transform: scale(0.95);
  }
  50% {
    opacity: 1;
    transform: scale(1.1);
  }
  100% {
    opacity: 0;
    transform: scale(0.3);
  }
}
.bounceOut {
  animation-name: bounceOut;
}
@keyframes bounceOutDown {
  0% {
    transform: translateY(0px);
  }
  20% {
    opacity: 1;
    transform: translateY(-20px);
  }
  100% {
    opacity: 0;
    transform: translateY(2000px);
  }
}
.bounceOutDown {
  animation-name: bounceOutDown;
}
@keyframes bounceOutLeft {
  0% {
    transform: translateX(0px);
  }
  20% {
    opacity: 1;
    transform: translateX(20px);
  }
  100% {
    opacity: 0;
    transform: translateX(-2000px);
  }
}
.bounceOutLeft {
  animation-name: bounceOutLeft;
}
@keyframes bounceOutRight {
  0% {
    transform: translateX(0px);
  }
  20% {
    opacity: 1;
    transform: translateX(-20px);
  }
  100% {
    opacity: 0;
    transform: translateX(2000px);
  }
}
.bounceOutRight {
  animation-name: bounceOutRight;
}
@keyframes bounceOutUp {
  0% {
    transform: translateY(0px);
  }
  20% {
    opacity: 1;
    transform: translateY(20px);
  }
  100% {
    opacity: 0;
    transform: translateY(-2000px);
  }
}
.bounceOutUp {
  animation-name: bounceOutUp;
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.fadeIn {
  animation-name: fadeIn;
}
@keyframes fadeInDown {
  0% {
    opacity: 0;
    transform: translateY(-20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}
.fadeInDown {
  animation-name: fadeInDown;
}
@keyframes fadeInDownBig {
  0% {
    opacity: 0;
    transform: translateY(-2000px);
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}
.fadeInDownBig {
  animation-name: fadeInDownBig;
}
@keyframes fadeInLeft {
  0% {
    opacity: 0;
    transform: translateX(-20px);
  }
  100% {
    opacity: 1;
    transform: translateX(0px);
  }
}
.fadeInLeft {
  animation-name: fadeInLeft;
}
@keyframes fadeInLeftBig {
  0% {
    opacity: 0;
    transform: translateX(-2000px);
  }
  100% {
    opacity: 1;
    transform: translateX(0px);
  }
}
.fadeInLeftBig {
  animation-name: fadeInLeftBig;
}
@keyframes fadeInRight {
  0% {
    opacity: 0;
    transform: translateX(20px);
  }
  100% {
    opacity: 1;
    transform: translateX(0px);
  }
}
.fadeInRight {
  animation-name: fadeInRight;
}
@keyframes fadeInRightBig {
  0% {
    opacity: 0;
    transform: translateX(2000px);
  }
  100% {
    opacity: 1;
    transform: translateX(0px);
  }
}
.fadeInRightBig {
  animation-name: fadeInRightBig;
}
@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}
.fadeInUp {
  animation-name: fadeInUp;
}
@keyframes fadeInUpBig {
  0% {
    opacity: 0;
    transform: translateY(2000px);
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}
.fadeInUpBig {
  animation-name: fadeInUpBig;
}
@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
.fadeOut {
  animation-name: fadeOut;
}
@keyframes fadeOutDown {
  0% {
    opacity: 1;
    transform: translateY(0px);
  }
  100% {
    opacity: 0;
    transform: translateY(20px);
  }
}
.fadeOutDown {
  animation-name: fadeOutDown;
}
@keyframes fadeOutDownBig {
  0% {
    opacity: 1;
    transform: translateY(0px);
  }
  100% {
    opacity: 0;
    transform: translateY(2000px);
  }
}
.fadeOutDownBig {
  animation-name: fadeOutDownBig;
}
@keyframes fadeOutLeft {
  0% {
    opacity: 1;
    transform: translateX(0px);
  }
  100% {
    opacity: 0;
    transform: translateX(-20px);
  }
}
.fadeOutLeft {
  animation-name: fadeOutLeft;
}
@keyframes fadeOutLeftBig {
  0% {
    opacity: 1;
    transform: translateX(0px);
  }
  100% {
    opacity: 0;
    transform: translateX(-2000px);
  }
}
.fadeOutLeftBig {
  animation-name: fadeOutLeftBig;
}
@keyframes fadeOutRight {
  0% {
    opacity: 1;
    transform: translateX(0px);
  }
  100% {
    opacity: 0;
    transform: translateX(20px);
  }
}
.fadeOutRight {
  animation-name: fadeOutRight;
}
@keyframes fadeOutRightBig {
  0% {
    opacity: 1;
    transform: translateX(0px);
  }
  100% {
    opacity: 0;
    transform: translateX(2000px);
  }
}
.fadeOutRightBig {
  animation-name: fadeOutRightBig;
}
@keyframes fadeOutUp {
  0% {
    opacity: 1;
    transform: translateY(0px);
  }
  100% {
    opacity: 0;
    transform: translateY(-20px);
  }
}
.fadeOutUp {
  animation-name: fadeOutUp;
}
@keyframes fadeOutUpBig {
  0% {
    opacity: 1;
    transform: translateY(0px);
  }
  100% {
    opacity: 0;
    transform: translateY(-2000px);
  }
}
.fadeOutUpBig {
  animation-name: fadeOutUpBig;
}
@keyframes flip {
  0% {
    animation-timing-function: ease-out;
    transform: perspective(400px) translateZ(0px) rotateY(0deg) scale(1);
  }
  40% {
    animation-timing-function: ease-out;
    transform: perspective(400px) translateZ(150px) rotateY(170deg) scale(1);
  }
  50% {
    animation-timing-function: ease-in;
    transform: perspective(400px) translateZ(150px) rotateY(190deg) scale(1);
  }
  80% {
    animation-timing-function: ease-in;
    transform: perspective(400px) translateZ(0px) rotateY(360deg) scale(0.95);
  }
  100% {
    animation-timing-function: ease-in;
    transform: perspective(400px) translateZ(0px) rotateY(360deg) scale(1);
  }
}
.animated.flip {
  animation-name: flip;
  backface-visibility: visible;
}
@keyframes flipInX {
  0% {
    opacity: 0;
    transform: perspective(400px) rotateX(90deg);
  }
  40% {
    transform: perspective(400px) rotateX(-10deg);
  }
  70% {
    transform: perspective(400px) rotateX(10deg);
  }
  100% {
    opacity: 1;
    transform: perspective(400px) rotateX(0deg);
  }
}
.flipInX {
  animation-name: flipInX;
  backface-visibility: visible !important;
}
@keyframes flipInY {
  0% {
    opacity: 0;
    transform: perspective(400px) rotateY(90deg);
  }
  40% {
    transform: perspective(400px) rotateY(-10deg);
  }
  70% {
    transform: perspective(400px) rotateY(10deg);
  }
  100% {
    opacity: 1;
    transform: perspective(400px) rotateY(0deg);
  }
}
.flipInY {
  animation-name: flipInY;
  backface-visibility: visible !important;
}
@keyframes flipOutX {
  0% {
    opacity: 1;
    transform: perspective(400px) rotateX(0deg);
  }
  100% {
    opacity: 0;
    transform: perspective(400px) rotateX(90deg);
  }
}
.flipOutX {
  animation-name: flipOutX;
  backface-visibility: visible !important;
}
@keyframes flipOutY {
  0% {
    opacity: 1;
    transform: perspective(400px) rotateY(0deg);
  }
  100% {
    opacity: 0;
    transform: perspective(400px) rotateY(90deg);
  }
}
.flipOutY {
  animation-name: flipOutY;
  backface-visibility: visible !important;
}
@keyframes lightSpeedIn {
  0% {
    opacity: 0;
    transform: translateX(100%) skewX(-30deg);
  }
  60% {
    opacity: 1;
    transform: translateX(-20%) skewX(30deg);
  }
  80% {
    opacity: 1;
    transform: translateX(0%) skewX(-15deg);
  }
  100% {
    opacity: 1;
    transform: translateX(0%) skewX(0deg);
  }
}
.lightSpeedIn {
  animation-name: lightSpeedIn;
  animation-timing-function: ease-out;
}
@keyframes lightSpeedOut {
  0% {
    opacity: 1;
    transform: translateX(0%) skewX(0deg);
  }
  100% {
    opacity: 0;
    transform: translateX(100%) skewX(-30deg);
  }
}
.lightSpeedOut {
  animation-name: lightSpeedOut;
  animation-timing-function: ease-in;
}
@keyframes rotateIn {
  0% {
    opacity: 0;
    transform: rotate(-200deg);
    transform-origin: center center 0;
  }
  100% {
    opacity: 1;
    transform: rotate(0deg);
    transform-origin: center center 0;
  }
}
.rotateIn {
  animation-name: rotateIn;
}
@keyframes rotateInDownLeft {
  0% {
    opacity: 0;
    transform: rotate(-90deg);
    transform-origin: left bottom 0;
  }
  100% {
    opacity: 1;
    transform: rotate(0deg);
    transform-origin: left bottom 0;
  }
}
.rotateInDownLeft {
  animation-name: rotateInDownLeft;
}
@keyframes rotateInDownRight {
  0% {
    opacity: 0;
    transform: rotate(90deg);
    transform-origin: right bottom 0;
  }
  100% {
    opacity: 1;
    transform: rotate(0deg);
    transform-origin: right bottom 0;
  }
}
.rotateInDownRight {
  animation-name: rotateInDownRight;
}
@keyframes rotateInUpLeft {
  0% {
    opacity: 0;
    transform: rotate(90deg);
    transform-origin: left bottom 0;
  }
  100% {
    opacity: 1;
    transform: rotate(0deg);
    transform-origin: left bottom 0;
  }
}
.rotateInUpLeft {
  animation-name: rotateInUpLeft;
}
@keyframes rotateInUpRight {
  0% {
    opacity: 0;
    transform: rotate(-90deg);
    transform-origin: right bottom 0;
  }
  100% {
    opacity: 1;
    transform: rotate(0deg);
    transform-origin: right bottom 0;
  }
}
.rotateInUpRight {
  animation-name: rotateInUpRight;
}
@keyframes rotateOut {
  0% {
    opacity: 1;
    transform: rotate(0deg);
    transform-origin: center center 0;
  }
  100% {
    opacity: 0;
    transform: rotate(200deg);
    transform-origin: center center 0;
  }
}
.rotateOut {
  animation-name: rotateOut;
}
@keyframes rotateOutDownLeft {
  0% {
    opacity: 1;
    transform: rotate(0deg);
    transform-origin: left bottom 0;
  }
  100% {
    opacity: 0;
    transform: rotate(90deg);
    transform-origin: left bottom 0;
  }
}
.rotateOutDownLeft {
  animation-name: rotateOutDownLeft;
}
@keyframes rotateOutDownRight {
  0% {
    opacity: 1;
    transform: rotate(0deg);
    transform-origin: right bottom 0;
  }
  100% {
    opacity: 0;
    transform: rotate(-90deg);
    transform-origin: right bottom 0;
  }
}
.rotateOutDownRight {
  animation-name: rotateOutDownRight;
}
@keyframes rotateOutUpLeft {
  0% {
    opacity: 1;
    transform: rotate(0deg);
    transform-origin: left bottom 0;
  }
  100% {
    opacity: 0;
    transform: rotate(-90deg);
    transform-origin: left bottom 0;
  }
}
.rotateOutUpLeft {
  animation-name: rotateOutUpLeft;
}
@keyframes rotateOutUpRight {
  0% {
    opacity: 1;
    transform: rotate(0deg);
    transform-origin: right bottom 0;
  }
  100% {
    opacity: 0;
    transform: rotate(90deg);
    transform-origin: right bottom 0;
  }
}
.rotateOutUpRight {
  animation-name: rotateOutUpRight;
}
@keyframes slideInDown {
  0% {
    opacity: 0;
    transform: translateY(-2000px);
  }
  100% {
    transform: translateY(0px);
  }
}
.slideInDown {
  animation-name: slideInDown;
}
@keyframes slideInLeft {
  0% {
    opacity: 0;
    transform: translateX(-2000px);
  }
  100% {
    transform: translateX(0px);
  }
}
.slideInLeft {
  animation-name: slideInLeft;
}
@keyframes slideInRight {
  0% {
    opacity: 0;
    transform: translateX(2000px);
  }
  100% {
    transform: translateX(0px);
  }
}
.slideInRight {
  animation-name: slideInRight;
}
@keyframes slideOutLeft {
  0% {
    transform: translateX(0px);
  }
  100% {
    opacity: 0;
    transform: translateX(-2000px);
  }
}
.slideOutLeft {
  animation-name: slideOutLeft;
}
@keyframes slideOutRight {
  0% {
    transform: translateX(0px);
  }
  100% {
    opacity: 0;
    transform: translateX(2000px);
  }
}
.slideOutRight {
  animation-name: slideOutRight;
}
@keyframes slideOutUp {
  0% {
    transform: translateY(0px);
  }
  100% {
    opacity: 0;
    transform: translateY(-2000px);
  }
}
.slideOutUp {
  animation-name: slideOutUp;
}
@keyframes hinge {
  0% {
    animation-timing-function: ease-in-out;
    transform: rotate(0deg);
    transform-origin: left top 0;
  }
  20%,
  60% {
    animation-timing-function: ease-in-out;
    transform: rotate(80deg);
    transform-origin: left top 0;
  }
  40% {
    animation-timing-function: ease-in-out;
    transform: rotate(60deg);
    transform-origin: left top 0;
  }
  80% {
    animation-timing-function: ease-in-out;
    opacity: 1;
    transform: rotate(60deg) translateY(0px);
    transform-origin: left top 0;
  }
  100% {
    opacity: 0;
    transform: translateY(700px);
  }
}
.hinge {
  animation-name: hinge;
}
@keyframes rollIn {
  0% {
    opacity: 0;
    transform: translateX(-100%) rotate(-120deg);
  }
  100% {
    opacity: 1;
    transform: translateX(0px) rotate(0deg);
  }
}
.rollIn {
  animation-name: rollIn;
}
@keyframes rollOut {
  0% {
    opacity: 1;
    transform: translateX(0px) rotate(0deg);
  }
  100% {
    opacity: 0;
    transform: translateX(100%) rotate(120deg);
  }
}
.rollOut {
  animation-name: rollOut;
}
