/*
	Supersized - Fullscreen Slideshow jQuery Plugin
	Version 3.1.4
	www.buildinternet.com/project/supersized
	
	By Sam Dunn / One Mighty Roar (www.onemightyroar.com)
	Released under MIT License / GPL License
*/

body { background:#000000 url(/_media/images/bg/bg.gif) no-repeat right bottom; }

img{ border:none; }
	
#supersized-loader { 
    
    z-index:10; 
    float: left;
    width:77px; 
    height:10px;
    margin-top: 3px;
    margin-left: 41px;
    background: transparent url(/_media/images/supersized-nav/progress2.gif) no-repeat; 


}
	
#supersized { 
    
    position:fixed; 
    left:0; 
    top:0; 
    overflow:hidden; 
    z-index:-999; 
    height:100%; 
    width:100%; 

}

#supersized img { 

    width:auto; 
    height:auto; 
    position:relative; 
    display:none; 
    outline:none; 
    border:none; 

}

#supersized.speed img { 

    -ms-interpolation-mode:nearest-neighbor; 
    image-rendering: -moz-crisp-edges; 

}    /*Speed*/
			
#supersized.quality img { 
    
    -ms-interpolation-mode:bicubic; 
    image-rendering: optimizeQuality; 

}    /*Quality*/
		
#supersized a { 

    z-index:-30; 
    position:absolute; 
    overflow:hidden; 
    top:0; 
    left:0; 
    width:100%; 
    height:100%; 
    background:#111;

}

#supersized a.prevslide { z-index:-20; }
#supersized a.activeslide { z-index:-10; }
#supersized a.image-loading { background:#111 url(/img/progress.gif) no-repeat center center; }
#supersized a.prevslide img, #supersized a.activeslide img{ display:inline; }
	
/*Controls Section*/
			
#controls-wrapper { height: auto; z-index:4; }
#controls { height: auto; z-index:5; /* Increase padding to give thumbnails room */ }
			
#navigation { float:right; margin:0px; }
#play-button { float:left; background:url('/img/bg-hover.png') repeat-x 0 44px; }
#play-button:hover { background-position:0 1px; cursor:pointer; }
				
ul#slide-list { }

ul#slide-list li { 

    list-style:none;
    width:10px; 
    height:10px; 
    float:left; 
    margin:0 5px 0 0; 

}

ul#slide-list li.current-slide a, ul#slide-list li.current-slide a:hover { background-position:0 0px; }

ul#slide-list li a { 
    
    display:block; 
    width:10px; 
    height:10px; 
    background:url('/img/nav-dot.png') no-repeat 0 -20px;

}

ul#slide-list li a:hover { background-position:0 -10px; cursor:pointer; }
						
#progress-back { 
    
    z-index:100; 
    position:absolute; 
    bottom:0px; 
    height:8px; 
    width:100%; 
    background:url('/img/progress-back.png') repeat-x; 

}

#progress-bar { 

    display:none; 
    position:relative; 
    height:8px; 
    -moz-opacity:0.5; 
    -webkit-opacity:0.5; 
    -o-opacity:0.5; 
    opacity:0.5; 
    background:url('/img/progress-bar.png') repeat-x; 

}