/*--------------------------- Creat by Anurag Tiwari(frontend UI Developer) ----------------------------
[Table of contents]

1. Header
	+ logo
	+ top navigation
	+ search

2. Content
	+ feature sections
	+ page title
	+ parallax backgrounds
	+ video backgrounds

3. Sidebar
	+ site search
	+ tabs
	+ portfolio widgets
	+ advertisements

3. Typography
	+ lists
	+ buttons
	+ styled boxes
	+ dropcaps
	+ highlight colors
	+ tables
	+ pricing tables
	+ framed boxes
	+ pagination

4. Footer
	+ copyrights
	+ google map


/*----------------------------------------------------
	SITE MAIN STRUCTURE
------------------------------------------------------*/



/*----------------------------------------------------
   SHORTCODE ELEMENTS
------------------------------------------------------*/
@black: #1c1d1d;
@brown: #a06f5f;
@greenlight: #6ec2a8;
@yellow: #efd48d;
@white: #fff;

@border01: 1px solid @black;
@border02: 2px solid @black;
@borderBr01: 1px solid @brown;
@borderBr02: 2px solid @brown;
@borderGr01: 1px solid @greenlight;
@borderGr02: 2px solid @greenlight;
@borderYw01: 1px solid @yellow;
@borderYw02: 2px solid @yellow;

@font: josefin-sans,sans-serif;

.duble{font-weight: 400;}
.dubleX{font-weight: 600;}
.dubleXX{font-weight: 700;}
.yellow h4 {
    color: @yellow;
    font-family: @font;
//    font-size: 18px;
//    font-weight: 400;
    letter-spacing: 1.2px;
}
.yellow h5 {
    color: @yellow;
    font-family: @font;
//    font-size: 18px;
//    font-weight: 400;
    letter-spacing: 1.2px;
}
.line_br {
    border-right: 1px dashed @white;
}
.line_bb {
    border-bottom: 1px dashed @white;
}

/*-------------------*/
/*     columns    */
/*-------------------*/



/*-----------------------------------
  MAIN STYLE CSS
-----------------------------------*/
#top-bar {
  background: #fff none repeat scroll 0 0;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.07);
  min-height: 80px;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 2000;
}

.sec1{
  background-image: url("../images/banner-back.jpg");
}
.sec2 .text4, .sec3 .text4, .sec4 .text4, .sec5 .text4{
  width: 100%;
  display: inline-block;
  text-align: center;
  font-size: 45px;
  margin: 30px 0 0;
}
.main{
  border-bottom:@borderBr01;
  background-color: transparent;
}
.navigation{text-align: center;}
.top-menu {
  background-color: transparent;
  color: @brown;
  display: inline-block;
  margin: 0;
  min-height: 45px;
  padding: 0;
  text-align: center;
  width: 754px;
}
.top-menu > li {
  display: inline-block;
  list-style: outside none none;
}
.top-menu > li > a {
  //background-color: @greenlight;
  border-radius: 20px;
  color: #a06f5f;
  display: inline-block;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0.05em;
  line-height: 38px;
  margin: 12px 0;
  padding: 0 20px;
}
.top-menu > li > a:hover {
  background-color: @greenlight;
  color: @white;
  text-decoration: none;
}
.top-menu > li > a:focus {
  text-decoration: none;
}
.top-menu li.selected a {
  background: @greenlight;
  color: @white;
}
.slider-img{
  width: 100%;
  height: 559px;
  margin-top: 35px;
  display: inline-block;
  overflow: hidden;
      .img001{
        overflow: hidden;
        display: inline-block;
      }
}
.slider-quote{
  margin-top: 30%;
  position: relative;
  text-align: center;
  width: 100%;
      .quote{
        display: inline-block;
          .text1{
            display:inline-block;
            width: 100%;
            color: @white;
            font-size: 35px;
            text-align: center;
            .text1-bg{
              background: transparent url("../images/bubble.png") no-repeat top left;
              display: inline-block;
              height: 80px;
              line-height: 56px;
              text-align: center;
              width: 238px;
            }

          }
          .text2{
            display: inline-block;
            font-size: 65px;
            color: @black;
            width: 100%;

          }
          .text3{
            display: inline-block;
            font-size: 35px;
            color: @black;
            width: 100%;
          }
      }
}
/*-- section 2 css --*/
.sec2{
  background: @brown;
  color: @white;
  font-size: 20px;
  padding: 20px 0 30px;

  .text4{
    width: 100%;
    display: inline-block;
    text-align: center;
    font-size: 45px;
    margin: 30px 0 0;

    .img002{
      display: inline-block;
      margin: 20px 0 10px;
    }
  }

  .text5{
    color: @white;
    text-align: center;
    width: 100%;
    margin: 30px auto;
    font-size: 21px;
  }

  .social-icon{
    width: 100%;
    display: inline-block;
    text-align: center;
    margin: 50px 0 20px;
  }
  .wrap-icon{
    float: none;
    display: inline-block;
  }
  .icon001{
    display: inline-block;
    width: 46px;
    height: 46px;
    border: @borderYw02;
    border-radius: 50%;
    text-align: center;
    font-size: 20px;
    color: @yellow;

    .fa-facebook, .fa-linkedin, .fa-skype, .fa-twitter{
      font-size: 20px;
      line-height: 43px;
    }
  }
  .icon001:hover{
    background: @greenlight;
    color: @white;
    border: @borderGr02;
    -webkit-transition: all 0.33s ease 0s ;
    -moz-transition: all 0.33s ease 0s ;
    -ms-transition: all 0.33s ease 0s ;
    -o-transition: all 0.33s ease 0s ;
    transition: all 0.33s ease 0s;
  }
}

.about_profile {
  background-color: #865749;
  text-align: center;
}
.about_profile h3 {
  color: @white;
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 5px;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.4);
}
.about_profile img {
  width: 100%;
}
.about_profile .about_profile_info {
  border-top: 1px solid #202020;
  padding: 5px 10px 20px;
}
.about_profile .about_profile_info span {
  color: #101010;
  font-size: 14px;
  font-weight: 300;
}
.about_profile .about_profile_info .line_white {
  border-bottom: 1px solid @white;
  margin: 10px auto 0;
  width: 67px;
}
/*-- sec3 --*/
.sec3{
  background: @yellow;
  color: @black;
  font-size: 20px;
  padding: 90px 0 80px;

  .text5{
    font-size: 35px;
    margin-bottom: 45px;
    color: @black;
    display: inline-block;
    width: 100%;
    text-align: center;
  }

  .sec3-left{
    display: inline-block;
    width: 100%;

    .icon-block{
      display: inline-block;
      width: 100%;

      .img002{
        width: auto;
        float: left;
      }
    }



    .sec3-li{
      margin: 0 0 40px;
      padding: 0;
      list-style: none;
      font-size: 21px;

      h3 , p{
        font-size: 20px;
      }

    }
  }
  .icon-block i {
    color: @brown;
    display: inline-block;
    font-size: 45px;
    height: 50px;
  }
  .skill {
    overflow: hidden;
    padding-top: 60px;
  }
  .progress {
    background-color: #f5f5f5;
    border-radius: 4px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1) inset;
    height: 20px;
    margin-bottom: 20px;
    overflow: hidden;
  }
  .lead {
    font-size: 16px;
    font-weight: 300;
    line-height: 1.4;
    margin-bottom: 20px;
  }
  .skill-area {
    position: relative;
  }
  .skill-area::after {
    background: #fafafa none repeat scroll 0 0;
    content: "";
    height: calc(100% - 80px);
    position: absolute;
    right: -118px;
    top: 40px;
    width: 1px;
  }
  .service-text {
    margin-top: 30px;
  }
  .skill .progress .lead {
    color: @black;
    font-family: @font;
    font-size: 22px;
    font-weight: 400;
    left: 0;
    position: absolute;
    top: -40px;
    z-index: 99;
  }
  .skill .progress {
    background-color: @greenlight;
    border: medium none;
    border-radius: 0;
    box-shadow: none;
    height: 7px;
    margin-bottom: 51px;
    overflow: visible;
    position: relative;
  }
  .skill .progress-bar span {
    background: @greenlight;
    float: right;
    font-family: @font;
    font-size: 17px;
    font-weight: 300;
    margin-right: 0px;
    margin-top: -34px;
    padding: 3px 5px;
    position: relative;
  }
  .skill .progress-bar > span::before, .skill .progress-bar > span::after {
    border: medium solid transparent;
    content: " ";
    height: 0;
    pointer-events: none;
    position: absolute;
    top: 100%;
    width: 0;
  }
  .skill .progress-bar > span::before {
    border-top-color: @greenlight;
    border-width: 5px;
    left: 50%;
    margin-left: -5px;
  }
  .skill .progress:nth-child(1) .progress-bar {
    background: @brown;
  }
  .skill .progress:nth-child(2) .progress-bar {
    background: @brown;
  }
  .skill .progress:nth-child(3) .progress-bar {
    background: @brown;
  }
  .skill .progress:nth-child(4) .progress-bar {
    background: @brown;
  }
/*-- sec4 css --*/
.timeline-container {
}
.timeline {
    box-sizing: border-box;
    display: table;
    height: 100%;
    margin-bottom: 0;
    padding-bottom: 0;
    padding-left: 0;
    position: relative;
    width: 100%;
}
.timeline:before {
    background: none repeat scroll 0 0 #333;
    content: "";
    height: 100%;
    left: 33%;
    position: absolute;
    width: 1px;
}
.timeline li {
    float: right;
    margin-bottom: 86px;
    width: 60%;
}
.timeline li:last-child {
    margin-bottom: 0;
}
.timeline-time-container {
    left: 16%;
    position: absolute;
    text-align: right;
}
.timeline-time-container h6 {
    color: #333;
    font-family: 'Roboto',sans-serif;
    font-weight: 500;
    letter-spacing: 2px;
    text-transform: uppercase;
}
.timeline-time-container p {
    color: #aaa;
    font-family: "Open Sans",sans-serif;
    font-weight: 400;
    letter-spacing: 2px;
    line-height: 26px;
    text-transform: uppercase;
}
.timeline-dot {
    position: relative;
}
.timeline-dot:before {
    background: none repeat scroll 0 0 #333;
    border-radius: 50%;
    content: "";
    height: 12px;
    left: -64px;
    position: absolute;
    width: 12px;
}
.timeline li:hover .timeline-dot:after {
    background: none repeat scroll 0 0 #333;
}
.timeline-dot:after {
    background: none repeat scroll 0 0 #fff;
    border-radius: 50%;
    content: "";
    height: 8px;
    left: -62px;
    position: absolute;
    top: 1.7px;
    transition: all 0.3s linear 0s;
    width: 8px;
}
.timeline-title {
}
.timeline-title h5 {
    color: #333;
    font-family: 'Roboto',sans-serif;
    font-size: 18px;
    font-weight: 400;
    letter-spacing: 1.2px;
}
.timeline-details {
    padding-top: 18px;
}
.timeline-details p {
    color: #999;
    font-family: "Open Sans",sans-serif;
    font-size: 14px;
    line-height: 24px;
}    

}

/*---- video background section ---*/
.top_box{position:relative;width:100%;height:100%;overflow:hidden}
.top_box .bgiframe {position:absolute;width:400%;height:200%;margin-left:-150%;margin-top:-20%;z-index:-99}
.top_box .title{position:absolute;left:50%;top:50%;width:500px;height:240px;margin-left:-250px;margin-top:-260px;text-indent:-9999px;
 /* background:url("../images/logo.png") no-repeat 0 0*/}
.top_box .btn_pop{position:absolute;left:50%;top:50%;width:128px;height:128px;margin-left:-64px;margin-top:-24px;background:url("../images/btn_pop.png") no-repeat 0 0;cursor:pointer}
.top_box .btn_vol{position:absolute;right:20px;top:20px;width:32px;height:32px;background:url("../images/volume.png") no-repeat;cursor:pointer}
.top_box .btn_vol.on{background-position:0 0}
.top_box .btn_vol.off{background-position:0 -32px}
.top_box .bg_dot{position:absolute;width:100%;height:100%;left:0;top:0;background:url("../images/bg.png");z-index:-9}
/* navigation */
.top_box .control{position:absolute;left:0;top:50%;margin-top:140px;width:100%;text-align:center}
.top_box .control li{display:inline-block;list-style:none;padding:10px 14px;margin:0 0 4px 0;border:1px solid #FFFFFF;border-radius:8px;width:100px;height:40px;line-height:22px;font-size:14px;color:#FFFFFF;background-color:rgba(255,255,255,.4);cursor:pointer}
.top_box .control li.on,
.top_box .control li:hover{background-color:#FFFFFF;color:#000000}
/* popup */
.pop_yt{position:absolute;left:50%;top:50%;width:960px;height:540px;margin-left:-480px;margin-top:-270px;z-index:99;box-shadow:0 0 20px rgba(0,0,0,.2)}
.pop_yt .close{position:absolute;right:-40px;top:0;width:40px;height:40px;background:url("../images/close.png") no-repeat 0 0;cursor:pointer}
.pop_overlay{display:none;position:absolute;width:100%;height:100%;left:0;top:0;background:url("../images/bg_pop.png");z-index:9}

//.footer{position:absolute;left:0;bottom:10px;width:100%;font-size:11px;text-align:center;color:#525252}
//.footer a{color:#525252}

/*-----------------------------------
   BOOSTRAP-RESET CSS
-----------------------------------*/
body {
  color: @black;
  font-family: @font;
  font-size: 14px;
  line-height: 1.42857;
}
.responsive-toggle {
  border: 1px solid #eee;
  margin-top: 30px;
}
ul{
  margin: 0;
  padding:0;
  list-style: none;
}
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,
code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,
form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,
footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;vertical-
align:baseline}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}body{line-height:1}
ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:before,blockquote:after,q:before,q:after{content:'';content:none}
table{border-collapse:collapse;border-spacing:0}

/*-----------------------------------
   ANIMATION CSS
-----------------------------------*/

.animated {
  animation-duration: 1s;
  animation-fill-mode: both;
}
.animated.hinge {
  animation-duration: 2s;
}
@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    transform: translateY(0px);
  }
  40% {
    transform: translateY(-30px);
  }
  60% {
    transform: translateY(-15px);
  }
}
.bounce {
  animation-name: bounce;
}
@keyframes flash {
  0%, 50%, 100% {
    opacity: 1;
  }
  25%, 75% {
    opacity: 0;
  }
}
.flash {
  animation-name: flash;
}
@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}
.pulse {
  animation-name: pulse;
}
@keyframes shake {
  0%, 100% {
    transform: translateX(0px);
  }
  10%, 30%, 50%, 70%, 90% {
    transform: translateX(-10px);
  }
  20%, 40%, 60%, 80% {
    transform: translateX(10px);
  }
}
.shake {
  animation-name: shake;
}
@keyframes swing {
  20% {
    transform: rotate(15deg);
  }
  40% {
    transform: rotate(-10deg);
  }
  60% {
    transform: rotate(5deg);
  }
  80% {
    transform: rotate(-5deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
.swing {
  animation-name: swing;
  transform-origin: center top 0;
}
@keyframes tada {
  0% {
    transform: scale(1);
  }
  10%, 20% {
    transform: scale(0.9) rotate(-3deg);
  }
  30%, 50%, 70%, 90% {
    transform: scale(1.1) rotate(3deg);
  }
  40%, 60%, 80% {
    transform: scale(1.1) rotate(-3deg);
  }
  100% {
    transform: scale(1) rotate(0deg);
  }
}
.tada {
  animation-name: tada;
}
@keyframes wobble {
  0% {
    transform: translateX(0%);
  }
  15% {
    transform: translateX(-25%) rotate(-5deg);
  }
  30% {
    transform: translateX(20%) rotate(3deg);
  }
  45% {
    transform: translateX(-15%) rotate(-3deg);
  }
  60% {
    transform: translateX(10%) rotate(2deg);
  }
  75% {
    transform: translateX(-5%) rotate(-1deg);
  }
  100% {
    transform: translateX(0%);
  }
}
.wobble {
  animation-name: wobble;
}
@keyframes bounceIn {
  0% {
    opacity: 0;
    transform: scale(0.3);
  }
  50% {
    opacity: 1;
    transform: scale(1.05);
  }
  70% {
    transform: scale(0.9);
  }
  100% {
    transform: scale(1);
  }
}
.bounceIn {
  animation-name: bounceIn;
}
@keyframes bounceInDown {
  0% {
    opacity: 0;
    transform: translateY(-2000px);
  }
  60% {
    opacity: 1;
    transform: translateY(30px);
  }
  80% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(0px);
  }
}
.bounceInDown {
  animation-name: bounceInDown;
}
@keyframes bounceInLeft {
  0% {
    opacity: 0;
    transform: translateX(-2000px);
  }
  60% {
    opacity: 1;
    transform: translateX(30px);
  }
  80% {
    transform: translateX(-10px);
  }
  100% {
    transform: translateX(0px);
  }
}
.bounceInLeft {
  animation-name: bounceInLeft;
}
@keyframes bounceInRight {
  0% {
    opacity: 0;
    transform: translateX(2000px);
  }
  60% {
    opacity: 1;
    transform: translateX(-30px);
  }
  80% {
    transform: translateX(10px);
  }
  100% {
    transform: translateX(0px);
  }
}
.bounceInRight {
  animation-name: bounceInRight;
}
@keyframes bounceInUp {
  0% {
    opacity: 0;
    transform: translateY(2000px);
  }
  60% {
    opacity: 1;
    transform: translateY(-30px);
  }
  80% {
    transform: translateY(10px);
  }
  100% {
    transform: translateY(0px);
  }
}
.bounceInUp {
  animation-name: bounceInUp;
}
@keyframes bounceOut {
  0% {
    transform: scale(1);
  }
  25% {
    transform: scale(0.95);
  }
  50% {
    opacity: 1;
    transform: scale(1.1);
  }
  100% {
    opacity: 0;
    transform: scale(0.3);
  }
}
.bounceOut {
  animation-name: bounceOut;
}
@keyframes bounceOutDown {
  0% {
    transform: translateY(0px);
  }
  20% {
    opacity: 1;
    transform: translateY(-20px);
  }
  100% {
    opacity: 0;
    transform: translateY(2000px);
  }
}
.bounceOutDown {
  animation-name: bounceOutDown;
}
@keyframes bounceOutLeft {
  0% {
    transform: translateX(0px);
  }
  20% {
    opacity: 1;
    transform: translateX(20px);
  }
  100% {
    opacity: 0;
    transform: translateX(-2000px);
  }
}
.bounceOutLeft {
  animation-name: bounceOutLeft;
}
@keyframes bounceOutRight {
  0% {
    transform: translateX(0px);
  }
  20% {
    opacity: 1;
    transform: translateX(-20px);
  }
  100% {
    opacity: 0;
    transform: translateX(2000px);
  }
}
.bounceOutRight {
  animation-name: bounceOutRight;
}
@keyframes bounceOutUp {
  0% {
    transform: translateY(0px);
  }
  20% {
    opacity: 1;
    transform: translateY(20px);
  }
  100% {
    opacity: 0;
    transform: translateY(-2000px);
  }
}
.bounceOutUp {
  animation-name: bounceOutUp;
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.fadeIn {
  animation-name: fadeIn;
}
@keyframes fadeInDown {
  0% {
    opacity: 0;
    transform: translateY(-20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}
.fadeInDown {
  animation-name: fadeInDown;
}
@keyframes fadeInDownBig {
  0% {
    opacity: 0;
    transform: translateY(-2000px);
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}
.fadeInDownBig {
  animation-name: fadeInDownBig;
}
@keyframes fadeInLeft {
  0% {
    opacity: 0;
    transform: translateX(-20px);
  }
  100% {
    opacity: 1;
    transform: translateX(0px);
  }
}
.fadeInLeft {
  animation-name: fadeInLeft;
}
@keyframes fadeInLeftBig {
  0% {
    opacity: 0;
    transform: translateX(-2000px);
  }
  100% {
    opacity: 1;
    transform: translateX(0px);
  }
}
.fadeInLeftBig {
  animation-name: fadeInLeftBig;
}
@keyframes fadeInRight {
  0% {
    opacity: 0;
    transform: translateX(20px);
  }
  100% {
    opacity: 1;
    transform: translateX(0px);
  }
}
.fadeInRight {
  animation-name: fadeInRight;
}
@keyframes fadeInRightBig {
  0% {
    opacity: 0;
    transform: translateX(2000px);
  }
  100% {
    opacity: 1;
    transform: translateX(0px);
  }
}
.fadeInRightBig {
  animation-name: fadeInRightBig;
}
@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}
.fadeInUp {
  animation-name: fadeInUp;
}
@keyframes fadeInUpBig {
  0% {
    opacity: 0;
    transform: translateY(2000px);
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}
.fadeInUpBig {
  animation-name: fadeInUpBig;
}
@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
.fadeOut {
  animation-name: fadeOut;
}
@keyframes fadeOutDown {
  0% {
    opacity: 1;
    transform: translateY(0px);
  }
  100% {
    opacity: 0;
    transform: translateY(20px);
  }
}
.fadeOutDown {
  animation-name: fadeOutDown;
}
@keyframes fadeOutDownBig {
  0% {
    opacity: 1;
    transform: translateY(0px);
  }
  100% {
    opacity: 0;
    transform: translateY(2000px);
  }
}
.fadeOutDownBig {
  animation-name: fadeOutDownBig;
}
@keyframes fadeOutLeft {
  0% {
    opacity: 1;
    transform: translateX(0px);
  }
  100% {
    opacity: 0;
    transform: translateX(-20px);
  }
}
.fadeOutLeft {
  animation-name: fadeOutLeft;
}
@keyframes fadeOutLeftBig {
  0% {
    opacity: 1;
    transform: translateX(0px);
  }
  100% {
    opacity: 0;
    transform: translateX(-2000px);
  }
}
.fadeOutLeftBig {
  animation-name: fadeOutLeftBig;
}
@keyframes fadeOutRight {
  0% {
    opacity: 1;
    transform: translateX(0px);
  }
  100% {
    opacity: 0;
    transform: translateX(20px);
  }
}
.fadeOutRight {
  animation-name: fadeOutRight;
}
@keyframes fadeOutRightBig {
  0% {
    opacity: 1;
    transform: translateX(0px);
  }
  100% {
    opacity: 0;
    transform: translateX(2000px);
  }
}
.fadeOutRightBig {
  animation-name: fadeOutRightBig;
}
@keyframes fadeOutUp {
  0% {
    opacity: 1;
    transform: translateY(0px);
  }
  100% {
    opacity: 0;
    transform: translateY(-20px);
  }
}
.fadeOutUp {
  animation-name: fadeOutUp;
}
@keyframes fadeOutUpBig {
  0% {
    opacity: 1;
    transform: translateY(0px);
  }
  100% {
    opacity: 0;
    transform: translateY(-2000px);
  }
}
.fadeOutUpBig {
  animation-name: fadeOutUpBig;
}
@keyframes flip {
  0% {
    animation-timing-function: ease-out;
    transform: perspective(400px) translateZ(0px) rotateY(0deg) scale(1);
  }
  40% {
    animation-timing-function: ease-out;
    transform: perspective(400px) translateZ(150px) rotateY(170deg) scale(1);
  }
  50% {
    animation-timing-function: ease-in;
    transform: perspective(400px) translateZ(150px) rotateY(190deg) scale(1);
  }
  80% {
    animation-timing-function: ease-in;
    transform: perspective(400px) translateZ(0px) rotateY(360deg) scale(0.95);
  }
  100% {
    animation-timing-function: ease-in;
    transform: perspective(400px) translateZ(0px) rotateY(360deg) scale(1);
  }
}
.animated.flip {
  animation-name: flip;
  backface-visibility: visible;
}
@keyframes flipInX {
  0% {
    opacity: 0;
    transform: perspective(400px) rotateX(90deg);
  }
  40% {
    transform: perspective(400px) rotateX(-10deg);
  }
  70% {
    transform: perspective(400px) rotateX(10deg);
  }
  100% {
    opacity: 1;
    transform: perspective(400px) rotateX(0deg);
  }
}
.flipInX {
  animation-name: flipInX;
  backface-visibility: visible !important;
}
@keyframes flipInY {
  0% {
    opacity: 0;
    transform: perspective(400px) rotateY(90deg);
  }
  40% {
    transform: perspective(400px) rotateY(-10deg);
  }
  70% {
    transform: perspective(400px) rotateY(10deg);
  }
  100% {
    opacity: 1;
    transform: perspective(400px) rotateY(0deg);
  }
}
.flipInY {
  animation-name: flipInY;
  backface-visibility: visible !important;
}
@keyframes flipOutX {
  0% {
    opacity: 1;
    transform: perspective(400px) rotateX(0deg);
  }
  100% {
    opacity: 0;
    transform: perspective(400px) rotateX(90deg);
  }
}
.flipOutX {
  animation-name: flipOutX;
  backface-visibility: visible !important;
}
@keyframes flipOutY {
  0% {
    opacity: 1;
    transform: perspective(400px) rotateY(0deg);
  }
  100% {
    opacity: 0;
    transform: perspective(400px) rotateY(90deg);
  }
}
.flipOutY {
  animation-name: flipOutY;
  backface-visibility: visible !important;
}
@keyframes lightSpeedIn {
  0% {
    opacity: 0;
    transform: translateX(100%) skewX(-30deg);
  }
  60% {
    opacity: 1;
    transform: translateX(-20%) skewX(30deg);
  }
  80% {
    opacity: 1;
    transform: translateX(0%) skewX(-15deg);
  }
  100% {
    opacity: 1;
    transform: translateX(0%) skewX(0deg);
  }
}
.lightSpeedIn {
  animation-name: lightSpeedIn;
  animation-timing-function: ease-out;
}
@keyframes lightSpeedOut {
  0% {
    opacity: 1;
    transform: translateX(0%) skewX(0deg);
  }
  100% {
    opacity: 0;
    transform: translateX(100%) skewX(-30deg);
  }
}
.lightSpeedOut {
  animation-name: lightSpeedOut;
  animation-timing-function: ease-in;
}
@keyframes rotateIn {
  0% {
    opacity: 0;
    transform: rotate(-200deg);
    transform-origin: center center 0;
  }
  100% {
    opacity: 1;
    transform: rotate(0deg);
    transform-origin: center center 0;
  }
}
.rotateIn {
  animation-name: rotateIn;
}
@keyframes rotateInDownLeft {
  0% {
    opacity: 0;
    transform: rotate(-90deg);
    transform-origin: left bottom 0;
  }
  100% {
    opacity: 1;
    transform: rotate(0deg);
    transform-origin: left bottom 0;
  }
}
.rotateInDownLeft {
  animation-name: rotateInDownLeft;
}
@keyframes rotateInDownRight {
  0% {
    opacity: 0;
    transform: rotate(90deg);
    transform-origin: right bottom 0;
  }
  100% {
    opacity: 1;
    transform: rotate(0deg);
    transform-origin: right bottom 0;
  }
}
.rotateInDownRight {
  animation-name: rotateInDownRight;
}
@keyframes rotateInUpLeft {
  0% {
    opacity: 0;
    transform: rotate(90deg);
    transform-origin: left bottom 0;
  }
  100% {
    opacity: 1;
    transform: rotate(0deg);
    transform-origin: left bottom 0;
  }
}
.rotateInUpLeft {
  animation-name: rotateInUpLeft;
}
@keyframes rotateInUpRight {
  0% {
    opacity: 0;
    transform: rotate(-90deg);
    transform-origin: right bottom 0;
  }
  100% {
    opacity: 1;
    transform: rotate(0deg);
    transform-origin: right bottom 0;
  }
}
.rotateInUpRight {
  animation-name: rotateInUpRight;
}
@keyframes rotateOut {
  0% {
    opacity: 1;
    transform: rotate(0deg);
    transform-origin: center center 0;
  }
  100% {
    opacity: 0;
    transform: rotate(200deg);
    transform-origin: center center 0;
  }
}
.rotateOut {
  animation-name: rotateOut;
}
@keyframes rotateOutDownLeft {
  0% {
    opacity: 1;
    transform: rotate(0deg);
    transform-origin: left bottom 0;
  }
  100% {
    opacity: 0;
    transform: rotate(90deg);
    transform-origin: left bottom 0;
  }
}
.rotateOutDownLeft {
  animation-name: rotateOutDownLeft;
}
@keyframes rotateOutDownRight {
  0% {
    opacity: 1;
    transform: rotate(0deg);
    transform-origin: right bottom 0;
  }
  100% {
    opacity: 0;
    transform: rotate(-90deg);
    transform-origin: right bottom 0;
  }
}
.rotateOutDownRight {
  animation-name: rotateOutDownRight;
}
@keyframes rotateOutUpLeft {
  0% {
    opacity: 1;
    transform: rotate(0deg);
    transform-origin: left bottom 0;
  }
  100% {
    opacity: 0;
    transform: rotate(-90deg);
    transform-origin: left bottom 0;
  }
}
.rotateOutUpLeft {
  animation-name: rotateOutUpLeft;
}
@keyframes rotateOutUpRight {
  0% {
    opacity: 1;
    transform: rotate(0deg);
    transform-origin: right bottom 0;
  }
  100% {
    opacity: 0;
    transform: rotate(90deg);
    transform-origin: right bottom 0;
  }
}
.rotateOutUpRight {
  animation-name: rotateOutUpRight;
}
@keyframes slideInDown {
  0% {
    opacity: 0;
    transform: translateY(-2000px);
  }
  100% {
    transform: translateY(0px);
  }
}
.slideInDown {
  animation-name: slideInDown;
}
@keyframes slideInLeft {
  0% {
    opacity: 0;
    transform: translateX(-2000px);
  }
  100% {
    transform: translateX(0px);
  }
}
.slideInLeft {
  animation-name: slideInLeft;
}
@keyframes slideInRight {
  0% {
    opacity: 0;
    transform: translateX(2000px);
  }
  100% {
    transform: translateX(0px);
  }
}
.slideInRight {
  animation-name: slideInRight;
}
@keyframes slideOutLeft {
  0% {
    transform: translateX(0px);
  }
  100% {
    opacity: 0;
    transform: translateX(-2000px);
  }
}
.slideOutLeft {
  animation-name: slideOutLeft;
}
@keyframes slideOutRight {
  0% {
    transform: translateX(0px);
  }
  100% {
    opacity: 0;
    transform: translateX(2000px);
  }
}
.slideOutRight {
  animation-name: slideOutRight;
}
@keyframes slideOutUp {
  0% {
    transform: translateY(0px);
  }
  100% {
    opacity: 0;
    transform: translateY(-2000px);
  }
}
.slideOutUp {
  animation-name: slideOutUp;
}
@keyframes hinge {
  0% {
    animation-timing-function: ease-in-out;
    transform: rotate(0deg);
    transform-origin: left top 0;
  }
  20%, 60% {
    animation-timing-function: ease-in-out;
    transform: rotate(80deg);
    transform-origin: left top 0;
  }
  40% {
    animation-timing-function: ease-in-out;
    transform: rotate(60deg);
    transform-origin: left top 0;
  }
  80% {
    animation-timing-function: ease-in-out;
    opacity: 1;
    transform: rotate(60deg) translateY(0px);
    transform-origin: left top 0;
  }
  100% {
    opacity: 0;
    transform: translateY(700px);
  }
}
.hinge {
  animation-name: hinge;
}
@keyframes rollIn {
  0% {
    opacity: 0;
    transform: translateX(-100%) rotate(-120deg);
  }
  100% {
    opacity: 1;
    transform: translateX(0px) rotate(0deg);
  }
}
.rollIn {
  animation-name: rollIn;
}
@keyframes rollOut {
  0% {
    opacity: 1;
    transform: translateX(0px) rotate(0deg);
  }
  100% {
    opacity: 0;
    transform: translateX(100%) rotate(120deg);
  }
}
.rollOut {
  animation-name: rollOut;
}





