.mob_menu{display:none;}
.linebrk{display:block;clear:left;}
.responsive_popup{display:none;float:left;margin: 3% 0 0 25%;position:fixed;width:44%;z-index:1027;}
.responsive_1_new { position: absolute;}
@media (width:1920px){.box-1{height:253px;margin-left:10px;width:23%;}}
@media (width:1024px){.box-heading{font-size:18px;}0}
@media (max-width:1024px){.user-use{display:block;width:auto;margin:0px 5px 0px 0px;background:#00adbb;border:1px solid #0095a2;float:right;-webkit-border-radius:2px;-moz-border-radius:2px;border-radius:2px;}
.user-use a{float:left;background-color:#00adbb;color:#ffffff;font-family:'helvetica_neue_lt_std77BdCn';text-transform:uppercase;text-decoration:none;line-height:14px;text-shadow:1px 1px 0px #00909b;}
.user-use a.l-r-left{width:auto;background:url(../images/login.png) 8px 6px no-repeat;padding:11px 10px 11px 35px;}
.r-navigation{width:auto;color:#CCCCCC;font-size:15px;z-index:10;}
.r-navigation .r-navigation_button{width:38px;height:36px;background:url(../navigation/menu_button.png) no-repeat -17px -19px;cursor:pointer;float:right;border:1px solid #0095A2;}
.heading-height{margin-left:5%;}
footer{padding-bottom:55px;}
.onloadPopup{width:100%; margin:15% 0; text-align:center; position:absolute;}
.onloadPopup #imgholder a#onloadPopup-close{display:block; width:22px; height:22px; position:absolute; right:-5px; z-index:1124; margin:-14px 0px 0px 0px; background:url(../images/popclose.png) top left no-repeat;}
.onloadPopup #imgholder{width:75%; margin:0px auto; position:relative;}
.onloadPopup #imgholder .img-div1, .onloadPopup #imgholder .img-div2{float:left; position:relative; display:inline-block;}
.onloadPopup #imgholder .img-div1 img, .onloadPopup #imgholder .img-div2 img{width:100%;}
.onloadPopup #imgholder .img-div1{width:48%; border:0.4em solid #fff;}
.onloadPopup #imgholder .img-div2{width:49.1%; border-top:0.4em solid #fff; border-right:0.4em solid #fff; border-bottom:0.4em solid #fff;}
.onloadPopup #imgholder .img-div1 .blue-button, .onloadPopup #imgholder .img-div2 .orange-button{width:85%; position:absolute; bottom:8%; margin:0px 0px 0px 5%; z-index:1124; border-radius:5px; -moz-border-radius:5px; -webkit-border-radius:5px; box-shadow:0px 0px 1.5px 0px #8f8f8f; -moz-box-shadow:0px 0px 1.5px 0px #8f8f8f; -webkit-box-shadow:0px 0px 1.5px 0px #8f8f8f;}
.onloadPopup #imgholder .img-div1 .blue-button a, .onloadPopup #imgholder .img-div2 .orange-button a{padding:4% 5.5%; display:block; color:#fff; font-family:'helvetica_neue_lt_std77BdCn'; font-size:14px; text-align:left; text-transform:uppercase; background:url(../images/poparrow.png) 93% center no-repeat; background-size:15% auto}
.publication-box-new{width: 26%;}.publication-box-new.right{float: left;}.responsive_1{position: absolute;}
}
@media only screen and (min-width:640px) and (max-width:768px){.responc-social-icon{width:100%;float:left;}
.demo3-d ul li .responc-social-icon a{width:100%;height:48px;padding:0px !important;float:left;color:#bcbdbc !important;border-top:1px solid #4d4a49;font-size:16px !important;}
.responc-social-icon a:first-child{border-top:none;}
.responc-social-icon a:hover{color:#ffffff !important;}
.responc-l-facebook span{background:url(../images/responcive-social-icon.png) left 0px no-repeat !important;width:49px !important;height:48px !important;float:left !important;margin:0px !important;}
.responc-l-facebook:hover{background:#305891 !important;}
.responc-l-twitter{}
.responc-l-twitter span{background:url(../images/responcive-social-icon.png) left -48px no-repeat !important;width:49px !important;height:48px !important;float:left !important;margin:0px !important;}
.responc-l-twitter:hover{background:#2ca8d2 !important;padding:0% 0px 0% 0px;}
.responc-l-mail{}
.responc-l-mail span{background:url(../images/responcive-social-icon.png) left -96px no-repeat !important;width:49px !important;height:48px !important;float:left !important;margin:0px !important;}
.responc-l-mail:hover{background:#007bb6 !important;padding:0% 0px 0% 0px;}
.responc-l-print{}
.responc-l-print span{background:url(../images/responcive-social-icon.png) 0px -144px no-repeat !important;width:49px !important;height:48px !important;float:left !important;margin:0px !important;}
.responc-l-print:hover{background:#c44444 !important;padding:0% 0px 0% 0px;}
.responc-l-share{}
.responc-l-share span{background:url(../images/responcive-social-icon.png) 0px -192px no-repeat !important;width:49px !important;height:48px !important;float:left !important;margin:0px !important;}
.responc-l-share:hover{background:#f8694d !important;padding:0% 0px 0% 0px;}
.responciveslides{display:none;}
.state-location{padding:0px;}
.state-location ul li label{display:none;}
.state-location ul li{margin:0px 10px 0px 0px;}
.submit-center{margin:0px 0px 0px 2%;padding:5px 10% 3px 10%;}
.state-location ul li .input-l{width:120px;}
.achievment-left-links{padding-bottom:0px !important;}
.res-show{display:block;}
.res-show-mini{width:auto;float:left;position:relative;}
.t-right-side{width:auto;}
.right-top{padding:28px 0px 10px 0px;}
.top-header{display:none;}
.add-cart-section{height:36px;}
.login-registration, .some-numbers, .right-bottom, .inner-some-numbers{display:none;}
.banner-left-postion, .banner-left{padding:90px 0% 0% 0% !important;width:85% !important;}
.achievment-left-links ul{list-style:none;padding:0% 0% 0% 0%;float:left;width:100%;}
.inner-left-heading{width:100%;}
.full-space{width:100% !important;}
.banner-right{display:none;}
.banner-l-heading{padding:120px 0% 0% 0% !important;width:90% !important;}
.achievment-left-links ul li ol.achievment-inner{padding:0px 0px 10px 1% !important;width:99% !important;}
.achievment-left{width:99%;}
.respo-achievement{width:100% !important;padding:30px 0px 0px 0px !important;}
.respo-achievement .inner-left-heading{width:100% !important;}
#accor-wrapper{display:block;}
.enquiry-right-btn{display:none;}
.accordionButton{width:95.6%;}
.national-quiz-add{text-align:center;}
.gallery-left{width:100%;}
.gallery-right{width:100%;}
.social-icon{display:none;}
h1{margin-top:16px;}
.wrapper{width:96%;min-width:96%;max-width:96%;}
.r-screen-b{display:block;position:relative;top:28px;}
.banner-left{padding:16% 0% 0% 3%;width:50%;}
.box-1{width:97.2%;margin:0 auto 2% 0%;float:none;display:inline-table;height:150px;}
.box-heading{background:url(../images/box-line.png) left bottom repeat-x;}
.midle-boxes{margin-bottom:80px;}
.google-plus, .apple-store{float:none;margin:0px;}
.google-plus{margin-bottom:10px;}
.footer-left{width:70%;padding:20px 0px 0px 0px;}
.footer-right{padding:3px 0px 0px 0px;}
.content-right, .content-left{width:100%;}
.pg-medical-main{width:99.8%;display:none;}
.content-right{padding:25px 0px 0px 0px;}
.inner-midle-content{width:100%;float:none;margin:0px auto;}
.course-box{width:96%;float:left;padding:15px 2%;}
.pg-content-box{padding:2% 2% 2% 2%;width:95.8%;}
.n-videos, .n-heading{width:99%;padding:0px 0px 0px 1%;}
.content-left{margin:25px 0px 0px 0px;}
.videos-content-box{padding:14px 2%;width:95.88%;}
.videos-content-box img{width:100%;}
.news-content-box{padding:0px 0% 0px 0%;width:99.8%;}
.news-content-box ul li{padding:12px 16px 12px 10px;width:100%;}
.recent-pg-main{padding:2% 2% 2% 2%;width:96%}
.recent-pg-main ul{padding:8px 0px 0px 0px;height:170px !important;}
.recent-pg-main ul li{margin:0px 0px 0px 20px;}
#leftCartContainer{width:100%;float:left;}
.publication-box-new{width:43%;margin:0px 3% 3% 0px;padding:1.4%;text-align:center;}
.content-right-div{width:100%;}
}
@media only screen and (min-width:320px) and (max-width:585px){.video-box-1{width:94%;margin-bottom:15px;margin-left:0px;margin-right:0px;}
.achievment-videos-section ul li{padding-bottom:0px;}
#heading1{font-size:72px;font-family:'calibribold';line-height:74px;color:#181a18;}
#heading1 span{line-height:34px;font-family:'calibriregular';font-size:30px;}
#heading2{font-size:54px;font-family:'calibribold';line-height:56px;color:#171a17;margin:-30px 0px 4px 0px;}
#heading2 span{display:inline-block;font-size:30px;line-height:30px;font-family:'calibriregular';}
#heading3{font-size:32px;font-family:'calibribold';color:#ffffff;line-height:36px;margin:0px 0px 6px 0px;}
#heading3 span{font-size:32px;font-family:'calibriregular';color:#ffffff;font-weight:normal;margin:0px 0px 6px 0px;}
#heading3 .headinstrong{font-size:56px;line-height:58px;font-family:'calibribold';}
#heading4{line-height:68px;font-family:'calibribold';font-size:65px;color:#FFF;margin:0px 0px 6px 0px;}
#heading4 span{font-size:30px;line-height:34px;color:#FFF;font-family:'calibribold';}
#heading5{line-height:36px;font-family:'calibriregular';font-size:32px;color:#171a17;margin:-30px 0px 8px 0px;}
#heading5 span{font-size:54px;font-family:'calibribold';line-height:56px;display:inline-block;}
#heading6, #heading7{line-height:26px;font-family:'calibriregular';font-size:20px;color:#fff;margin:-60px 0px 8px 0px;}
#heading6 sup, #heading7 sup{font-size:14px;}
#heading6 span, #heading7 span{font-size:32px;font-family:'calibribold';line-height:36px;display:inline-block;color:#fff;}
#heading6 a, #heading7 a{display:block;font-family:'calibribold';font-size:28px;color:#fff;width:260px;padding:10px 12px 14px;margin-top:20px;background:url(../slider/images/aarow.png) 95% center no-repeat;border:1px solid #FFF;border-radius:5px;-moz-border-radius:5px;-webkit-border-radius:5px;line-height:30px;}
#heading6 a:hover, #heading7 a:hover{text-decoration:none;}
.alertbox.alertbox1 {
    height: 100px;
}
.alert-button{
     top: 16px;
}
}
@media only screen and (min-width:768px) and (max-width:980px){body{background:#6ABC73;background:-moz-linear-gradient(top, rgba(106,188,115,1) 50%, rgba(204,236,222,1) 100%);background:-webkit-gradient(linear, left top, left bottom, color-stop(50%,rgba(106,188,115,1)), color-stop(100%,rgba(204,236,222,1)));background:-webkit-linear-gradient(top, rgba(106,188,115,1) 50%,rgba(204,236,222,1) 100%);background:-o-linear-gradient(top, rgba(106,188,115,1) 50%,rgba(204,236,222,1) 100%);background:-ms-linear-gradient(top, rgba(106,188,115,1) 50%,rgba(204,236,222,1) 100%);background:linear-gradient(to bottom, rgba(106,188,115,1) 50%,rgba(204,236,222,1) 100%);filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#6abc73', endColorstr='#ccecde',GradientType=0);}
.responc-social-icon{width:100%;float:left;}
.demo3-d ul li .responc-social-icon a{width:100%;height:48px;padding:0px !important;float:left;color:#bcbdbc !important;border-top:1px solid #4d4a49;font-size:16px !important;}
.responc-social-icon a:first-child{border-top:none;}
.responc-social-icon a:hover{color:#ffffff !important;}
.responc-l-facebook span{background:url(../images/responcive-social-icon.png) left 0px no-repeat !important;width:49px !important;height:48px !important;float:left !important;margin:0px !important;}
.responc-l-facebook:hover{background:#305891 !important;}
.responc-l-twitter{}
.responc-l-twitter span{background:url(../images/responcive-social-icon.png) left -48px no-repeat !important;width:49px !important;height:48px !important;float:left !important;margin:0px !important;}
.responc-l-twitter:hover{background:#2ca8d2 !important;padding:0% 0px 0% 0px;}
.responc-l-mail{}
.responc-l-mail span{background:url(../images/responcive-social-icon.png) left -96px no-repeat !important;width:49px !important;height:48px !important;float:left !important;margin:0px !important;}
.responc-l-mail:hover{background:#007bb6 !important;padding:0% 0px 0% 0px;}
.responc-l-print{}
.responc-l-print span{background:url(../images/responcive-social-icon.png) 0px -144px no-repeat !important;width:49px !important;height:48px !important;float:left !important;margin:0px !important;}
.responc-l-print:hover{background:#c44444 !important;padding:0% 0px 0% 0px;}
.responc-l-share{}
.responc-l-share span{background:url(../images/responcive-social-icon.png) 0px -192px no-repeat !important;width:49px !important;height:48px !important;float:left !important;margin:0px !important;}
.responc-l-share:hover{background:#f8694d !important;padding:0% 0px 0% 0px;}
.responciveslides{display:none;}
.state-location{padding:0px;}
.full-space{width:100% !important;}
.res-show{display:block;}
.res-show-mini{width:auto;float:left;position:relative;}
.t-right-side{width:auto;}
.inner-right-top, .right-top{padding:28px 0px 10px 0px;}
.add-cart-section{height:36px;}
.inner-some-numbers, .login-registration, .some-numbers, .right-bottom{display:none;}
.respo-postion{padding:7% 0% 0% 3% !important;width:90% !important;}
.achievment-left-links ul{list-style:none;padding:0% 0% 0% 0%;float:left;width:100%;}
.inner-left-heading{width:90%;}
.responc-left-heading{width:100% !important;}
.achievment-left{width:23%;}
.respo-achievement{width:72% !important}
.respo-achievement .inner-left-heading{width:100% !important;}
.gallery-list.responc-photo ul li a{width:100% !important;}
.accordionButton{width:95.8%}
.banner-left-postion, .banner-left{padding:90px 0% 0% 0% !important;width:72% !important;}
#accor-wrapper{display:block;}
.tab-hide{display:none;}
.content-right-div{width:100%;float:left;}
.dams-store-heading{width:95.6%;padding:15px 2% 10px 2%;}
.enquiry-right-btn{display:none;}
h1{margin-top:26px;}
.top-header, .big-nav{display:none;}
.wrapper{width:96%;min-width:96%;max-width:96%;}
.top-nav{width:96%;max-width:none;min-width:96%;margin:0% 2%;}
.r-screen-b{display:block;position:relative;top:28px;}
.b-screen{width:46%;float:left;margin-bottom:10px;height:160px;padding:1%;margin:1%;}
.b-screen .h-font{font-size:20px;letter-spacing:-1px;}
.user-use{display:block;width:auto;margin:0px 10px 0px 0px;background:#00adbb;border:1px solid #0095a2;float:right;-webkit-border-radius:2px;-moz-border-radius:2px;border-radius:2px;}
.user-use a{float:left;background-color:#00adbb;color:#ffffff;font-size:15px;font-family:'helvetica_neue_lt_std37ThCn';text-transform:uppercase;text-decoration:none;line-height:14px;text-shadow:1px 1px 0px #00909b;}
.user-use a.l-r-left{width:auto;background:url(../images/login.png) 8px 6px no-repeat;padding:11px 10px 11px 35px;border-right:1px solid #0095a2;}
.r-navigation{width:auto;color:#CCCCCC;font-size:15px;z-index:10;}
.r-navigation .r-navigation_button{width:38px;height:36px;background:url(../navigation/menu_button.png) no-repeat -17px -19px;cursor:pointer;float:right;}
.accordionContent{width:91%;}
.navbar{display:block;}
.qustion-chat, .group1-Wrapper, .social-icon{display:none;}
.midle-boxes hgroup h2{padding:0% 0% 0% 2%;}
.top-nav{width:96%;max-width:none;min-width:none;}
.box-heading{background:url(../images/box-line.png) left bottom repeat-x;}
.midle-boxes{margin-bottom:80px;}
footer{position:inherit;float:left;}
.content-right, .content-left{width:100%;}
.pg-medical-main{width:99.8%;}
.content-right{padding:25px 0px 0px 0px;}
.inner-midle-content{width:100%;float:none;margin:0px auto;}
.course-box{width:96%;float:left;padding:15px 2%;}
.pg-content-box{padding:2% 2% 2% 2%;width:95.8%;}
.n-videos, .n-heading{width:99%;padding:0px 0px 0px 1%;}
.content-left{margin:0px 0px 0px 0px;}
.videos-content-box{padding:14px 2%;width:95.88%;}
.videos-content-box img{width:100%;}
.news-content-box{padding:0px 0% 0px 0%;width:99.8%;}
.news-content-box ul li{padding:12px 16px 12px 10px;width:97%;}
.recent-pg-main{padding:2% 2% 2% 2%;width:96%}
.recent-pg-main ul{padding:8px 0px 0px 0px;height:170px !important;}
.recent-pg-main ul li{margin:0px 1.1% 0px 2.0%}
.inner-nav ul{background:url(../images/bignav-right.png) left -6px repeat-x;}
.inner-nav ul li{background:url(../images/mini-nav-line.jpg) left -6px no-repeat;line-height:38px;}
.inner-nav ul li a{padding:0px 13px;font-size:16px;}
.left-nav{background-position:left bottom;height:39px;}
.right-nav{background-position:left bottom;height:39px;}
.banner-left{width:55%;padding:16% 0% 0% 3%;}
.banner-right{width:24%;min-width:inherit;}
.box-bottom-1{padding:1px 0% 0px 0px;width:100%;}
.show-me ul li{padding:0% 4%;}
.gallery-list ul li a{width:28%;margin:0px 0px 8px 2%;}
.gallery-list ul li a img{width:100%;}
.dots{width:15%;}
.head-office-left{width:52%;}
.gallery-left{width:100%;}
.gallery-right{width:100%;}
.space-nil{margin-bottom:0px;padding:0px;}
.state-location ul li label{display:none;}
.state-location ul li{margin:0px 10px 0px 0px;}
.submit-center{margin-left:0px;}
.map-content-left{margin:0px 0px 20px 0px;width:37%;}
.mini-event-list{display:none;}
.national-quiz-add{text-align:center;}
.dams-store-link{width:95.8%;padding:11px 2%;}
.dams-store-content{width:95.8%;padding:10px 2%;}
.enquiry-heading{width:96%;padding:0% 2%;}
.enquiry-content-more{width:96%;padding:17px 2% 0px 2%;}
.enquiry-input{width:95.8%;padding:10px 2% 9px 2%;}
.enquiry-content{width:99.8%;}
.enquiry-bottom{padding:0px;width:99.8%;}
.select-input{padding:7px 8px;height:40px;}
.banner-l-heading{padding:120px 0% 0% 3% !important;}
#leftCartContainer{width:100%;float:left;}
.publication-box-new{width:43%;margin:0px 3% 3% 0px;padding:1.4%;text-align:center;}
.b-screen .h-font, .box-heading{font-size:16px !important;letter-spacing:0 !important;}
.gallery-list ul li{margin:5px;height:auto;width:30%;}
.gallery-list ul li a{border:none;padding:0;width:auto !important;margin:0 !important;}
.gallery-list ul li a img{border:1px solid #DADADA;padding:3px;width:90%;}
.onloadPopup{width:100%; margin:20% 0; text-align:center; position:absolute;}
.onloadPopup #imgholder a#onloadPopup-close{display:block; width:22px; height:22px; position:absolute; right:-12px; z-index:1124; margin:-12px 0px 0px 0px; background:url(../images/popclose.png) top left no-repeat;}
.onloadPopup #imgholder{width:75%; margin:0px auto; position:relative;}
.onloadPopup #imgholder .img-div1, .onloadPopup #imgholder .img-div2{float:left; position:relative; display:inline-block;}
.onloadPopup #imgholder .img-div1 img, .onloadPopup #imgholder .img-div2 img{width:100%;}
.onloadPopup #imgholder .img-div1{width:48%; border:0.4em solid #fff;}
.onloadPopup #imgholder .img-div2{width:49.1%; border-top:0.4em solid #fff; border-right:0.4em solid #fff; border-bottom:0.4em solid #fff;}
.onloadPopup #imgholder .img-div1 .blue-button, .onloadPopup #imgholder .img-div2 .orange-button{width:85%; position:absolute; bottom:8%; margin:0px 0px 0px 5%; z-index:1124; border-radius:5px; -moz-border-radius:5px; -webkit-border-radius:5px; box-shadow:0px 0px 1.5px 0px #8f8f8f; -moz-box-shadow:0px 0px 1.5px 0px #8f8f8f; -webkit-box-shadow:0px 0px 1.5px 0px #8f8f8f;}
.onloadPopup #imgholder .img-div1 .blue-button a, .onloadPopup #imgholder .img-div2 .orange-button a{padding:4% 5.5%; display:block; color:#fff; font-family:'helvetica_neue_lt_std77BdCn'; font-size:14px; text-align:left; text-transform:uppercase; background:url(../images/poparrow.png) 93% center no-repeat; background-size:15% auto}
/*dhiraj*/
.footer-left .linkfoot {
float: left;
display: inherit;
text-align: center;margin: 0px 0px 7px 0px;}
.alert_title h2 span{float: left;font-size: 16px;}
/*dhiraj*/
}


@media (width:1280px){.box-1{margin-left:10px;padding:7px;width:22%;}
}
@media only screen and (min-width:878px) and (max-width:983px){.main-boxs{margin-top:235px;}
.rslides img{border:1px solid #666666;}
footer{padding-bottom:147px;}
}
@media only screen and (min-width:798px) and (max-width:803px){body{position:relative;background:#6ABC73;background:-moz-linear-gradient(top, rgba(106,188,115,1) 50%, rgba(204,236,222,1) 100%);background:-webkit-gradient(linear, left top, left bottom, color-stop(50%,rgba(106,188,115,1)), color-stop(100%,rgba(204,236,222,1)));background:-webkit-linear-gradient(top, rgba(106,188,115,1) 50%,rgba(204,236,222,1) 100%);background:-o-linear-gradient(top, rgba(106,188,115,1) 50%,rgba(204,236,222,1) 100%);background:-ms-linear-gradient(top, rgba(106,188,115,1) 50%,rgba(204,236,222,1) 100%);background:linear-gradient(to bottom, rgba(106,188,115,1) 50%,rgba(204,236,222,1) 100%);filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#6abc73', endColorstr='#ccecde',GradientType=0);}
#wrapperSlider{position:absolute !important;height:auto !important;top:auto;}
.rslides img{width:100% !important;border-bottom:1px solid #555555 !important;border-top:1px solid #555555 !important;height:auto !important;}
.midle-boxes.b-space{margin-bottom:15px !important;}
.main-boxs{margin-top:143px !important;margin-left:7px !important;}
.b-screen .h-font, .box-heading{font-size:16px !important;letter-spacing:0 !important;}
.b-screen{margin:7px auto !important;}
.box-1{margin:0;padding:11px !important;width:95% !important;}
}
@media only screen and (min-width:766px) and (max-width:770px){body{position:relative;background:#6ABC73;background:-moz-linear-gradient(top, rgba(106,188,115,1) 50%, rgba(204,236,222,1) 100%);background:-webkit-gradient(linear, left top, left bottom, color-stop(50%,rgba(106,188,115,1)), color-stop(100%,rgba(204,236,222,1)));background:-webkit-linear-gradient(top, rgba(106,188,115,1) 50%,rgba(204,236,222,1) 100%);background:-o-linear-gradient(top, rgba(106,188,115,1) 50%,rgba(204,236,222,1) 100%);background:-ms-linear-gradient(top, rgba(106,188,115,1) 50%,rgba(204,236,222,1) 100%);background:linear-gradient(to bottom, rgba(106,188,115,1) 50%,rgba(204,236,222,1) 100%);filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#6abc73', endColorstr='#ccecde',GradientType=0);}
#wrapperSlider{position:absolute !important;height:auto !important;top:12px;}
.rslides img{width:100% !important;border-bottom:1px solid #555555 !important;border-top:1px solid #555555 !important;height:auto !important;}
.midle-boxes.b-space{margin-bottom:15px !important;}
.main-boxs{margin-top:19% !important;margin-left:3px !important;}
.b-screen .h-font, .box-heading{font-size:16px !important;letter-spacing:0 !important;}
.b-screen{margin:6px !important;}
footer{padding:32px 0 15px;}
}
@media only screen and (min-width:480px) and (max-width:640px){.enquiry-right-btn{display:none;}
.alert_title_box { height: auto;}
}
@media only screen and (min-width:240px) and (max-width:450px){.idams-right-video{display:none;}
.achievment-left-links, .achievment-left-links ul{padding-bottom:0px !important;}
}
@media only screen and (min-width:240px) and (max-width:580px){.dactivehg{display:none;}
#heading1{font-size:52px;font-family:'calibribold';line-height:54px;color:#181a18;}
#heading1 span{line-height:24px;font-family:'calibriregular';font-size:20px;}
#heading2{font-size:40px;font-family:'calibribold';line-height:36px;color:#171a17;margin:-30px 0px 4px 0px;}
#heading2 span{display:inline-block;font-size:20px;line-height:30px;font-family:'calibriregular';}
#heading3{font-size:25px;font-family:'calibribold';color:#ffffff;line-height:36px;margin:0px 0px 6px 0px;}
#heading3 span{font-size:25px;font-family:'calibriregular';color:#ffffff;font-weight:normal;margin:0px 0px 6px 0px;}
#heading3 .headinstrong{font-size:36px;line-height:58px;font-family:'calibribold';}
#heading4{line-height:48px;font-family:'calibribold';font-size:40px;color:#FFF;margin:0px 0px 6px 0px;}
#heading4 span{font-size:25px;line-height:34px;color:#FFF;font-family:'calibribold';}
#heading5{line-height:36px;font-family:'calibriregular';font-size:22px;color:#171a17;margin:-30px 0px 8px 0px;}
#heading5 span{font-size:34px;font-family:'calibribold';line-height:56px;display:inline-block;}
#heading6, #heading7{line-height:26px;font-family:'calibriregular';font-size:20px;color:#fff;margin:-14px 0px 8px 0px;}
#heading6 sup, #heading7 sup{font-size:14px;}
#heading6 span, #heading7 span{font-size:32px;font-family:'calibribold';line-height:36px;display:inline-block;color:#fff;}
#heading6 a, #heading7 a{display:block;font-family:'calibribold';font-size:28px;color:#fff;width:200px;padding:7px 7px 10px;margin-top:20px;background:url(../slider/images/aarow.png) 95% center no-repeat;border:1px solid #FFF;border-radius:5px;-moz-border-radius:5px;-webkit-border-radius:5px;line-height:30px;}
#heading6 a:hover, #heading7 a:hover{text-decoration:none;}
.onloadPopup, #blackPopup{display:none !important;}
}
@media only screen and (min-width:240px) and (max-width:530px){.idTabs li a{font-family:'pt_sansregular';font-size:15px;}
.addcart-left{width:100%;}
.addcart-right{width:100%;padding-top:20px}
.book-hide{display:none;}
.enquiry-right-btn{display:none;}
}
@media only screen and (min-width:480px) and (max-width:660px){.idTabs li a{padding:0px 1.4%;font-size:14px;font-family:'pt_sansregular';line-height:36px;}.idTabs li a.mds-tab{padding:0px 1%;}
.achievment-left-links ul li ol.achievment-inner{padding:0px 0px 10px 1% !important;width:99% !important;}
.achievment-left{width:99%;}
.achievment-left-links ul{padding-bottom:0px;}
.respo-achievement{width:100% !important;padding:30px 0px 0px 0px !important;}
.respo-achievement .inner-left-heading{width:100% !important;}
.test-combo-content ul li span{width:76%;float:right;font-size:13px;}
}
@media only screen and (min-device-width:595px) and (max-device-width:605px){body{position:relative;background:#6ABC73 !important;background:-moz-linear-gradient(top, rgba(106,188,115,1) 50%, rgba(204,236,222,1) 100%) !important;background:-webkit-gradient(linear, left top, left bottom, color-stop(50%,rgba(106,188,115,1)), color-stop(100%,rgba(204,236,222,1))) !important;background:-webkit-linear-gradient(top, rgba(106,188,115,1) 50%,rgba(204,236,222,1) 100%);background:-o-linear-gradient(top, rgba(106,188,115,1) 50%,rgba(204,236,222,1) 100%);background:-ms-linear-gradient(top, rgba(106,188,115,1) 50%,rgba(204,236,222,1) 100%);background:linear-gradient(to bottom, rgba(106,188,115,1) 50%,rgba(204,236,222,1) 100%) !important;filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#6abc73', endColorstr='#ccecde',GradientType=0);}
#wrapperSlider{position:absolute !important;height:auto !important;top:12px;}
.rslides img{width:100% !important;border-bottom:1px solid #555555 !important;border-top:1px solid #555555 !important;height:auto !important;}
.midle-boxes.b-space{margin-bottom:10px !important;}
.main-boxs{margin-top:51px !important;}
.b-screen .h-font, .box-heading{font-size:16px !important;letter-spacing:0 !important;}
.b-screen{margin:6px auto !important;}
.box-1{margin:0;padding:11px !important;width:auto !important;}
.midle-boxes.b-space{margin-bottom:7px !important;}
.career-inp{width:96%;}
}
@media only screen and (min-width:595px) and (max-width:605px){body{position:relative;background:#6ABC73 !important;background:-moz-linear-gradient(top, rgba(106,188,115,1) 50%, rgba(204,236,222,1) 100%) !important;background:-webkit-gradient(linear, left top, left bottom, color-stop(50%,rgba(106,188,115,1)), color-stop(100%,rgba(204,236,222,1)));background:-webkit-linear-gradient(top, rgba(106,188,115,1) 50%,rgba(204,236,222,1) 100%);background:-o-linear-gradient(top, rgba(106,188,115,1) 50%,rgba(204,236,222,1) 100%);background:-ms-linear-gradient(top, rgba(106,188,115,1) 50%,rgba(204,236,222,1) 100%);background:linear-gradient(to bottom, rgba(106,188,115,1) 50%,rgba(204,236,222,1) 100%) !important;}
#wrapperSlider{position:absolute !important;height:auto !important;top:12px;}
.rslides img{width:100% !important;border-bottom:1px solid #555555 !important;border-top:1px solid #555555 !important;height:auto !important;}
.midle-boxes.b-space{margin-bottom:10px !important;}
.main-boxs{margin-top:35px !important;}
.b-screen .h-font, .box-heading{font-size:16px !important;letter-spacing:0 !important;}
.box-1{margin:0;padding:11px !important;width:auto !important;}
.midle-boxes.b-space{margin-bottom:7px !important;}
.midle-boxes.b-space{margin-bottom:5px !important;}
.career-inp{width:96.4%;}
.main-boxs{padding-top:0;}
}
@media only screen and (min-width:641px) and (max-width:764px){body{position:relative;background:#6ABC73;background:-moz-linear-gradient(top, rgba(106,188,115,1) 50%, rgba(204,236,222,1) 100%);background:-webkit-gradient(linear, left top, left bottom, color-stop(50%,rgba(106,188,115,1)), color-stop(100%,rgba(204,236,222,1)));background:-webkit-linear-gradient(top, rgba(106,188,115,1) 50%,rgba(204,236,222,1) 100%);background:-o-linear-gradient(top, rgba(106,188,115,1) 50%,rgba(204,236,222,1) 100%);background:-ms-linear-gradient(top, rgba(106,188,115,1) 50%,rgba(204,236,222,1) 100%);background:linear-gradient(to bottom, rgba(106,188,115,1) 50%,rgba(204,236,222,1) 100%);filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#6abc73', endColorstr='#ccecde',GradientType=0);}
#wrapperSlider{height:auto !important;position:absolute !important;top:0;}
.rslides img{border-bottom:1px solid #555555 !important;border-top:1px solid #555555 !important;height:auto !important;width:100% !important;}
.main-boxs{margin-top:15%;}
.top-header{display:none;}
/*dhiraj*/
.top-header{display:none;}
.footer-left .linkfoot {
float: left;
display: inherit;
text-align: center;margin: 0px 0px 7px 0px;}
/*dhiraj end*/
.top-header{display:none;}
}
@media (width:533px){.main-boxs{margin-top:3% !important;}
}
@media (width:640px){.main-boxs{margin-top:56px !important;}
.midle-boxes.b-space{margin-bottom:6px !important;}
}
@media only screen and (min-width:481px) and (max-width:640px){body, .midle-boxes{position:relative;background:#6ABC73 !important;background:-moz-linear-gradient(top, rgba(106,188,115,1) 50%, rgba(204,236,222,1) 100%);background:-webkit-gradient(linear, left top, left bottom, color-stop(50%,rgba(106,188,115,1)), color-stop(100%,rgba(204,236,222,1)));background:-webkit-linear-gradient(top, rgba(106,188,115,1) 50%,rgba(204,236,222,1) 100%);background:-o-linear-gradient(top, rgba(106,188,115,1) 50%,rgba(204,236,222,1) 100%);background:-ms-linear-gradient(top, rgba(106,188,115,1) 50%,rgba(204,236,222,1) 100%);background:linear-gradient(to bottom, rgba(106,188,115,1) 50%,rgba(204,236,222,1) 100%);filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#6abc73', endColorstr='#ccecde',GradientType=0);}
#wrapperSlider{height:auto !important;position:absolute !important;top:8px;z-index:9;}
.rslides img{border-bottom:1px solid #555555 !important;border-top:1px solid #555555 !important;height:auto !important;width:100% !important;}
.main-boxs{margin-top:6%;padding-top:12px;}
footer{padding-bottom:15px;}
.box-1{margin:6px 0;width:auto;}
.responc-social-icon{width:100%;float:left;}
.demo3-d ul li .responc-social-icon a{width:100%;height:48px;padding:0px !important;float:left;color:#bcbdbc !important;border-top:1px solid #4d4a49;font-size:16px !important;}
.responc-social-icon a:first-child{border-top:none;}
.responc-social-icon a:hover{color:#ffffff !important;}
.responc-l-facebook span{background:url(../images/responcive-social-icon.png) left 0px no-repeat !important;width:49px !important;height:48px !important;float:left !important;margin:0px !important;}
.responc-l-facebook:hover{background:#305891 !important;}
.responc-l-twitter{}
.responc-l-twitter span{background:url(../images/responcive-social-icon.png) left -48px no-repeat !important;width:49px !important;height:48px !important;float:left !important;margin:0px !important;}
.responc-l-twitter:hover{background:#2ca8d2 !important;padding:0% 0px 0% 0px;}
.responc-l-mail{}
.responc-l-mail span{background:url(../images/responcive-social-icon.png) left -96px no-repeat !important;width:49px !important;height:48px !important;float:left !important;margin:0px !important;}
.responc-l-mail:hover{background:#007bb6 !important;padding:0% 0px 0% 0px;}
.responc-l-print{}
.responc-l-print span{background:url(../images/responcive-social-icon.png) 0px -144px no-repeat !important;width:49px !important;height:48px !important;float:left !important;margin:0px !important;}
.responc-l-print:hover{background:#c44444 !important;padding:0% 0px 0% 0px;}
.responc-l-share{}
.responc-l-share span{background:url(../images/responcive-social-icon.png) 0px -192px no-repeat !important;width:49px !important;height:48px !important;float:left !important;margin:0px !important;}
.responc-l-share:hover{background:#f8694d !important;padding:0% 0px 0% 0px;}
.inner-left-heading h4{font-size:25px;}
.idams-box.full-space{width:100%;}
.res-show{display:block;}
.res-show-mini{width:auto;float:left;position:relative;}
.t-right-side{width:auto;}
.right-top{padding:28px 0px 10px 0px;}
.add-cart-section{height:36px;}
.inner-some-numbers, .login-registration, .some-numbers, .right-bottom{display:none;}
.pg-medical-main{display:none;}
.national-quiz-add{text-align:center;}
.inner-gallery-content{padding:30px 0px 0px 0px;}
.resp-head, .inner-banner, .enquiry-right-btn{display:none;}
.wrapper{width:96%;min-width:96%;max-width:96%;}
.r-screen-b{display:block;position:relative;top:28px;}
.box-heading{background:url(../images/box-line.png) left bottom repeat-x;}
.navbar{display:block;}
.hidden-link, .qustion-chat, .group1-Wrapper, .social-icon{display:none;}
header{height:92px;}
h1{margin:19px 0px}
.midle-boxes hgroup h2{padding:0% 0% 0% 2%;line-height:44px;font-size:40px;}
.midle-boxes hgroup h2 span{font-size:22px;}
.top-nav{width:auto;}
.midle-boxes{margin-bottom:0 !important;}
.main-boxs{margin:10% auto 0 auto;width:100%;}
footer{position:inherit;float:left;}
footer span.v-line{float:left;padding:0px 6px;}
.director-message, .dams-aboutus, .banner-left{width:55%;padding:16% 0% 0% 3%;display:none;}
.content-right, .pg-medical-main, .content-left{width:100%;}
.content-right{padding:25px 0px 0px 0px;}
.inner-midle-content{width:100%;float:none;margin:0px auto;}
.course-box{width:96%;padding:15px 2%;}
.pg-content-box{padding:15px 11px 15px 2%;width:95%;}
.pg-content-box ul li{width:50%;}
.pg-heading{width:98%;padding:0px 0px 0px 2%;}
.n-videos, .n-heading{width:98%;padding:0px 0px 0px 2%;}
.content-left{margin:25px 0px 0px 0px;}
.videos-content-box{padding:14px 3% 14px 3.7%;width:93%;}
.videos-content-box img{width:100%;}
.news-content-box{padding:0px 0px 0px 0%;width:99.6%;}
.news-content-box ul li{padding:12px 14px 12px 10px;width:97%;}
.recent-pg-main{padding:2% 2% 2% 2%;width:96%;}
.recent-pg-main ul{padding:8px 0px 0px 0px;overflow:hidden;height:128px;}
.recent-pg-main ul li{margin:0px 0px 0px 7%;padding:2%;}
.inner-nav ul{background:url(../images/bignav-right.png) left -6px repeat-x;}
.inner-nav ul li{background:url(../images/mini-nav-line.jpg) left -6px no-repeat;line-height:38px;}
.inner-nav ul li a{padding:0px 13px;font-size:16px;}
.left-nav{background-position:left bottom;height:39px;}
.right-nav{background-position:left bottom;height:39px;}
.banner-right{width:90%;padding:3% 11px 0px 0px;margin:70px auto 0% auto;min-width:inherit;float:none;}
.banner-right-btns{width:94%;padding:8px 3% 3px 3%;}
.right-nav-icon{height:40px;width:40px;display:block;position:relative;float:right;margin:30px 20px 0px 0px;cursor:pointer;}
.right-nav-icon span{width:35px;height:30px;border:3px solid #f3f3f2;float:right;border-radius:3px;-webkit-border-radius:3px;-moz-border-radius:3px;}
.right-nav-icon span:before{content:'';height:4px;width:25px;background:#f3f3f2;display:block;position:absolute;top:8px;left:7px;box-shadow:0 8px 0 #f3f3f2, 0 16px 0 #f3f3f2;-webkit-box-shadow:0 8px 0 #f3f3f2, 0 16px 0 #f3f3f2;-moz-box-shadow:0 8px 0 #f3f3f2, 0 16px 0 #f3f3f2;}
.head-office-left{width:100%;}
.head-office-right{display:none;}
.space-nil{margin-bottom:0px;padding:0px;}
.gallery-left{width:100% !important;}
.gallery-right{width:100%;}
.big-nav, .inner-nav{display:none;}
.top-header{display:none;}
.course-icons{display:none;}
.showme-main{padding-top:10px;}
.course-detail{padding:0px;}
.map-content-left{margin:0px 0px 20px 0px;width:100%;height:auto;}
.map-content-right{padding:1% 1% 1px 1%;width:98%;}
.state-location ul li label{display:none;}
.neareast-center-main span.responciveslides{background:none;display:none;}
.neareast-center-main span.mini-responcive{display:block;background:none;font-size:22px;padding-right:0px;}
.neareast-center-main{width:auto;}
.state-location{width:98%;padding:0px;}
.state-location ul li{width:100%;padding:10px 0px 0px 0px;}
.state-location ul li .input-l{width:100%;}
.submit-center{margin-left:0px;}
.test-series-content{padding:0px;}
.some-points li{line-height:30px;}
.some-points li span.blue_arrow{margin:8px 8px 0px 0px;}
.download{margin:0% 1% 2% 1%}
.show-me{margin:0px 0px 20px 0px;}
.show-me span{font-size:13px;}
.show-me ul li{padding:0px 4%;}
.show-me ul li a{font-size:13px;}
.gallery-list{width:92%;margin:0px auto;padding:0px;float:none;}
.gallery-list ul li{margin:0px 0px 10px 0px;height:138px;background:#ffffff;overflow:hidden;}
.dots{width:90%;}
.mini-event-list{display:none;}
.main-position-set ul li{margin:0px;}
.position-set-right, .position-set-left{width:100%;margin:0px 0px 15px 0px;}
.google-plus, .apple-store{float:none;margin:0px;display:inline-block;}
.google-plus{margin-right:10px;}
.footer-left{width:100%;text-align:center;padding:0px 0px 0px 0px;}
/*dhiraj*/
.footer-left .linkfoot {
float: none;
display: inherit;
text-align: center;margin: 0px 0px 7px 0px;}
/*dhiraj end*/
.footer-left-top{float:none;display:block;text-align:center;}
.footer-left-top a{float:none;}
.footer-left-top span.v-line{float:none;}
.footer-right{padding:20px 0px 0px 0px;width:100%;float:left;text-align:center;}
.footer-left-bottom{background:none;border-top:1px solid #b4b4b4;float:none;}
#leftCartContainer{width:100%;float:left;}
.publication-box-new{width:43%;margin:0px 3% 3% 0px;padding:1.4%;text-align:center;}
.content-right-div{width:100%;}
.dams-store-link{width:95.8%;padding:11px 2%;}
.dams-store-content{width:95.8%;padding:10px 2%;}
.enquiry-heading{width:96%;padding:0% 2%;}
.enquiry-content-more{width:96%;padding:17px 2% 0px 2%;}
.enquiry-input{width:95.8%;padding:10px 2% 9px 2%;}
.enquiry-content{width:99.9%;}
.enquiry-bottom{padding:0px;width:99.9%;}
.select-input{padding:7px 8px;height:40px;}
.idTabs li a{padding:0px 1.4%;font-size:14px;font-family:'pt_sansregular';}
.idTabs li a.mds-tab{padding:0px 1%;}
.test-combo-content ul li span{width:76%;float:right;font-size:13px;}
.newhgrp{z-index:auto;}
.b-screen .h-font, .box-heading{font-size:16px !important;letter-spacing:0 !important;}
.main-test ul li span{font-size:18px;}
.main-test ul li{width:20%;}
.box-1 p{font-size:16px;}
.newhgrp{z-index:99 !important;}
}
@media only screen and (max-width:360px){.idTabs{width:auto;float:none;}
.idTabs li a{font-size:13px !important;padding:0 5px !important;width:96%;}
      .halfwidth{width:100%}
    .halfwidth .last{width:100%}
    .fullwidth .formchk{width: 50%}

}
@media only screen and (min-width:320px) and (max-width:480px){.newhgrp{z-index:auto;}
.responc-social-icon{width:100%;float:left;}
.demo3-d ul li .responc-social-icon a{width:100%;height:48px;padding:0px !important;float:left;color:#bcbdbc !important;border-top:1px solid #4d4a49;font-size:16px !important;}
.responc-social-icon a:first-child{border-top:none;}
.responc-social-icon a:hover{color:#ffffff !important;}
.responc-l-facebook span{background:url(../images/responcive-social-icon.png) left 0px no-repeat !important;width:49px !important;height:48px !important;float:left !important;margin:0px !important;}
.responc-l-facebook:hover{background:#305891 !important;}
.responc-l-twitter{}
.responc-l-twitter span{background:url(../images/responcive-social-icon.png) left -48px no-repeat !important;width:49px !important;height:48px !important;float:left !important;margin:0px !important;}
.responc-l-twitter:hover{background:#2ca8d2 !important;padding:0% 0px 0% 0px;}
.responc-l-mail{}
.responc-l-mail span{background:url(../images/responcive-social-icon.png) left -96px no-repeat !important;width:49px !important;height:48px !important;float:left !important;margin:0px !important;}
.responc-l-mail:hover{background:#007bb6 !important;padding:0% 0px 0% 0px;}
.responc-l-print{}
.responc-l-print span{background:url(../images/responcive-social-icon.png) 0px -144px no-repeat !important;width:49px !important;height:48px !important;float:left !important;margin:0px !important;}
.responc-l-print:hover{background:#c44444 !important;padding:0% 0px 0% 0px;}
.responc-l-share{}
.responc-l-share span{background:url(../images/responcive-social-icon.png) 0px -192px no-repeat !important;width:49px !important;height:48px !important;float:left !important;margin:0px !important;}
.responc-l-share:hover{background:#f8694d !important;padding:0% 0px 0% 0px;}
.achievment-left-links ul li ol.achievment-inner{padding:0px 0px 10px 1% !important;width:99% !important;}
.achievment-left{width:99%;}
.respo-achievement{width:100% !important;padding:30px 0px 0px 0px !important;}
.respo-achievement .inner-left-heading{width:100% !important;}
#accor-wrapper{display:block;}
.enquiry-right-btn{display:none;}
.wrapper{width:96%;min-width:96%;max-width:96%;}
.navbar{display:block;}
.hidden-link, .qustion-chat, .group1-Wrapper, .top-header, .social-icon{display:none;}
.inner-gallery-content{margin-top:7px;}
h1{width:55%;margin:10px 0;}
h1 a{background:none;width:100%;}
.mob_logo{background:none !important;}
.mob_logo img{background:none !important;display:block;margin-top:5px;}
.b-screen .h-font, .box-heading{font-size:14px !important;letter-spacing:0 !important;}
.midle-boxes hgroup h2{padding:0% 0% 0% 2%;line-height:30px;font-size:30px;}
.midle-boxes hgroup h2 span{font-size:16px;}
.main-boxs{width:100%;padding:30px 0px 0px 0px;}
.top-nav{width:auto;}
.box-1{width:97%;margin:0 auto 10px 0;padding:6px;float:none;display:inline-table;height:170px;}
.box-heading{background:url(../images/box-line.png) left bottom repeat-x;}
.midle-boxes{margin-bottom:120px;}
.midle-boxes hgroup h2{padding:0% 0% 0% 3%;}
footer{line-height:18px;width:96%;padding:6px 2%;font-size:12px;position:inherit;float:left;}
footer span.v-line{float:left;padding:0px 6px;}
.content-right, .pg-medical-main, .content-left{width:100%;}
.pg-medical-main{display:none;}
.recent-pg-heading1 span{display:none;}
.recent-pg-heading1{width:auto;}
.recent-pg-heading1 a{margin-left:0 !important;}
.content-right{padding:25px 0px 0px 0px;}
.inner-midle-content{width:100%;float:none;margin:0px auto;}
.course-box{width:96%;padding:15px 2%;}
.pg-content-box ul li{padding:0px 0px 0px 3%;width:90%;}
.pg-heading{width:98%;}
.pg-content-box{padding:15px 12px 15px 2%;width:93%;}
.n-videos, .n-heading{width:95%;padding:0px 0px 0px 5%;}
.content-left{margin:25px 0px 0px 0px;}
.videos-content-box{padding:14px 4% 14px 4%;width:91%;}
.videos-content-box img{width:100%;}
.news-content-box{padding:0px 0% 0px 0%;width:99.8%;}
.news-content-box ul li{padding:12px 3% 12px 4%;width:93%;}
.recent-pg-main{padding:15px 14px 15px 15px;width:90%}
.recent-pg-main ul{padding:8px 0px 0px 0px;height:280px !important;}
.recent-pg-main ul li{margin:0px 0px 10px 0px;width:96%;padding:2%;}
.recent-pg-main ul li img{width:96%;height:195px;}
.inner-nav ul{background:url(../images/bignav-right.png) left -6px repeat-x;}
.inner-nav ul li{background:url(../images/mini-nav-line.jpg) left -6px no-repeat;line-height:38px;}
.inner-nav ul li a{padding:0px 13px;font-size:16px;}
.left-nav{background-position:left bottom;height:39px;}
.right-nav{background-position:left bottom;height:39px;}
.banner-right{width:90%;padding:3% 0px 0px 0px;float:none;min-width:inherit;margin:70px auto 0px auto;}
.banner-right-btns{width:94%;padding:8px 3% 3px 3%;}
.right-nav-icon{height:40px;width:40px;display:block;position:relative;float:right;margin:40px 20px 0px 0px;cursor:pointer;}
.right-nav-icon span{width:35px;height:30px;border:3px solid #f3f3f2;float:right;border-radius:3px;-webkit-border-radius:3px;-moz-border-radius:3px;}
.right-nav-icon span:before{content:'';height:4px;width:25px;background:#f3f3f2;display:block;position:absolute;top:8px;left:7px;box-shadow:0 8px 0 #f3f3f2, 0 16px 0 #f3f3f2;-webkit-box-shadow:0 8px 0 #f3f3f2, 0 16px 0 #f3f3f2;-moz-box-shadow:0 8px 0 #f3f3f2, 0 16px 0 #f3f3f2;}
.head-office-left{width:100%;}
.head-office-right{display:none;}
.space-nil{margin-bottom:0px;padding:0px;}
.gallery-left{width:100%;}
.gallery-right{width:100%;padding-top:0px;}
.news-main{padding:0px 0px 20px 0px;}
.banner-left{display:none;}
.big-nav, .inner-nav{display:none;}
.top-header{display:none;}
.main-head-office{padding:0px 0px 20px 0px;}
.main-left-office{padding-bottom:20px;margin-bottom:20px;}
.course-box h3{font-size:30px;}
.course-icons{display:none;}
.showme-main{padding-top:10px;}
.course-detail{padding:0px;}
.map-content-left{margin:0px 0px 20px 0px;width:100%;height:auto;}
.map-content-right{padding:1% 1% 1px 1%;width:98%;}
.state-location ul li label{display:none;}
.neareast-center-main span.responciveslides{background:none;display:none;}
.neareast-center-main span.mini-responcive{display:block;background:none;font-size:20px;padding-right:0px;}
.neareast-center-main{width:auto;}
.state-location{width:98%;padding:0px;}
.state-location ul li{width:100%;padding:10px 0px 0px 0px;}
.state-location ul li .input-l{width:100%;}
.submit-center{margin-left:0px;}
.test-series-content{padding:0px;}
.some-points li{line-height:24px;}
.some-points li span.blue_arrow{margin:5px 8px 0px 0px;}
.download{margin:0% auto 3% auto;float:none;display:table;width:92%;}
.orange-box{background:url(../images/orange-box.jpg) right top no-repeat #ff5a3a;width:auto;float:none;}
.enquiry-heading{text-align:left;}
.show-me{margin:0px 0px 20px 0px;}
.show-me ul li{padding:0px 3%;}
.show-me ul li a{font-size:13px;}
.gallery-list{width:92%;margin:0px auto 0px auto;padding:0px;float:none;}
.gallery-list ul li{margin:0px 0px 10px 0px;height:186px;background:#ffffff;overflow:hidden;}
.gallery-list ul li a{padding:1% 1% 0px 1%;}
.gallery-list ul li a{display:block;float:none;}
.gallery-list ul li a img{width:94%;}
.dots{width:90%;margin:0px auto;padding:0px 0px 20px 0px;display:table;}
.mini-list{display:none;}
.show-me span{font-size:13px;}
.mini-event-list{width:100%;float:left;padding:5px;margin:5px 0px 0px 0px;display:block;}
.main-position-set ul li{margin:0px;}
.position-set-right, .position-set-left{width:100%;margin:0px 0px 15px 0px;}
.testimonials-content{font-size:14px;line-height:22px;}
.testimonial-title{padding:10px 0px 0px 0px;}
.testimonial-title a{font-size:14px;}
.menu2{width:100%;}
.google-plus, .apple-store{float:none;margin:0px;display:inline-block;}
.google-plus{margin-right:10px;}
.footer-left{width:100%;text-align:center;padding:0px 0px 0px 0px;}
.footer-left-top{float:none;display:block;text-align:center;}
.footer-left-top a{float:none;}
.footer-left-top span.v-line{float:none;}
.footer-right{padding:20px 0px 0px 0px;width:100%;float:left;text-align:center;}
.footer-left-bottom{background:none;border-top:1px solid #b4b4b4;float:none;}
.test-tab-content{display:none;}
.mini-tab{display:none;}
.responce-show{display:block !important;}
/*dhiraj*/
.footer-left .linkfoot {
float:none;
display: inherit;
text-align: center;margin: 0px 0px 7px 0px;}
.footer-left .linkfoot a{font-size: 14px;}
/*dhiraj end*/
}
@media only screen and (min-width:240px) and (max-width:480px){.demo3-d ul li a{font-size:23px !important;}
.inner-left-heading h4{font-size:18px;}
.res-show{display:block;}
.res-show-mini{width:auto;float:left;position:relative;}
.t-right-side{width:auto;margin:0px 5px 0px 0px;}
.inner-some-numbers, .login-registration, .some-numbers, .right-bottom{display:none;}
.res-show{display:block;}
header{top:0px;padding-bottom:0;}
.r-screen-b{display:block;position:relative;top:28px;padding-left:2px;}
.right-top{padding:28px 0px 10px 0px;}
.add-cart-section{height:36px;}
.resp-head, .inner-banner{display:none;}
.leftCartContainer{width:100%;}
.enquiry-content{width:100%;}
#leftCartContainer{width:100%;float:left;}
.publication-box-new{width:96.9%;margin:0px 0% 5% 0px;padding:1.4%;text-align:center;}
.content-right-div{width:100%;}
.enquiry-main{text-align:center;}
.moblie{float:none;margin-right:0px;}
.course-icons{display:inline-block !important;}
.icons-adjust{width:46%;margin:4px !important;}
.gallery-left{width:100% !important;}
.course-icons img{width:100%;}
.test-tab-content{display:block !important;}
.main-test ul li{width:47%;}
.news1-main ul li span.right-cal{width:80%;}
}
@media only screen and (min-width:240px) and (max-width:670px){.view-schedule{}
.total-test{}
.price-doller{}
.career-inp{padding:5px;}
.career-box label{font-size:14px;text-align:left;padding:8px 2%;}
.career-select-input{padding:5px;width:99%;}
.course-icons{display:inline-block !important;}
.gallery-list{height:auto;}
.gallery-list ul{position:inherit;}
.gallery-list ul li{margin:5px;height:auto;width:30%;}
.gallery-list ul li a{border:none;padding:0;}
.gallery-list ul li a img{border:1px solid #DADADA;padding:3px;width:90%;}
.mini-event-list{border:1px solid #ABABAB;}
}
@media only screen and (min-width:240px) and (max-width:380px){.test-tab-content{display:none;}
.book-hide{display:none;}
.cart-content-more{padding-bottom:0px;}
.total-box p{width:100%;float:left;text-align:center;}
.cart-content-more div span{font-size:14px !important}
.paynow-btn{margin:0 auto;display:table;float:none;padding:8px 0px;}
.mini-scrn-online{float:left !important;margin:5% 0px 0px 5% !important;width:90% !important;}
h1{width:100%;margin:12px 0px 12px 0px;}
h1 a{display:block;width:119px;margin:0 auto;background:url(../images/logo.png) -12px top no-repeat;height:72px;}
.enquiry-heading{text-align:left;}
.page-heading{display:none;}
.r-screen-b{display:block;position:relative;top:0px;}
.user-use{float:left;margin:0px 0px 0px 10px;}
.demo-box-d{float:left;}
.right-top{padding-top:0px;padding-bottom:0px;}
.inner-right-top{padding-top:10px;}
.content-right{padding-top:15px 0px 0px 0px;}
.national-quiz-add a{height:auto;}
.national-quiz-add a img{width:100%;height:auto;}
.recent-pg-heading{width:100%;float:left;font-family:'pt_sansbold';font-size:16px;color:#ffffff;line-height:30px;}
.recent-pg-heading span{display:none;}
.recent-pg-heading a.photogal{margin-left:0px !important;font-size:15px;font-family:'pt_sansregular';}
.gallery-list ul li{width:100%;}
.news1-main ul li{display:block !important;}
.news1-main ul li span.right-cal{width:72%;}
.news-pagination{width:100%;}

}
@media only screen and (min-width:240px) and (max-width:460px){.demo3-d, .demo6-d{width:100% !important;}
.res-helpline-no span.res-mini-no{float:none !important;display:block;}
.close-navigation{display:none;}
.modify-close{color:#fff;width:94%;float:left;line-height:44px;font-family:'helvetica_neue_lt_std77BdCn';font-size:20px;text-transform:uppercase;text-align:left;padding:0% 4% 0% 2%;background:#1F1F1F;display:block;}
.modify-close span{float:right;cursor:pointer;}
.footer-left-bottom{display:none;}
.footer-left-top span.v-line{display:none;}
.footer-left-top a{display:block;padding:4px 0px;margin:0px 0px 2px 0px;font-size:14px;}
.footer-left-top a:hover, .footer-left-top a:active{background:#dadada;color:#616161;text-decoration:none;text-shadow:1px 1px 0px #ebebeb;}
.national-quiz-add{text-align:center;}
h1{width:50%;}
.t-right-side{margin-left:-5px;}
.schedule-mini-series .mini-heading{font-size:18px;}
.heading-height{margin-left:0;}
}
@media only screen and (min-width:320px) and (max-width:480px){body{position:relative;background:#6ABC73 !important;background:-moz-linear-gradient(top, rgba(106,188,115,1) 50%, rgba(204,236,222,1) 100%) !important;background:-webkit-gradient(linear, left top, left bottom, color-stop(50%,rgba(106,188,115,1)), color-stop(100%,rgba(204,236,222,1))) !important;background:-webkit-linear-gradient(top, rgba(106,188,115,1) 50%,rgba(204,236,222,1) 100%);background:-o-linear-gradient(top, rgba(106,188,115,1) 50%,rgba(204,236,222,1) 100%);background:-ms-linear-gradient(top, rgba(106,188,115,1) 50%,rgba(204,236,222,1) 100%);background:linear-gradient(to bottom, rgba(106,188,115,1) 50%,rgba(204,236,222,1) 100%);filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#6abc73', endColorstr='#ccecde',GradientType=0);overflow-x:hidden;}
.midle-boxes{background:#6abc73;background:-moz-linear-gradient(top, #6abc73 1%, #77b87e 100%);background:-webkit-gradient(linear, left top, left bottom, color-stop(1%,#6abc73), color-stop(100%,#77b87e));background:-webkit-linear-gradient(top, #6abc73 1%,#77b87e 100%);background:-o-linear-gradient(top, #6abc73 1%,#77b87e 100%);background:-ms-linear-gradient(top, #6abc73 1%,#77b87e 100%);background:linear-gradient(to bottom, #6abc73 1%,#77b87e 100%);filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#6abc73', endColorstr='#77b87e',GradientType=0);}
.midle-boxes.b-space{margin-bottom:0 !important;}
.top_nav_bg{background:#333;background:linear-gradient(to bottom, #4C4C4C 0%, #2C2C2C 100%) repeat scroll 0 0 rgba(0, 0, 0, 0);border-bottom:1px solid #555555;border-top:1px solid #555555;height:50px;margin-left:-7px;position:absolute;top:90px;width:100%;}
.demo-box-d{background:none repeat scroll 0 0 #00ADBB;position:relative;width:30%;margin-left:-2px;}
.r-navigation .r-navigation_button{background-color:#00ADBB !important;background-image:url("../navigation/menu_button.png") !important;background-position:-17px -19px;background-repeat:no-repeat !important;border-color:#00ADBB !important;float:left;}
.mob_menu{background:none repeat scroll 0 0 #00ADBB;border:1px solid #00ADBB;color:#FFFFFF;display:inherit;font-size:16px;left:43px;line-height:36px;margin-left:-4px;margin-right:7px !important;margin-top:-1px;padding-right:7px;position:absolute;}
h1{width:100%;margin:7px 0;}
h1 a{background:none repeat scroll 0 0 rgba(0, 0, 0, 0) !important;text-align:center !important;width:60%;height:auto;margin:auto;}
header{height:141px;box-shadow:none;}
.top_nav_bg{margin-left:-10px;}
.r-screen-b{top:6px;}
.user-use{border:none;border-radius:0;}
.user-use a.l-r-left{padding:11px 11px 10px 38px;width:55px;border-right:none;}
.user-use b{font-family:Arial,Helvetica,sans-serif;font-size:16px;font-weight:normal !important;}
#wrapperSlider{margin-left:2%;width:95.5% !important;top:148px;height:auto;position:absolute;z-index:1;}
.rslides img{height:auto !important;border:1px solid #555 !important;}
.newhgrp{z-index:2 !important;}
.right-top{padding:5px 0 10px;}
.add-cart-section{background:none repeat scroll 0 0 #FFFFFF;border-color:rgba(0, 0, 0, 0);margin-left:2px;}
.main-boxs{margin-top:40px;}
.b-screen .h-font, .box-heading{font-size:14px !important;letter-spacing:0 !important;}
.inner-right-top{padding-top:5px;}
.main-test ul li{margin-left:0 !important;}
.main-test ul li span{font-size:18px;}
}
@media only screen and (min-width:321px) and (max-width:379px){#wrapperSlider{top:6px;}
.footer-left-top{padding:0px;}
.footer-right{padding:10px 0px 0px 0px;}
.google-plus{margin-right:0px;}
.google-plus, .apple-store{display:block;margin:0px auto 10px auto;}
.page-heading{display:none;}
.right-download a b{display:none;}
.left-download{font-size:13px;}
.download-list .dam-arrow{margin:15px 4px 0px 0px;}
body{position:relative;background:#6ABC73;background:-moz-linear-gradient(top, rgba(106,188,115,1) 50%, rgba(204,236,222,1) 100%);background:-webkit-gradient(linear, left top, left bottom, color-stop(50%,rgba(106,188,115,1)), color-stop(100%,rgba(204,236,222,1)));background:-webkit-linear-gradient(top, rgba(106,188,115,1) 50%,rgba(204,236,222,1) 100%);background:-o-linear-gradient(top, rgba(106,188,115,1) 50%,rgba(204,236,222,1) 100%);background:-ms-linear-gradient(top, rgba(106,188,115,1) 50%,rgba(204,236,222,1) 100%);background:linear-gradient(to bottom, rgba(106,188,115,1) 50%,rgba(204,236,222,1) 100%);filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#6abc73', endColorstr='#ccecde',GradientType=0);}
.green_shadow{float:left;width:100%;height:9px;z-index:999;position:relative;bottom:0;margin-left:-6px;padding:0 10px;background-color:transparent;-webkit-box-shadow:0 4px 3px -2px rgba(0, 0, 0, 0.75);-moz-box-shadow:0 4px 3px -2px rgba(0, 0, 0, 0.75);-0-box-shadow:0 4px 3px -2px rgba(0, 0, 0, 0.75);-ms-box-shadow:0 4px 3px -2px rgba(0, 0, 0, 0.75);box-shadow:0 4px 3px -2px rgba(0, 0, 0, 0.75);}
#wrapperSlider{position:relative !important;margin-left:2%;width:95.5% !important;}
.rslides{position:absolute !important;top:140px;}
.slier480{top:6px;}
.rslides img{height:auto !important;border:1px solid #555555 !important;}
h1{width:100%;margin:12px 0 !important;}
h1 a{background:none !important;width:100%;text-align:center !important;}
.mob_logo img{background:none !important;display:block;margin:0 auto;}
.top_nav_bg{width:100%;height:49px;position:absolute;top:90px;margin-left:-7px;border-top:1px solid #555555;border-bottom:1px solid #555555;background:rgb(76,76,76);background:-moz-linear-gradient(top, rgba(76,76,76,1) 0%, rgba(44,44,44,1) 100%);background:-webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(76,76,76,1)), color-stop(100%,rgba(44,44,44,1)));background:-webkit-linear-gradient(top, rgba(76,76,76,1) 0%,rgba(44,44,44,1) 100%);background:-o-linear-gradient(top, rgba(76,76,76,1) 0%,rgba(44,44,44,1) 100%);background:-ms-linear-gradient(top, rgba(76,76,76,1) 0%,rgba(44,44,44,1) 100%);background:linear-gradient(to bottom, rgba(76,76,76,1) 0%,rgba(44,44,44,1) 100%);filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#4c4c4c', endColorstr='#2c2c2c',GradientType=0);}
.r-navigation .r-navigation_button{border-color:#00adbb !important;background-image:url(../navigation/menu_button.png) !important;background-position:-17px -19px;background-repeat:no-repeat !important;background-color:#00adbb !important;}
.user-use{float:right;border:none;border-radius:0;background:#00ADBB;width:30%;margin-left:2%;margin-right:2.7%;}
.user-use b{font-size:16px;font-weight:normal !important;font-family:Arial,Helvetica,sans-serif;}
.t-right-side{margin:0 10px 0 0%;width:auto;}
.right-top{width:100%;}
.res-show-mini{width:100% !important;background:#fff;}
.midle-boxes.b-space{margin-bottom:8px !important;position:relative;}
.boxs_hr{margin-top:62px;border-top:1px solid #555;margin-left:-6px;margin-right:-7px;}
.main-boxs{margin-top:5px !important;padding-top:0 !important;}
.footer-left-bottom{display:inline-block !important;}
.newhgrp{z-index:2;}
#heading1{font-size:25px;line-height:25px;font-weight:bold;clear:both !important;margin-top:3%;}
#heading1 span{font-family:'calibriregular';font-size:20px;line-height:25px !important;margin:0;}
#heading2{font-size:25px;line-height:25px;margin-top:3%;clear:both !important;}
#heading2 span{line-height:20px;}
#heading3{font-size:25px;line-height:25px;clear:both !important;margin-top:3%;}
#heading3 span{font-size:20px;line-height:25px;}
#heading3 .headinstrong{font-size:25px;line-height:20px !important;font-family:'calibribold';}
#heading4{line-height:25px;font-family:'calibribold';font-size:25px;color:#FFF;margin:3% 0px 6px 0px;}
#heading4 span{font-size:20px;line-height:25px;color:#FFF;font-family:'calibribold';font-weight:normal !important;}
#heading5{line-height:25px;margin-top:3%;}
#heading5 span{font-size:25px;font-family:'calibribold';line-height:25px;display:inline-block;}
#heading6, #heading7{line-height:26px;font-family:'calibriregular';font-size:18px;color:#fff;margin:-15px 0px 8px 0px;}
#heading6 sup, #heading7 sup{font-size:14px;}
#heading6 span, #heading7 span{font-size:32px;font-family:'calibribold';line-height:36px;display:inline-block;color:#fff;}
#heading6 a, #heading7 a{display:block;font-family:'calibribold';font-size:28px;color:#fff;width:190px;padding:5px 8px 8px;margin-top:15px;background:url(../slider/images/aarow.png) 95% center no-repeat;border:1px solid #FFF;border-radius:5px;-moz-border-radius:5px;-webkit-border-radius:5px;line-height:30px;}
#heading6 a:hover, #heading7 a:hover{text-decoration:none;}
.box-1{margin-bottom:7px !important;}
.box-1_last{margin-bottom:-2px !important;}
.r-navigation .r-navigation_button{border-color:#00adbb !important;background-image:url(../navigation/menu_button.png) !important;background-position:-17px -19px;background-repeat:no-repeat !important;background-color:#00adbb !important;float:left;}
.add-cart-section{border-color:transparent !important;margin-left:0;width:100%;height:35px;background:none;}
.inner-right-top{margin-top:0;padding-top:0;padding-left:47px;width:100%;}
.get-location{width:auto !important;}
.demo-box-d{position:relative;background:#00ADBB;width:30%;}
.mob_menu{display:inherit;color:#FFFFFF;background:#00adbb;font-size:16px;left:43px;line-height:36px;position:absolute;border:1px solid #00adbb;margin-top:-1px;padding-right:7px;margin-right:7px !important;margin-left:-2px;}
.add-cart-section .basket-mini{float:left;margin-left:12%;}
.cart-count{background:none;color:#f4721a;font-size:14px;padding:2px 6px;width:auto;left:50%;top:25%;right:auto;}
.add-cart-section .cart-arrow{margin-right:5px;}
.linebrk{display:inline;clear:none;}
.l-r-left{border-right:none;padding:5px 10px 2px 38px;width:auto;}
.user-use a.l-r-left{width:55px;padding:11px 11px 11px 38px;border-right:none;}
.box-heading{font-size:18px;}
.r-screen-b{top:0;}
.right-top{padding:0px 0 0 47px;}
.b-screen .h-font, .box-heading{font-size:14px !important;letter-spacing:0 !important;}
.video-container{padding-top:8px;}
.students-box{min-height:135px !important;height:auto;}
.students-box p{word-wrap:break-word;padding:7px 2px;}
}
@media only screen and (min-width:240px) and (max-width:320px){body{position:relative;background:#6ABC73 !important;background:-moz-linear-gradient(top, rgba(106,188,115,1) 50%, rgba(204,236,222,1) 100%);background:-webkit-gradient(linear, left top, left bottom, color-stop(50%,rgba(106,188,115,1)), color-stop(100%,rgba(204,236,222,1)));background:-webkit-linear-gradient(top, rgba(106,188,115,1) 50%,rgba(204,236,222,1) 100%);background:-o-linear-gradient(top, rgba(106,188,115,1) 50%,rgba(204,236,222,1) 100%);background:-ms-linear-gradient(top, rgba(106,188,115,1) 50%,rgba(204,236,222,1) 100%);background:linear-gradient(to bottom, rgba(106,188,115,1) 50%,rgba(204,236,222,1) 100%);}
header{height:131px;}
.r-screen-b{top:5px;}
.top_nav_bg{width:100%;height:49px;position:absolute;top:90px;margin-left:-6px;border-top:1px solid #555555;border-bottom:1px solid #555555;background:rgb(76,76,76) !important;background:-moz-linear-gradient(top, rgba(76,76,76,1) 0%, rgba(44,44,44,1) 100%) !important;background:-webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(76,76,76,1)), color-stop(100%,rgba(44,44,44,1)));background:-webkit-linear-gradient(top, rgba(76,76,76,1) 0%,rgba(44,44,44,1) 100%);background:-o-linear-gradient(top, rgba(76,76,76,1) 0%,rgba(44,44,44,1) 100%);background:-ms-linear-gradient(top, rgba(76,76,76,1) 0%,rgba(44,44,44,1) 100%);background:linear-gradient(to bottom, rgba(76,76,76,1) 0%,rgba(44,44,44,1) 100%);filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#4c4c4c', endColorstr='#2c2c2c',GradientType=0);}
.newhgrp{font-size:20px;}
.newhgrp h2{line-height:none !important;}
#heading1{font-size:25px;line-height:25px;font-weight:bold;clear:both !important;margin-top:3%;}
#heading1 span{font-family:'calibriregular';font-size:20px;line-height:25px !important;margin:0;}
#heading2{font-size:25px;line-height:25px;margin-top:3%;clear:both !important;}
#heading2 span{line-height:20px;}
#heading3{font-size:25px;line-height:25px;clear:both !important;margin-top:3%;}
#heading3 span{font-size:20px;line-height:25px;}
#heading3 .headinstrong{font-size:25px;line-height:20px !important;font-family:'calibribold';}
#heading4{line-height:25px;font-family:'calibribold';font-size:25px;color:#FFF;margin:3% 0px 6px 0px;}
#heading4 span{font-size:20px;line-height:25px;color:#FFF;font-family:'calibribold';font-weight:normal !important;}
#heading5{line-height:25px;margin-top:3%;}
#heading5 span{font-size:25px;font-family:'calibribold';line-height:25px;display:inline-block;}
#heading6, #heading7{line-height:20px;font-family:'calibriregular';font-size:15px;color:#fff;margin:-8px 0px 8px 0px;}
#heading6 sup, #heading7 sup{font-size:12px;}
#heading6 span, #heading7 span{font-size:26px;font-family:'calibribold';line-height:32px;display:inline-block;color:#fff;}
#heading6 a, #heading7 a{display:block;font-family:'calibribold';font-size:25px;color:#fff;width:180px;padding:3px 8px 6px;margin-top:20px;background:url(../slider/images/aarow.png) 95% center no-repeat;border:1px solid #FFF;border-radius:5px;-moz-border-radius:5px;-webkit-border-radius:5px;line-height:26px;}
#heading6 a:hover, #heading7 a:hover{text-decoration:none;}
.heading-height{height:95px;}
h1{width:97%;margin:11px 0;}
h1 a{background:none;width:100%;}
header{position:relative !important;padding-bottom:10px;}
.user-use{float:right;margin-right:0px;border:none;border-radius:0;}
.user-use b{font-size:16px;font-weight:normal !important;font-family:Arial,Helvetica,sans-serif;}
.t-right-side{margin:0 0px 0 18px;width:26%;}
.right-top{width:100%;}
.res-show-mini{width:100% !important;}
.boxs_hr{margin-top:62px;border-top:1px solid #555;margin-left:-6px;margin-right:-7px;}
.main-boxs{margin-top:67px !important;padding-top:0 !important;}
.footer-left-bottom{display:inline-block !important;text-align:center;}
.newhgrp{z-index:auto;}
.mob_logo{background:none !important;width:100%;}
.mob_logo img{background:none !important;width:100%;display:block;margin:0 auto !important;}
.box-1_last{margin-bottom:-2px !important;}
.r-navigation .r-navigation_button{border-color:#00adbb !important;background-image:url(../navigation/menu_button.png) !important;background-position:-17px -19px;background-repeat:no-repeat !important;background-color:#00adbb !important;}
.add-cart-section{background:#fff;border-color:transparent !important;margin-left:0;width:100%;height:35px;margin-top:5px;}
.inner-right-top{margin-top:0;padding-top:0;width:100%;}
.get-location{width:auto !important;}
.demo-box-d{position:relative;}
.mob_menu{display:inherit;color:#FFFFFF;background:#00adbb;font-size:16px;left:40px;line-height:36px;position:absolute;border:1px solid #00adbb;padding:0 3px;margin-right:7px !important;width:59%;}
.add-cart-section .basket-mini{float:left;margin-left:3px;}
.cart-count{background:none;color:#f4721a;font-size:14px;padding:2px 6px;width:auto;left:42%;top:25%;right:auto;}
.add-cart-section .cart-arrow{margin-right:5px;}
.linebrk{display:inline;clear:none;}
.newhgrp{z-index:auto;}
.box-heading{font-size:18px;}
.user-use a.l-r-left{border-right:none;width:55px;padding-bottom:11px;}
.right-top{padding:inherit;}
.b-screen .h-font, .box-heading{font-size:14px !important;letter-spacing:0 !important;}
.video-container{padding-top:7px !important;}
.students-box{min-height:135px !important;height:auto;}
.students-box p{word-wrap:break-word;padding:7px 2px;}
.idTabs li a.selected:after, .idTabs li a.selected:before{display:none;}
.idTabs li a{width:96%;}
.responc-social-icon{width:100%;float:left;}
.demo3-d ul li .responc-social-icon a{width:100%;height:48px;padding:0px !important;float:left;color:#bcbdbc !important;border-top:1px solid #4d4a49;font-size:16px !important;}
.responc-social-icon a:first-child{border-top:none;}
.responc-social-icon a:hover{color:#ffffff !important;}
.responc-l-facebook span{background:url(../images/responcive-social-icon.png) left 0px no-repeat !important;width:49px !important;height:48px !important;float:left !important;margin:0px !important;}
.responc-l-facebook:hover{background:#305891 !important;}
.responc-l-twitter{}
.responc-l-twitter span{background:url(../images/responcive-social-icon.png) left -48px no-repeat !important;width:49px !important;height:48px !important;float:left !important;margin:0px !important;}
.responc-l-twitter:hover{background:#2ca8d2 !important;padding:0% 0px 0% 0px;}
.responc-l-mail{}
.responc-l-mail span{background:url(../images/responcive-social-icon.png) left -96px no-repeat !important;width:49px !important;height:48px !important;float:left !important;margin:0px !important;}
.responc-l-mail:hover{background:#007bb6 !important;padding:0% 0px 0% 0px;}
.responc-l-print{}
.responc-l-print span{background:url(../images/responcive-social-icon.png) 0px -144px no-repeat !important;width:49px !important;height:48px !important;float:left !important;margin:0px !important;}
.responc-l-print:hover{background:#c44444 !important;padding:0% 0px 0% 0px;}
.responc-l-share{}
.responc-l-share span{background:url(../images/responcive-social-icon.png) 0px -192px no-repeat !important;width:49px !important;height:48px !important;float:left !important;margin:0px !important;}
.responc-l-share:hover{background:#f8694d !important;padding:0% 0px 0% 0px;}
.demo6-d ul li a{font-size:14px;}
.responcive-right-ip-1 .responcive-submit-enquiry a, .responcive-right-ip-1 .responcive-submit-enquiry a:hover{padding:5px 10px 4px;font-size:14px;}
.responcive-right-ip-1 .responcive-fgpassword a, .responcive-right-ip-1 .responcive-fgpassword a:hover{font-size:11px;margin-top:0px;}
.idams-box span{line-height:22px;padding-bottom:10px;display:block;font-size:16px;}
.how-to-apply-heading{font-size:19px;}
.how-to-apply-heading span{display:none;}
.privacy-content p, .shortcut-to-nimhans p, .benefits li{font-size:13px}
.video-box-1{width:94%;margin-bottom:20px;}
.achievment-videos-section ul li{padding-bottom:0px;}
.wrapper{width:96%;min-width:96%;max-width:96%;}
.achievment-left-links ul li ol.achievment-inner{padding:0px 0px 10px 1% !important;width:99% !important;}
.respo-achievement{width:100% !important;padding:0px 0px 0px 0px !important;}
.respo-achievement .inner-left-heading{width:100% !important;}
.respo-achievement .schedule-mini-series{margin-top:0px;}
.respo-achievement .idTabs li a{font-size:12.3px;}
.respo-achievement .schedule-mini-series .mini-heading{font-size:20px;}
.respo-achievement .schedule-mini-top span{font-size:13px;padding-left:3%;}
.respo-achievement .schedule-mini-content span{font-size:13px;padding-left:3%;}
.respo-achievement .one-part{width:18%;}
.respo-achievement .three-part{display:none;}
.respo-achievement .one-parts{width:18%;font-size:13px;}
.respo-achievement .two-parts{font-size:13px;width:75% !important;}
.respo-achievement .three-parts{display:none;}
.cart-section{width:206px;float:right;right:97px;padding:3px 0px;z-index:99;top:50px;border:1px solid #f68b43;background:#fff;position:absolute;}
.footer-left{width:100%;}
.footer-left-bottom{display:none;}
.footer-left-top span.v-line{display:none;}
.footer-left-top a{display:block;padding:4px 0px;margin:0px 0px 2px 0px;font-size:14px;float:none;text-align:center;}
.footer-left-top a:hover, .footer-left-top a:active{background:#dadada;color:#616161;text-decoration:none;text-shadow:1px 1px 0px #ebebeb;}
.footer-left-top{padding:0px;}
.footer-right{padding:10px 0px 0px 0px;width:100%;}
.google-plus{margin-right:0px;float:none;text-align:center;}
.google-plus, .apple-store{display:block;margin:0px auto 10px auto;float:none;}
.google-plus a, .apple-store a{display:block;margin:0px auto 10px auto;text-align:center;float:none;}
.navbar{display:block;}
.hidden-link, .qustion-chat, .group1-Wrapper, .top-header, .social-icon{display:none;}
.midle-boxes hgroup h2{padding:0% 0% 0% 2%;line-height:24px;font-size:22px;}
.midle-boxes hgroup h2 span{font-size:16px;}
.top-nav{width:auto;}
.box-1{width:auto;margin:6px 0 !important;padding:6px;float:none;display:block;}
.box-heading{background:url(../images/box-line.png) left bottom repeat-x;font-size:20px;}
.midle-boxes{margin-bottom:160px;}
.main-boxs{margin:40px auto 0px auto;width:100%;}
footer{line-height:18px;width:96%;padding:6px 2%;font-size:12px;position:inherit;float:left;}
.content-right, .content-left{width:100%;}
.pg-medical-main{width:99%;display:none;}
.content-right{padding:25px 0px 0px 0px;}
.inner-midle-content{width:100%;float:none;margin:0px auto;}
.course-box{width:92%;float:left;padding:15px 4%;text-align:justify;}
.pg-content-box{padding:15px 13px 15px 2%;width:91%;}
.slide-arrow{display:none;}
.recent-pg-heading{font-size:16px;}
.pg-content-box ul li{padding:0% 0% 0% 2%;width:100%;}
.n-videos, .n-heading{width:95%;padding:0px 0px 0px 5%;line-height:44px;font-size:18px;}
.n-videos span, .n-heading span{display:none;}
.content-left{margin:5px 0px 0px 0px;}
.videos-content-box{padding:10px 5% 14px 5%;width:89.2%;}
.videos-content-box img{width:100%;}
.box-bottom-1{padding-left:0px;width:100%;}
.news-content-box{padding:0px 0px 0px 0%;width:99.5%;}
.news-content-box ul li{padding:12px 10px 12px 10px;width:91%;}
.recent-pg-main{padding:15px 4% 10px 4%;width:92%}
.recent-pg-main ul{padding:8px 0px 0px 0px;height:156px;overflow:hidden;}
.recent-pg-main ul li{margin:0px 0px 10px 0px;width:98%;padding:3% 1%;}
.recent-pg-main ul li img{width:94%;}
.inner-nav ul{background:url(../images/bignav-right.png) left -6px repeat-x;}
.inner-nav ul li{background:url(../images/mini-nav-line.jpg) left -6px no-repeat;line-height:38px;}
.inner-nav ul li a{padding:0px 13px;font-size:16px;}
.left-nav{background-position:left bottom;height:39px;}
.right-nav{background-position:left bottom;height:39px;}
.banner-left{width:55%;padding:16% 0% 0% 3%;}
.banner-right{width:90%;padding:3% 0px 0px 0px;min-width:inherit;float:none;margin:70px auto 0px auto;}
.banner-right-btns{width:92%;float:right;padding:8px 4% 3px 4%;}
.banner-right-btns a{font-size:20px;line-height:48px;}
.banner-right-btns a span{margin:14px 0px 0px 0px;}
.course-box h3{font-size:24px;}
.course-box p{font-size:13px;line-height:20px;}
.right-nav-icon{height:40px;width:40px;display:block;position:relative;float:right;margin:40px 10px 0px 0px;cursor:pointer;}
.right-nav-icon span{width:35px;height:30px;border:3px solid #f3f3f2;float:right;border-radius:3px;-webkit-border-radius:3px;-moz-border-radius:3px;}
.right-nav-icon span:before{content:'';height:4px;width:25px;background:#f3f3f2;display:block;position:absolute;top:8px;left:7px;box-shadow:0 8px 0 #f3f3f2, 0 16px 0 #f3f3f2;-webkit-box-shadow:0 8px 0 #f3f3f2, 0 16px 0 #f3f3f2;-moz-box-shadow:0 8px 0 #f3f3f2, 0 16px 0 #f3f3f2;}
.pg-heading{width:98%;font-size:16px;}
.pg-heading span{display:none;}
.head-office-left{width:100%;}
.head-office-right{display:none;}
.gallery-left{width:100%;}
.gallery-right{width:100%;}
.space-nil{margin-bottom:0px;padding:0px;}
.banner-left{display:none;}
.enquiry-input{margin:0px 0px 10px 0px;padding:7px 0px 5px 4%;font-size:13px;}
.select-input{margin:0px 0px 10px 0px;padding:5px 7px 5px 5px;font-size:13px;}
.big-nav, .inner-nav{display:none;}
.top-header{display:none;}
.inner-left-heading h4{font-size:24px;}
.office-location h5{font-family:'pt_sansbold';font-size:15px;}
.office-location ul li.location{background:none;padding-left:0px;}
.office-location ul li.cell{background:none;padding-left:0px;}
.office-location ul li.mobile{background:none;padding-left:0px;}
.office-location ul li.web-link{background:none;padding-left:0px;}
.course-icons{display:none;}
.how-to-apply-heading{font-size:22px;}
.showme-main{padding-top:10px;}
.course-detail{padding:0px;}
.accordionButton{font-size:14px;width:95%;padding-bottom:9px;padding-top:13px;}
.inner-left-heading h4{font-size:24px;}
.course-detail-content span{font-size:13px;line-height:20px;}
.course-detail p{font-size:13px;line-height:22px;}
.map-content-left{margin:0px 0px 20px 0px;width:100%;height:auto;}
.map-content-right{padding:1% 1% 1px 1%;width:98%;}
.state-location ul li label{display:none;}
.center-box ul li.location-ico{background:none;}
.center-box ul li{padding:0px;}
.get-location{margin-left:0px;}
.neareast-center-main span.responciveslides{background:none;display:none;}
.neareast-center-main span.mini-responcive{display:block;background:none;padding-right:0px;font-size:15px;font-family:'pt_sansregular';}
.neareast-center-main{width:auto;}
.state-location{width:98%;padding:0px;}
.state-location ul li{width:100%;padding:10px 0px 0px 0px;}
.state-location ul li .input-l{width:100%;}
.submit-center{margin-left:0px;}
.inner-center h4{font-size:24px;}
.test-series-content{padding:0px;}
.some-points li{line-height:24px;}
.some-points li span.blue_arrow{margin:5px 8px 0px 0px;}
.download{margin:0% auto 3% auto;float:none;display:table;width:92%;}
.orange-box{background:url(../images/orange-box.jpg) right top no-repeat #ff5a3a;width:auto;}
.inner-left-heading h4{font-size:20px;margin-top:20px;}
.inner-left-heading.resp-down h4{font-size:20px;}
.duration-content li{font-size:14px;line-height:26px;}
.show-me{margin:0px 0px 20px 0px;}
.show-me span{font-size:13px;}
.show-me ul li{padding:0px 3%;}
.show-me ul li a{font-size:13px;}
.gallery-list{width:92%;margin:0px auto 0px auto;padding:0px;float:none;}
.gallery-list ul li{height:auto;background:#ffffff;overflow:hidden;}
.gallery-list ul li a{padding:1% 1% 0px 1%;}
.dots{width:90%;}
.mini-list{display:none;}
.mini-event-list{width:100%;float:left;padding:5px;margin:5px 0px 0px 0px;display:block;}
.main-position-set ul li{margin:0px;}
.position-set-right, .position-set-left{width:100%;margin:0px 0px 15px 0px;}
.inner-center h4{font-size:24px;}
.career-content p{font-size:13px;}
.position-content p{font-size:13px;}
.position-heading span{display:none;}
.position-heading{font-family:'pt_sansregular';font-size:15px;}
.news-main ul li{background:none;padding-left:0px;}
.news-main ul li a{font-size:13px;}
.news-main ul li p{font-size:13px;}
.testimonials-content{font-size:15px;line-height:22px;}
.menu2{width:100%;}
.menu-content ul li{line-height:34px;}
.menu-content ul li a{font-size:16px;}
.main-test ul li{margin-left:0 !important;}
.main-test ul li span{font-size:18px;}
.icons-adjust{width:97%;}
.course-icons span.monitor{margin-right:40%;}
}
@media only screen and (min-width:240px) and (max-width:319px){.top_nav_bg{margin-left:-5px;}
.demo-box-d{position:relative;background:#00ADBB;width:auto;}
.mob_menu{display:none;}
.user-use{float:right;border:1px solid #00ADBB;border-right:none;border-radius:0;background:#00ADBB;width:auto;margin-left:2%;margin-right:3px;}
.user-use b{font-size:12px;font-weight:normal !important;font-family:Arial,Helvetica,sans-serif;}
.t-right-side{margin:0 5px 0 6%;width:25%;}
.right-top{width:100%;}
#heading1{font-size:16px;line-height:25px;font-weight:bold;clear:both !important;margin-top:2%;}
#heading1 span{font-family:'calibriregular';font-size:14px;line-height:25px !important;margin:0;}
#heading2{font-size:16px;line-height:25px;margin-top:2% !important;clear:both !important;}
#heading2 span{line-height:20px;font-size:14px;}
#heading3{font-size:16px;line-height:25px;clear:both !important;margin-top:2%;}
#heading3 span{font-size:14px;line-height:25px;}
#heading3 .headinstrong{font-size:20px;line-height:20px !important;font-family:'calibribold';}
#heading4{line-height:25px;font-family:'calibribold';font-size:16px;color:#FFF;margin:2% 0px 6px 0px;}
#heading4 span{font-size:14px;line-height:25px;color:#FFF;font-family:'calibribold';font-weight:normal !important;}
#heading5{line-height:25px;margin-top:0%;font-size:16px !important;}
#heading5 span{font-size:16px !important;font-family:'calibribold';line-height:18px !important;display:inline-block;}
#heading6, #heading7{line-height:16px;font-family:'calibriregular';font-size:12px;color:#fff;margin:0px 0px 8px 0px;}
#heading6 sup, #heading7 sup{font-size:10px;}
#heading6 span, #heading7 span{font-size:24px;font-family:'calibribold';line-height:30px;display:inline-block;color:#fff;}
#heading6 a, #heading7 a{display:block;font-family:'calibribold';font-size:20px;color:#fff;width:138px;padding:4px 7px 8px;margin-top:10px;background:url(../slider/images/aarow.png) 95% center no-repeat;border:1px solid #FFF;border-radius:5px;-moz-border-radius:5px;-webkit-border-radius:5px;line-height:14px; background-size:11% auto;}
#heading6 a:hover, #heading7 a:hover{text-decoration:none;}
.midle-boxes{margin:4% 0 0px 0px;}
.top_nav_bg{top:75px;}
header{padding-bottom:0px;height:125px;}
h1{width:auto;margin:10px 0;width:100%;}
h1 a{height:57px;}
.rslides{top:126px;}
.main-boxs{margin-top:35px !important;}
.box-heading{font-size:18px;}
.b-screen .h-font, .box-heading{font-size:14px !important;letter-spacing:0 !important;}
.achievment-left{width:100%;}
.video-container{padding-top:5px !important;}
.photogal{font-size:12px;margin-left:0 !important;}
.recent-pg-heading1 span{display:none;}
.recent-pg-heading1{font-size:12px;}
.idTabs li a.selected:after, .idTabs li a.selected:before{content:none;}
#wrapperSlider{margin-left:2%;width:95.5% !important;top:5px;height:auto;position:absolute;}
.rslides img{height:auto;border:1px solid #444;}
}
@media only screen and (min-width:240px) and (max-width:800px){.about-content{text-align:justify !important;}
.about-content p{font-size:small;}
.book-ur-seat-btn{margin:0;}
.course-detail p{text-align:justify !important;}
.schedule-mini-series .mini-heading{font-size:18px;}
.career-content{text-align:left;}
.news-update-box{background:#fff;}
.news1-main ul li{display:flex;width:100%;}
.news1-main ul li span.right-cal h5{font-size:13px;color:#555555;}
.course-box, .how-to-content, .test-series-content{text-align:justify !important;}
.map-content-left{height:500px;overflow:scroll;}
.responsive_popup{margin:50% 0 0 5% !important;width:90% !important;}
.responsive_popup1{margin-top:-100px;}
.quickenquiry{margin:10% 5%;width:90%;}
header{z-index:999;}
.idTabs li a.mds-tab{padding:0px 1%;}
.onloadPopup #imgholder .img-div1 .blue-button a, .onloadPopup #imgholder .img-div2 .orange-button a{font-size:13px;}
.onloadPopup #imgholder a#onloadPopup-close{right:-14px; margin:-14px 0px 0px 0px;}
}
@media only screen and (min-device-width:240px) and (max-device-width:800px){select{/*background-image:url(../images/slct_arw.png), none !important;background-position:right center !important;background-repeat:no-repeat !important;background-color:#f7f7f7;*/}
.box-1:hover, .box-1:focus{background:url("../images/course-bg.png") repeat scroll left top rgba(0, 0, 0, 0);}
}
@media screen and (max-width:960px){.rslides img{height:100%;}}
@media only screen and (min-width:600px) and (max-width:1023px){#heading6, #heading7{margin:-32px 0px 8px;}}

@media only screen and (max-width: 500px) {
	.students-box{
	   width:100%;
		box-sizing:border-box;
	}
	.border_left_none{
		border-left: 1px dashed #b7b7b7 !important;
	}
	.interview-photos-section {
		-webkit-box-shadow:none;
		-moz-box-shadow: none;
		box-shadow: none;
	}
	.idTabs li a{
		padding: 10px !important;
		width: 100%;
		box-sizing: border-box;
		line-height:20px;
	}
}