.drawer
{
	width:100%;
	border-top:1px solid #E0E0E0;
	border-radius:3px;
}
.accordion{
    border: 2px solid #ccc;
}
.accordion-item
{
	border-bottom:1px solid #E0E0E0;
}
.accordion-item-active .accordion-header
{
	background:#888;
	transition:.25s;
}
.accordion-item-active .accordion-header-icon
{
	color:#fff;
}
.accordion-item-active .accordion-header h1
{
	color:#fff;
}
.accordion-header
{
	background:#f2f2f2;
	padding:12px;
	cursor:pointer;
	border-right:1px solid #E0E0E0;
	border-left:1px solid #E0E0E0;
	min-height:20px;
	transition:.25s;
}
.accordion-header h1
{
	float:left;
	font-size:18px;
	font-weight: normal;
	margin:0;
	line-height: 1.3em;
	color:#212121;
}
.accordion-content
{
	border-left:1px solid #E0E0E0;
	border-right:1px solid #E0E0E0;
	border-top:1px solid #E0E0E0;
	display:none;
	padding:12px;
	color:#212121;
	background:#FFF;
	font-size:15px;
	line-height:1.45em;
}
.accordion-content p
{
	margin:0;
	margin-bottom: 3px;
}
.accordion-header-icon
{
	font-family:"Helvetica Neue",Helvetica,Arial,sans-serif;
	float:right;color:#888;
	font-size: 15px;
	vertical-align: middle;
}
.accordion-header-icon.accordion-header-icon-active
{
	-webkit-transform:rotate(180deg);
	-ms-transform:rotate(180deg);
	transform:rotate(180deg);
	color:#fff;
}
