<style>
#preloader_1{
    position:relative;
}
#preloader_1 span{
    display:block;
    bottom:0px;
    width: 9px;
    height: 5px;
    background:#9b59b6;
    position:absolute;
    animation: preloader_1 1.5s  infinite ease-in-out;z-index:999999
}
 #preloader{position:fixed;width:100%;height:100%;z-index:9999;top:0px;}
#preloader_1 span:nth-child(2){
left:11px;
animation-delay: .2s;
 
}
#preloader_1 span:nth-child(3){
left:22px;
animation-delay: .4s;
}
#preloader_1 span:nth-child(4){
left:33px;
animation-delay: .6s;
}
#preloader_1 span:nth-child(5){
left:44px;
animation-delay: .8s;
}
@keyframes preloader_1 {
    0% {height:5px;transform:translateY(0px);background:#9b59b6;}
    25% {height:30px;transform:translateY(15px);background:#3498db;}
    50% {height:5px;transform:translateY(0px);background:#9b59b6;}
    100% {height:5px;transform:translateY(0px);background:#9b59b6;}
}
.seemore{
    border: 1px solid #fff;
    border-radius: 4px;
    color: #555;
    display: inline-block;
    font-size: 14px;
    margin-left: 300px;
    padding: 8px 452px;
    transition: all 0.2s ease-in 0s;
    background: rgb(214,214,214);
}
.seemore:hover{
   background-color: #08c;
    color: #fff;
}
</style>
<script type="text/javascript" src="view/layout_TestSeries/layout.js" ></script>
<div id="preloader" style="display:none">
<div id="preloader_1" style="
    display: inline-block;
    margin: 41% 54%;
    position: fixed;
    text-align: center;
    width: 100%;">
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
</div>
</div>
<div id="preloaderCenter" style="display:none;
     background: rgba(255, 255, 255, 0.5) none repeat scroll 0 0;
    display: inline-block;
    height: 100%;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 999;">
<div id="preloader_1" style="
    display: inline-block;
    margin: 19% 54%;
    position: fixed;
    text-align: center;
    width: 100%;">
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
</div>
</div>
<!--<script>
jQuery(document).ready(function($) {  


$(window).load(function(){
	$('#preloader').fadeOut('slow',function(){$(this).remove();});
});

});
</script>-->


